body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:38px;
  top:20px;
  width:1302px;
  height:219px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:219px;
}
#u1 {
  position:absolute;
  left:2px;
  top:102px;
  width:1298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:38px;
  top:249px;
  width:766px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:38px;
  top:314px;
  width:886px;
  height:516px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:516px;
}
#u5 {
  position:absolute;
  left:2px;
  top:250px;
  width:882px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:934px;
  top:249px;
  width:396px;
  height:601px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:601px;
}
#u7 {
  position:absolute;
  left:2px;
  top:292px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:956px;
  top:273px;
  width:334px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:941px;
  top:560px;
  width:386px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:382px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:941px;
  top:600px;
  width:386px;
  height:61px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:61px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1245px;
  top:601px;
  width:70px;
  height:39px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:39px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
