<!-- 公用底部-->
<div class="bx-footer">
    <!--友情链接-->
    <div class="bx-footer-links">
        <h2>友情链接</h2>
        <div class="bx-footer-links-content clf">
            <a href="">中金在线保险</a>
            <a href="">贷款</a>
            <a href="">保网</a>
            <a href="">社保查询</a>
            <a href="">O2O理财平台</a>
            <a href="">智汇魔方</a>
            <a href="">P2P网贷平台</a>
            <a href="">保险平台</a>
            <a href="">投资理财</a>
            <a href="">公积金贷款利率</a>
            <a href="">保险资讯</a>
            <a href="">人寿保险</a>
            <a href="">北京抵押贷款</a>
            <a href="" class="right-item">360医疗保险网</a>
            <a href="">虚拟币交易</a>
            <a href="">房产抵押贷款</a>
            <a href="">金十数据</a>
            <a href="">安徽理财网</a>
            <a href="">保险代理人</a>
            <a href="">个人投资理财</a>
            <a href="">悟空说财经</a>
            <a href="">保险培训资料</a>
            <a href="">PPmoney理财</a>
            <a href="">回购利率</a>
            <a href="">私募基金</a>
            <a href="" class="right-item">贵金属公司</a>
        </div>
    </div>
    <!--版权-->
    <div class="bx-footer-copyright">
        <div class="bx-footer-copyright-content">
            <p>
                © 2017 bao361.cn（保险管家）郑州新佳安网络科技有限公司 版权所有 社会信用代码：91410100MA40FDWW77 备案号：粤ICP备14079927号
            </p>
            <p>
                地址：郑州市郑东新区商都路与通泰路交叉口商都世贸中心C座512号 电话：0755-86160888
            </p>
            <div class="clf">
                <a href=""><img src="{{ 'html/img/bx-footer-partner-01.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-02.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-03.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-04.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-05.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-06.png' | uri('www/common') }}" alt=""></a>
            </div>
        </div>
    </div>

</div>
{{ atmjs.loadJs() }}
</body>
</html>