<!-- 公用底部-->
<div class="bx-footer">
    <div class="bx-footer-center">
        <!--服务-->
        <div class="bx-footer-server">
            <!--logo-->
            <img src="{{ 'html/img/bx-footer-logo.png' | uri('www/common') }}" class="bx-footer-logo">
            <!--新手指南-->
            <dl class="bx-footer-guide">
                <dt>新手指南</dt>
                <dd><a href="">了解保险管家</a></dd>
                <dd><a href="">如何投保</a></dd>
                <dd><a href="">保险有疑问</a></dd>
                <dd><a href="">保险顾问特权</a></dd>
            </dl>
            <!--管家服务-->
            <dl class="bx-footer-steward">
                <dt>管家服务</dt>
                <dd><a href="">理赔</a></dd>
                <dd><a href="">保险助手</a></dd>
                <dd><a href="">保险业诚信联盟</a></dd>
                <dd><a href="">钻石顾问</a></dd>
            </dl>
            <!--支付方式-->
            <dl class="bx-footer-payment">
                <dt>支付方式</dt>
                <dd><a href="">网银支付</a></dd>
                <dd><a href="">无网银支付</a></dd>
                <dd><a href="">邮局汇款</a></dd>
                <dd><a href="">银行转帐</a></dd>
            </dl>
            <!--官方微信-->
            <dl class="bx-footer-wx-qr-code">
                <dt>官方微信</dt>
                <img src="{{ 'html/img/bx-footer-wx-qrcode.png' | uri('www/common') }}">
            </dl>
            <!--app下载-->
            <dl class="bx-footer-app-qr-code">
                <dt>APP下载</dt>
                <img src="{{ 'html/img/bx-footer-app-qrcode.png' | uri('www/common') }}">
            </dl>
        </div>
        <!--信息-->
        <div class="bx-footer-info">
            <div class="bx-footer-map">
                <a href="">关于我们</a>
                <span>|</span>
                <a href="">免责声明</a>
                <span>|</span>
                <a href="">联系我们</a>
                <span>|</span>
                <a href="">诚聘英才</a>
                <span>|</span>
                <a href="">意见与反馈</a>
                <span>|</span>
                <a href="">更多钻石顾问</a>
                <span>|</span>
                <a href="">保险岛理赔</a>
                <span>|</span>
                <a href="">网站地图</a>
                <span class="record">公安备案号 41010202002006</span>
            </div>
            <div class="bx-footer-copyright">
                © 2016 BAOXIANGJ.COM（保险管家）增值电信经营许可证号：豫B2-20140026   豫ICP备1300668号
            </div>
            <div class="bx-footer-partner">
                <a href=""><img src="{{ 'html/img/bx-footer-partner-01.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-02.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-03.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-04.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-05.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-06.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-07.png' | uri('www/common') }}" alt=""></a>
            </div>
        </div>
    </div>
</div>
{{ atmjs.loadJs() }}
</body>
</html>