<!-- 公用底部-->
<div class="footer-mini">
    <!--版权-->
    <div class="bx-footer-copyright">
        <div class="bx-footer-copyright-content">
            
            <div class="clf">
                <a href=""><img src="{{ 'html/img/bx-footer-partner-01.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-02.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-03.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-04.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-05.png' | uri('www/common') }}" alt=""></a>
                <a href=""><img src="{{ 'html/img/bx-footer-partner-06.png' | uri('www/common') }}" alt=""></a>
            </div>
            <p>© 2017 bao361.cn（保险管家）郑州新佳安网络科技有限公司 版权所有 备案号：豫ICP备17006962号-1</p>
        </div>
    </div>

</div>
{{ atmjs.loadJs() }}
</body>
</html>