<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {{ atmjs.loadCss() }}
</head>
<body>

<!--公用top-->
<div class="bx-top">
    <div class="clf">
        <span>关注我们</span>
        <div class="fr">
            <!--未登录-->
            <div class="bx-top-not-login">
                <a href="" class="color">登录</a>
                |
                <a href="" class="color">注册</a>
            </div>
            <!--已登录-->
            <div class="bx-top-login"></div>
        </div>
    </div>
</div>
<!--公用header-->
<div class="bx-header">
    <div class="clf">
        <img src="{{ 'html/img/bx-logo.png' | uri('www/common') }}" alt="logo" class="fl" width="210" height="56">
        <div class="bx-header-qr-code">
            <img src="{{ 'html/img/app-qrcode.png' | uri('www/common') }}" alt="">
            <p>保险管家APP</p>
        </div>
        <div class="fr">
            <div class="bx-header-search-box">
                <input type="text" placeholder="请输入...">
                <a href="javascript:;">搜索</a>
            </div>
            <p>热门搜索： <a href="">少儿</a> | <a href="">医疗</a> | <a href="">养老</a> | <a href="">少儿</a> | <a href="">医疗</a> |
                <a href="">养老</a></p>
        </div>
    </div>
</div>
<!--公用nav-->
<div class="bx-nav">
    <ul class="clf">
        <li><a href="">首页</a></li>
        <li><a href="">保险产品</a></li>
        <li class="active"><a href="">保险顾问</a></li>
        <li><a href="">问吧</a></li>
        <li><a href="">咨询</a></li>
    </ul>
</div>
