<div class="popup-login-wrap">
    <div class="popup-login">
        <!--logo-->
        <img src="{{ 'html/img/logo.png' | uri('www/common') }}" alt="logo" class="popup-login-logo" width="56" height="56">
        <!--close-->
        <div class="popup-login-close">x</div>
        <!--title-->
        <div class="popup-login-title">登录保险管家</div>
        <!--form-->
        <form action="" class="popup-login-form">
            <input type="text" class="popup-login-input-text" placeholder="手机/邮箱">
            <input type="password" class="popup-login-input-text" placeholder="密码">
            <div class="popup-login-row clf">
                <div class="fl">
                    <input type="checkbox" class="popup-login-input-checkbox">自动登录
                </div>
                <div class="fr">
                    <a href="" class="color">注册保险管家账号</a><span class="division-line">|</span><a href="" class="color">忘记密码？</a>
                </div>
            </div>

            <div class="popup-login-submit">登录</div>
        </form>
    </div>
    <div class="popup-mask"></div>
    
</div>        