#Index .index-adviser .left {
    background: url("../img/index-adviser-left-bg.png") repeat-x 0 0;
}

#Index .index-adviser .left .feature {
    height: 153px;
    background-image: url('../img/index-adviser-left-feature.png');
}

#Index .index-adviser .left .links-btn {
    color: #ffffff;
    background-color: #91cc9a;
    float: left;
}

#Index .index-adviser .left .links-btn:nth-child(2n-1) {
    margin-right: 4px;
}

#Index .index-adviser .left .links-btn:hover {
    background-color: #97d1a0;
}

#Index .index-adviser .right {
    float: right;
    width: 920px;
    overflow: hidden;
}

#Index .index-adviser .right-row {
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    margin-bottom: 1px;
}

#Index .index-adviser .right-row:last-child{
    margin-bottom: 0;
}

#Index .index-adviser .right-item {
    display: block;
    float: left;
    width: 230px;
    height: 120px;
}

#Index .index-adviser .right-item img {
    float: left;
    display: block;
    width: 78px;
    height: 78px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #dbddde;
    margin: 20px 30px 20px 20px;
}

#Index .index-adviser .right-item .word-wrap{
    float: left;
    width: 100px;
    height: 120px;
    display: table;
}

#Index .index-adviser .right-item .word{
    width: 100px;
    height: 120px;
    display: table-cell;
    line-height: 24px;
    vertical-align: middle;
    overflow: hidden;
}

#Index .index-adviser .right-item h4 {
    font-size: 14px;
}

#Index .index-adviser .right-item p {
    font-size: 12px;
    color: #808080;
}