#Index .index-adviser .left {
    background: url("../img/index-adviser-left-bg.png") repeat-x 0 0;
}

#Index .index-adviser .left .feature {
    height: 153px;
    background-image: url('../img/index-adviser-left-feature.png');
}

#Index .index-adviser .left .links-btn {
    color: #ffffff;
    background-color: #91cc9a;
    float: left;
}

#Index .index-adviser .left .links-btn:nth-child(2n-1) {
    margin-right: 4px;
}

#Index .index-adviser .left .links-btn:hover {
    background-color: #97d1a0;
}

#Index .index-adviser .right {
    float: right;
    width: 920px;
    overflow: hidden;
}

#Index .index-adviser .right-item {
    float: left;
    width: 210px;
    height: 240px;
    margin-left: 20px;
    background-color: #ffffff;
    text-align: center;
}

#Index .index-adviser .right-item:nth-child(1),
#Index .index-adviser .right-item:nth-child(2),
#Index .index-adviser .right-item:nth-child(3),
#Index .index-adviser .right-item:nth-child(4) {
    margin-bottom: 1px;
}

#Index .index-adviser .right-item img {
    display: block;
    width: 118px;
    height: 118px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #dbddde;
    margin: 20px auto;
}

#Index .index-adviser .right-item h4 {
    font-size: 18px;
    line-height: 2;
}

#Index .index-adviser .right-item p {
    font-size: 14px;
    line-height: 2;
    color: #808080;
}