.index-ask .left{
    background: url("../img/index-ask-left-bg.png") repeat-x 0 0;
}
.index-ask .left .feature{
    height: 153px;
    background-image: url('../img/index-ask-left-feature.png');
}
#Index .index-ask .left .links-btn{
    display: block;
    color: #ffffff;
    background-color: #91cc9a;
}

.index-ask .right{
    float: right;
    width: 639px;
    height: 454px;
    padding: 14px 0 13px 281px;
    background: #fff url('../img/index-ask-right-bg.png') no-repeat 0 0;
    overflow: hidden;
}
.index-ask .right-item{
    height: 60px;
    padding: 15px 39px;
    line-height: 30px;
    font-size: 14px;
    border-bottom: 1px solid #eaf1f3;
    position: relative;
}

.index-ask .right-item:last-child{
    border-bottom: none;
}

.index-ask .right-item .ask-icon{
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-top: 3px;
}

.index-ask .right-item h4,
.index-ask .right-item p{
    width: 420px;
    height: 30px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.index-ask .right-item-answer{
    color: #9e9e9e;
}

.index-ask .right-item .answer-number{
    position: absolute;
    right: 39px;
    top: 17px;
    width: 48px;
    height: 48px;
    background-color: #ffd84f;
    color: #808080;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
}
.index-ask .right-item .answer-number b{
    display: block;
    font-size: 18px;
    margin-top: 8px;
}