{% extends "m_base.html" %}
{% block header_title %}问吧详情{% endblock %}
{% block title %}保险费计算_保险在线咨询{{ ask_obj.ask_content }}_保险管家{% endblock %}
{% block keywords %}保险费计算_保险在线咨询{{ ask_obj.get_keywords }} 保险管家{% endblock %}
{% block description %}保险费计算_保险在线咨询{{ ask_obj.ask_content }} 保险管家{% endblock %}
{% load math %}
{% load range %}
{% block content %}
    {% with ask=ask_obj %}
        {% with ask_user=ask.get_user %}
            <div class="row row-content" style="padding-top: 20px">
                <div class="chat-panel panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading">
                        <i class="glyphicon  glyphicon-question-sign    fa-fw"></i>问题详情
                        {% with user_area_info=ask_user.get_province_city_info %}
                            {% if user_area_info %}
                                <div style="float: right">
                                    <i class="glyphicon  glyphicon-map-marker"></i> {{ user_area_info }}

                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="panel-body" style="height: auto;overflow: auto;padding-bottom: 5px ">
                        <ul class="chat">

                            <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="{{ ask_user.get_img_url }}" alt="User Avatar"
                                             class="img-circle" style="width: 50px;height: 50px">
                                    </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{ ask_user.get_hide_namecontent }}</strong>
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i> {{ ask.get_date_time }}
                                        </small>
                                    </div>
                                    <p>
                                        <a href="/ask/detail/{{ ask.askid }}.html"
                                           style="color: #333">{{ ask.ask_content }}</a>
                                    </p>
                                </div>
                                <div style="font-size: 85% ;padding-top: 2px;color:{% if not   ask.get_answer_count %}#777;{% else %}#337ab7{% endif %}">
                                    <i class="fa fa-comment-o">&nbsp;</i>{{ ask.get_answer_count }}个回答
                                    {% if ask.get_answer_count %}
                                        {% with last_ans=ask.get_last_ans %}
                                            {% with last_ans_user=last_ans.get_user %}
                                                {{ last_ans_user.get_namecontent }} 于{{ last_ans.get_date_time }}提交了新的答案
                                            {% endwith %}
                                        {% endwith %}
                                    {% endif %}
                                </div>
                            </li>


                        </ul>
                                            <div style="float: right">
                <button type="button" class="btn btn-outline btn-primary btm-xs" style="font-size: 13px;padding: 4px 7px;"
                id="main-ans-form-tabbutton">我来回答</button>
                                                                <a role="button" class="btn btn-outline btn-primary btm-xs" style="font-size: 13px;padding: 4px 7px;"
                href="/ask/">我要提问</a>

        </div>
                                    <form role="form" id="main-ans-form" method="post" style="display: none" action="{{ request.path }}">
                    {% csrf_token %}
                                                                <div style="display: none ">
                                    <input name="next" value="/ask/detail/{{ ask_obj.askid }}.html" style="display: none">
                                </div>
                    <div class="form-group" style="margin-bottom: 5px">

                        <textarea class="form-control" rows="3" placeholder="请发表你的专业答案(不超过200字)" name="content"
                                  required="required"></textarea>
                    </div>
                    <div class="form-group" style="margin-bottom: 5px">
                        <div style="float: right">
                            <div>
                                <button type="submit" class="btn  btn-primary btn-sm " style="width: 70px">提交</button>
                            </div>

                        </div>
                    </div>
                </form>
                    </div>

                </div>
            </div>
        {% endwith %}
    {% endwith %}
    <div class="row row-content">

    </div>

    <div class="row row-content">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-comments  fa-fw"></i>所有回答
            </div>
            <div class="panel-body">
                <ul class="chat">
                    {% for  ans in allinfo %}
                        {% with ans_user=ans.get_user %}
                            <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="{{ ans_user.get_img_url }}" alt="User Avatar"
                                             class="img-circle" style="width: 50px;height: 50px">
                                        <p><span class="label label-info">{{ ans_user.get_short_comname }}</span></p>
                                    </span>
                                <div>

                                </div>

                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{ ans_user.get_namecontent }}</strong>
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i> {{ ans.get_date_time }}
                                        </small>
                                    </div>
                                    <p>
                                        {{ ans.ans_content }}
                                    </p>
                                </div>
                                <div style="font-size: 85% ;padding-top: 2px;color:#337ab7">
                                    <div style="float: left">
                                        <i class="fa fa-comment-o">&nbsp;</i>已解决{{ ans_user.ans_num }}个问题
                                    </div>
                                    <div style="float: right">
                                        <i class="fa fa-thumbs-o-up ans_good" ansid="{{ ans.ansid }}">&nbsp;<span>{% if ans.good_num %}{{ ans.good_num }}{% endif %}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i><i class="glyphicon  glyphicon-map-marker"></i>{{ ans_user.get_province_city_info }}

                                    </div>

                                    <i></i>
                                </div>
                            </li>
                        {% endwith %}
                    {% endfor %}

                </ul>
            </div>

            {% if allinfo.paginator.num_pages >= 2 %}
                <div class="panel-footer" style="text-align: center">

                    <ul class="pagination">
                        {% if allinfo.has_previous %}
                            <li><a href="/ask/detail/{{ ask_id }}.html/{{ allinfo.previous_page_number }}/">
                                &lt;</a></li>
                        {% endif %}
                        {% for t in allinfo.number|near:3 %}
                            {% if t > 0 and t <= allinfo.paginator.num_pages %}
                                <li class=" {% if t == allinfo.number %}active{% endif %}"><a
                                        href="/ask/detail/{{ ask_id }}.html/{{ t }}/"
                                >{{ t }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if allinfo.has_next %}
                            <li><a href="/ask/detail/{{ ask_id }}.html/{{ allinfo.next_page_number }}/">&gt;</a></li>
                        {% endif %}
                    </ul>

                </div>
            {% endif %}
        </div>
    </div>




    <div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body" id="myModeal-body">

                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <div>

        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="loginModalLabel">请登录</h4>
                    </div>
                    <div class="modal-body" id="loginModeal-body" style="padding: 3px 3px;">
                        <div class="row row-content" style="padding-top: 1px">
                            <div class="alert alert-danger alert-dismissable" id="login-error-message"
                                 style="display: none">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <p></p>

                            </div>
                            <div class="alert alert-info alert-dismissable" id="login-success-message"
                                 style="display: none">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <p></p>
                            </div>
                            <form class=" col-xs-12 form-horizontal" role="form" id="main-form" method="post"
                                  action="/login/?next={{ request.path|urlencode }}">
                                {% csrf_token %}

                                <div class="form-group">
                                    {#                        <label for="firstname" class="col-xs-4 control-label">手机号：</label>#}
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control"
                                               placeholder="手机号" id="username" name="username">
                                    </div>
                                </div>


                                <div class="form-group">
                                    {#                        <label for="firstname" class="col-xs-4 control-label">手机号：</label>#}
                                    <div class="col-xs-12">
                                        <input class="form-control"
                                               placeholder="密码" id="password" name="password" type="password">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div>
                                            <button type="submit" class="btn btn-primary  btn-block"
                                                    style="width: 100%">提交
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row row-content" style="padding-bottom: 15px">
                            <div class="col-xs-offset-1 col-xs-10">
                                <a href="/register/">注册</a>
                                <a href="/forgotpwd/" class="pull-right">忘记密码</a>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    {% include "m_dailiren_common.html" %}
{% endblock %}
{#{% block footer %}#}
{#{% endblock %}#}
{% block customjs %}
    <script src="/static/jquery.validater.min.js"></script>
    <script>
        jQuery(".ans_good").click(function(){
            var _=jQuery(this);
            jQuery.getJSON("?good=1&ansid="+ _.attr("ansid"),function(data){
                _.children().text(data.message);
            })

        });
        jQuery("#main-ans-form-tabbutton").click(function(){
            jQuery("#main-ans-form-tabbutton").hide();
            jQuery("#main-ans-form").show();
        });
        jQuery.validator.addMethod("isMobile", function (value, element) {
            var length = value.length;
            var mobile = /^(1[0-9]{2}\d{8})$/;
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, "请正确填写您的手机号码");

        function modal_message(message, msec) {
            jQuery("#myModeal-body").text(message);
            jQuery("#myModal").modal("show");
            setTimeout(function () {
                jQuery("#myModal").modal("hide");

            }, msec)
        }
    function isWeiXin(){
        var ua = window.navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i) == 'micromessenger'){
            return true;
        }else{
            return false;
        }
    }
    function jump_to_path(path){
        if(window.location.pathname==path){
            if(isWeiXin())
                    window.location.href=window.location.href+"?_rand="+Math.random;
            else
                window.location.reload();
        }
        else
            window.location.href=path;
    }
        function direct_302(address, msec) {
            setTimeout(function () {
                jump_to_path(address);
            }, msec);
        }
        function process_response(data) {
            var errcode = data.errorCode;
            if (errcode) {
                if (errcode == 500) {
                    var errmessage = data.formError.fields[0].msg;
                    modal_message(errmessage, 1200);
                }
                else if (errcode == 800) {
                    jQuery("#loginModal").modal("show");

                }

            }
            else {
                var successmsg = data.msg;
                var direct_to = data.formSuccess.redirect;
                var msec = data.formSuccess.duration;
                modal_message(successmsg, 1200);
                direct_302(direct_to, msec)
            }
        }

        $(document).ready(function () {


            $("#main-ans-form").validate({
                        rules: {
                            content: {
                                required: true
                            }

                        },
                        messages: {
                            content: {
                                required: "请输入具体的回答描述"
                            }
                        },

                        submitHandler: function (form) {

                            jQuery.ajax({
                                url: jQuery(form).attr("action"),
                                type: "POST",
                                dataType: "json",
                                data: jQuery(form).serialize(),
                                success: function (data) {
                                    process_response(data);
                                }

                            })
                        }

                    }
            );
            $("#main-form").validate({
                        rules: {
                            username: {
                                required: true,
                                isMobile: true
                            },

                            password: {
                                required: true
                            }

                        },
                        messages: {
                            username: {
                                required: "请输入手机号"
                            },

                            password: {
                                required: "请填写密码"
                            }
                        },

                        submitHandler: function (form) {
                            jQuery.ajax({
                                url: jQuery(form).attr("action"),
                                type: "POST",
                                dataType: "json",
                                data: jQuery(form).serialize(),
                                success: function (data) {
                                    var error_code = data.errorCode;
                                    if (error_code == 500) {
                                        jQuery("#login-success-message").hide();
                                        jQuery("#login-error-message>p").text(data.formError.fields[0].msg);
                                        jQuery("#login-error-message").show();
                                    }
                                    else if (error_code == 0) {
                                        jQuery("#login-error-message").hide();
                                        jQuery("#login-success-message>p").text(data.msg);
                                        jQuery("#login-success-message").show();
                                        var direct_to = data.formSuccess.redirect;
                                        direct_302(direct_to, 1000);
                                        //setTimeout()
                                    }
                                    //process_response(data);
                                }

                            })
                        }

                    }
            );
        });

    </script>
{% endblock %}