.lively-advisers {
    width: 288px;
    height: auto;
    border: 1px solid #ebebeb;
    margin-bottom: 24px;
}

.lively-advisers h3 {
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-indent: 20px;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
}

.lively-advisers .rank-title b {
    font-size: 14px;
}

.lively-advisers .rank-list {
    background-color: #fff;
}

.lively-advisers .rank-item {
    padding: 12px 24px;
    height: 48px;
    border-top: 1px solid #ebebeb;
}

.lively-advisers .rank-item:hover {
    background-color: #f4feff;
}

.lively-advisers .rank-item .fr {
    width: 72px;
    padding: 2px 8px 2px 0;
    text-align: right;
}

.lively-advisers .rank-item .info {
    display: inline-block;
    line-height: 20px;
}

.lively-advisers h4 {
    max-width: 130px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 4px;
}

.lively-advisers .rank-item-link {
    color: #42bad0;
    font-weight: bold;
}

.lively-advisers .rank-item-score {
    display: block;
    color: #424242;
    font-weight: bold;
}

.lively-advisers .rank-item-avatar {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.lively-advisers .rank-item-consult {
    position: relative;
    float: right;
    width: 36px;
    height: 22px;
    line-height: 22px;
    margin-top: 11px;
    background-color: #42bad0;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}
.lively-advisers .rank-item-consult::before{
    content: '';
    position: absolute;
    bottom: -9px;
    left: 14px;
    z-index: 2;
    width: 0;
    height: 0;
    border-width: 5px;
    border-color: #42bad0 transparent transparent;
    border-style: solid;
}