.relative-product {
    width: 886px;
    margin-bottom: 20px;
}

.relative-product h3 {
    font-size: 16px;
    line-height: 35px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
    font-weight: bold;
}

.relative-product-item {
    float: left;
    display: block;
    width: 200px;
    height: 263px;
    border: 1px solid #ebebeb;
    margin-right: 26px;
    background-color: #fff;
}

.relative-product-item.last {
    margin-right: 0;
}

.relative-product-item-img {
    height: 200px;
    line-height: 200px;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
}

.relative-product-item-img img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.relative-product-item-word {
    height: 63px;
    line-height: 24px;
    padding: 8px 10px 0;
}

.relative-product-item-word h4 {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.relative-product-item-word p {
    font-size: 12px;
    color: #808080;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}