{% extends "work_proxy_base.html" %}
{% block content %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="hd">首页</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> 热门保险产品

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                {% for pro in hot_pro %}
                                <a href="/product/detail/{{ pro.pid }}.html" class="list-group-item" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap" target="_blank">
                                    <i class="fa fa-shopping-cart fa-fw"></i>&nbsp;&nbsp;{{ pro.pro_name }}
                                </a>
                                {% endfor %}

                            </div>
                            <!-- /.list-group -->
                            <a href="/product/" class="btn btn-default btn-block" target="_blank">查看更多</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                    <!-- /.panel -->

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> 保险案例
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">

                                {% for anli in hot_anli %}
                                <a href="/zixun/detail/{{ anli.zid }}.html" class="list-group-item" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap" target="_blank">
                                    <i class="fa fa-tasks fa-fw"></i> &nbsp;&nbsp; {{ anli.title }}
                                </a>
                                {% endfor %}
                            </div>
                            <!-- /.list-group -->
                            <a href="/zixun/" class="btn btn-default btn-block" target="_blank">查看更多</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
        <div class="row">
            <div class="col-lg-4">
                 <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-book fa-fw"></i> 保险百科

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                {% for baike in hot_baike %}
                                <a href="/zixun/detail/{{ baike.zid }}.html" class="list-group-item" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap" target="_blank">
                                    <i class="fa fa-location-arrow  fa-fw"></i>&nbsp;&nbsp;{{ baike.title }}
                                </a>
                                {% endfor %}

                            </div>
                            <!-- /.list-group -->
                            <a href="/zixun/" class="btn btn-default btn-block" target="_blank">查看更多</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
            </div>
            <div class="col-lg-8">
                <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-user fa-fw"></i> 保险顾问
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        <div class="row" style="margin-top: 15px;padding-bottom: 30px ;border-bottom: 1px solid #eee">
                                                     {% for user in hot_users|slice:":6" %}
                                {% with user_user=user.get_user %}

                                {% with user_img_=user_user.imgurl %}
                                <div class="col-lg-2" style="text-align: center">
                                <a href="/dailiren/detail/{{ user_user.uid }}.html" target="_blank">
                                    <img src="{% if user_img_.url %}{{ user_user.imgurl.url }}{% else %}/static/imgs/default-user.png{% endif %}" style="width: 70px;height: 70px;border-radius: 35px ">
                                </a>
                                <div style="text-align: center">
                                <a href="/dailiren/detail/{{ user_user.uid }}.html" target="_blank">
                                    {% if user_user.real_name %}{{ user_user.real_name }}{% else %}{{ user_user.phone|slice:":4" }}..{% endif %}
                                </a>
                                </div>
                                <div style="text-align: center">
                                    <span class="label label-default">{{ user.get_short_comname }}</span>
                                </div>
                                </div>
                                    {% endwith %}
                                {% endwith %}
                            {% endfor %}
                        </div>
                        <div class="row" style="margin-top: 15px ">
                                                        {% for user in hot_users|slice:"6:12" %}
                                {% with user_user=user.get_user %}

                                {% with user_img_=user_user.imgurl %}
                                <div class="col-lg-2" style="text-align: center">
                                <a href="/dailiren/detail/{{ user_user.uid }}.html" target="_blank">
                                    <img src="{% if user_img_.url %}{{ user_user.imgurl.url }}{% else %}/static/imgs/default-user.png{% endif %}" style="width: 70px;height: 70px;border-radius: 35px ">
                                </a>
                                <div style="text-align: center">
                                <a href="/dailiren/detail/{{ user_user.uid }}.html" target="_blank">
                                    {% if user_user.real_name %}{{ user_user.real_name }}{% else %}{{ user_user.phone|slice:":4" }}..{% endif %}
                                </a>
                                </div>
                                <div style="text-align: center">
                                    <span class="label label-default">{{ user.get_short_comname }}</span>
                                </div>
                                </div>
                                    {% endwith %}
                                {% endwith %}
                            {% endfor %}
                        </div>


                        </div>
                        <!-- /.panel-body -->
                    </div>
            </div>
        </div>
            <!-- /.row -->
        </div>
{% endblock %}