<!DOCTYPE html>
<html lang="en">
{% with my_username=request.myuser.username my_unread_messages=request.myuser.get_unread_messages %}
    {% with my_unread_messages_num=my_unread_messages|length %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}保险顾问管理中心-保险管家{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/sb-admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/sb-admin/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/sb-admin/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/sb-admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
    .hd{padding: 5px 0 6px 10px;border-left: 3px solid #337ab7;margin-bottom: 20px;}
    body{
        font-family: "microsoft yahei",arial, sans serif;
    }
</style>
{% block custom_css %}
{% endblock %}

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle naviga</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">保险顾问管理中心</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
            <li>
                <a style="color: #ff0000"><i class="fa  fa-credit-card    fa-fw"></i>实名认证(未认证)</a>
            </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>{{ my_unread_messages_num }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        {% if my_unread_messages_num > 0 %}
                            {% for msg in my_unread_messages|slice:":4" %}
                        <li>
                            <a href="#">
                                <div>
                                    <strong>{{ msg.subject|slice:":10" }}..</strong>
                                    <span class="pull-right text-muted">
                                        <em>{{ msg.get_date_time }}</em>
                                    </span>
                                </div>
                                <div>{{ msg.message|safe  }}</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                            {% endfor %}
                        {% endif %}

                        {% if my_unread_messages_num >= 0 %}
                        <li>
                            <a class="text-center" href="/work_proxy/all_msg/">
                                <strong>所有消息</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    {% endif %}
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>{{ my_username }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <div  style="height: 50px;margin-top:30px;margin-bottom:15px;padding-left:10px ;display: inline-block">
                                <a style="display: inline;float: left;margin-right: 10px" href="/work_proxy/my/img/">
                                    <img width="50" height="50" src="{% if not request.myuser.imgurl %}/static/imgs/default-user.png{% else %}{{ request.myuser.imgurl.url }}{% endif %}" style="border-radius: 25px">
                                </a>
                                <div style="display: inline;float: left">
                                    <a style="font-size: 18px;color: rgb(119,119,119)">

                                            {% if my_username|length <= 11 %}
                                                {{ my_username }}
                                            {% else %}
                                                {{ my_username|slice:":11" }}**
                                            {% endif %}

                                    </a>
                                    <p>
                                        积分:6
                                    </p>
                                </div>

                            </div>
                        </li>
                        <li>
                            <a href="/work_proxy/" {% if request.path == "/work_proxy/"  %}class="active" {% endif  %}><i class="fa fa-home fa-fw"></i> 首页</a>
                        </li>
                        <li>
                            <a href="/work_proxy/renzheng/" {% if request.path == "/work_proxy/renzheng/"  %}class="active" {% endif  %}><i class="fa  fa-credit-card    fa-fw"></i> 实名认证(未认证)</a>
                        </li>
                        <li>
                            <a href="/work_proxy/jifen/" {% if request.path == "/work_proxy/jifen/"  %}class="active" {% endif  %}><i class="fa fa-bookmark-o  fa-fw"></i> 我的积分</a>
                        </li>
                        <li>
                            <a href="/work_proxy/myans/" {% if request.path == "/work_proxy/myans/"  %}class="active" {% endif  %}><i class="fa fa-comment-o    fa-fw"></i> 我的回答</a>
                        </li>
{#                        <li>#}
{#                            <a href="#"><i class="fa fa-comment  fa-fw"></i> 我的咨询</a>#}
{#                        </li>#}

                        <li>
                            <a href="/work_proxy/all_msg/" {% if request.path == "/work_proxy/all_msg/"  %}class="active" {% endif  %}><i class="fa fa-envelope fa-fw"></i> 系统消息</a>
                        </li>
                        <li {% if "/work_proxy/my/" in  request.path %}class="active" {% endif %}>
                            <a href="#"><i class="fa fa-gears fa-fw"></i> 个人资料<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/work_proxy/my/contact/" {% if request.path == "/work_proxy/my/contact/"  %}class="active" {% endif  %}>基本信息</a>
                                </li>
                                <li>
                                    <a href="/work_proxy/my/img/" {% if request.path == "/work_proxy/my/img/"  %}class="active" {% endif  %}>修改头像</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/work_proxy/change_pwd/" {% if request.path == "/work_proxy/change_pwd/"  %}class="active" {% endif  %}><i class="fa fa-lock fa-fw"></i>修改密码</a>
                        </li>
                        <li>
                            <a href="/logout/?next=/"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        {% block content %}
        {% endblock %}
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/sb-admin/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/sb-admin/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/sb-admin/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/sb-admin/vendor/raphael/raphael.min.js"></script>
    <script src="/static/sb-admin/vendor/morrisjs/morris.min.js"></script>
    <script src="/static/sb-admin/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/sb-admin/dist/js/sb-admin-2.js"></script>
{% block custom_js %}
{% endblock %}

</body>
{% endwith %}
{% endwith %}
</html>
