{% extends "work_proxy_base.html" %}
{% block custom_css %}
    <link href="/static/sb-admin/vendor/bootstrap-social/bootstrap-social.css" rel="stylesheet">
{% endblock %}
{% block content %}
    {% load math %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header hd"> 实名认证</h3>
            </div>

        </div>

        {% if success_msg %}
            <div class="row">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ success_msg }}
                </div>
            </div>

        {% endif %}

        {% if error_msg %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ error_msg }}
                    </div>
                </div>
            </div>

        {% endif %}

        {% if request.myuser_profile.certifi_status != 2 %}
            <div class="row" style="margin-top: 20px">
                <div class="col-lg-6">
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        提醒：您尚未完成实名认证，请填写如下资料完成实名认证。完成实名认证后才有资格参与问吧回复。<a href="/ask/" target="_blank">点此</a>进入问吧
                    </div>
                </div>


            </div>
        {% else %}
            <div class="row" style="margin-top: 20px">
                <div class="col-lg-6">
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        提醒：您已完成实名认证，您现在可以修改您的资料。您现在可以参与问吧回复，<a href="/ask/" target="_blank">点此</a>进入问吧
                    </div>
                </div>


            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-5">
                <form role="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>资格证编号:</label>
                        <input class="form-control" required="required" name="certifi_num"
                               {% if request.myuser_profile.certifi_num %}value="{{ request.myuser_profile.certifi_num }}" {% endif %}>
                        <p class="help-block">请输入资格证编号(编码长度为20位,<span style="color: red">由保监会颁发，必填！</span>)</p>
                    </div>

                    <div class="form-group">
                        <label>执业证编号:</label>
                        <input class="form-control" required="required" name="practice_num"
                               {% if request.myuser_profile.practice_num %}value="{{ request.myuser_profile.practice_num }}" {% endif %}>
                        <p class="help-block">请输入执业证编号(<span style="color: red">由保险公司颁发</span>),选填</p>
                    </div>
                    <div class="form-group">
                        <label>保险企业:</label>
                        <select class="form-control" name="cid">
                            {% for com in com_info %}
                                <option value="{{ com.cid }}"
                                        {% if com.cid == request.myuser_profile.cid %}selected{% endif %}>{{ com.shortname }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="form-group">
                        <label>职位:</label>
                        <input class="form-control" required="required" placeholder="请输入您的职位"
                                {% if not  request.myuser_profile.position %} value="客户经理"{% else %}
                               value="{{ request.myuser_profile.position }}"
                                {% endif %} name="position">
                    </div>
                    <div class="form-group">
                        <label>从业年限:</label>
                        <select class="form-control" name="year">
                            <option value="1" {% if request.myuser_profile.year == 1 %}selected{% endif %}>1年</option>
                            <option value="2" {% if request.myuser_profile.year == 2 %}selected{% endif %}>2年</option>
                            <option value="3" {% if request.myuser_profile.year == 3 %}selected{% endif %}>3年</option>
                            <option value="4" {% if request.myuser_profile.year == 4 %}selected{% endif %}>4年</option>
                            <option value="5" {% if request.myuser_profile.year == 5 %}selected{% endif %}>5年</option>
                            <option value="6" {% if request.myuser_profile.year == 6 %}selected{% endif %}>6年</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>姓名:</label>
                        <input class="form-control" required="required" placeholder="请输入您的姓名" name="name"
                               {% if request.myuser.real_name %}value="{{ request.myuser.real_name }}" {% endif %}>
                        {#                                            <p class="help-block">请输入资格证或执业证(展业证)编号</p>#}
                    </div>
                        <div class="form-group">
                            <label >性别：</label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" id="optionsRadiosInline1" value="0" {% if request.myuser.sex == 0 %}checked="checked"{% endif %}>男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" id="optionsRadiosInline2" value="1" {% if request.myuser.sex == 1 %}checked="checked"{% endif %}>女
                            </label>
                        </div>
                    <div class="form-group">
                        <label>QQ:</label>
                        <input class="form-control" placeholder="请输入您的QQ号" name="qq"
                               {% if request.myuser.qq %}value="{{ request.myuser.qq }}" {% endif %}>
                    </div>
                    <div class="form-group">
                        <label>微信:</label>
                        <input class="form-control" placeholder="请输入您的微信号" name="weixin"
                               {% if request.myuser_profile.weixin %}value="{{ request.myuser_profile.weixin }}" {% endif %}>
                    </div>
                    <div class="form-group">
                        <label>个人简介:</label>
                        <textarea class="form-control" required="required" name="my_ad"
                                  style="height: 100px"
                        >{% if request.myuser_profile.my_ad %}{{ request.myuser_profile.my_ad }}{% else %}
                            我是保险行家，也是生活专家！{% endif %}</textarea>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary">
                            {% if request.myuser_profile.certifi_status == 1 %}提交{% else %}完成{% endif %}</button>
                    </div>
                </form>
            </div>
        </div>
        {% if request.myuser_profile.certifi_status != 1 %}
            <div class="row" style="margin-top: 20px">
                <div class="col-lg-6">
                    <div class="alert alert-info">
                        温馨提示：我们会定期审核认证信息，请填写真实有效的个人信息。
                    </div>
                </div>


            </div>
        {% endif %}

{% endblock %}