html {
    color: #424242;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body, div, dl, dt, dd, a, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

body, button, input, select, textarea {
    font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", Microsoft Yahei, \5b8b\4f53
}

input, select, textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th {
    text-align: inherit
}

fieldset, img {
    border: 0
}

iframe {
    display: block
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500
}

q:before, q:after {
    content: ''
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

a {
    color: #424242;
    outline: none;
}

a:hover {
    color: #42bad0;
    text-decoration: none;
}

ins, a {
    text-decoration: none
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em
}

.clf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '.';
    clear: both;
    height: 0
}

.clf {
    zoom: 1
}

.clear {
    font-size: 0;
    line-height: 0;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden
}

.fl, .fr {
    display: inline
}

.fl {
    float: left
}

.fr {
    float: right
}

a.color {
    color: #42bad0;
    outline: none;
}

a.color:hover {
    color: #42bad0;
    text-decoration: underline;
}

/* 表单 验证*/
.ui-form-item-error .ui-input {
    border-color: #f18162 !important;
}

.ui-form-item .ui-form-explain {
    position: relative;
    margin: 4px 0 -2px 0;

}

.ui-form-item-error .ui-form-explain {
    padding-left: 18px;
    color: #f18162;
}

.ui-form-item-error .ui-form-explain:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #f18162;
}

/* 公用部分 top*/
.bx-top,
.bx-header {
    width: 100%;
}

.bx-top-content,
.bx-header-content {
    width: 1200px;
    margin: 0 auto;
}

.bx-top {
    background-color: #f5f5f5;
    height: 40px;
    line-height: 40px;
    color: #9e9e9e;
}

/*公用部分  实时动态*/
.bx-rtk {
    width: 100%;
    height: 40px;
    background-color: #e9c590;
}

.bx-rtk-content {
    width: 1200px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    font-size: 14px;
}

.bx-rtk-content .bx-rtk-title{
    position: absolute;
    top: 9px;
    left: 0;
    width: 66px;
    height: 20px;
    background-color: #d25032;
    color: #eac895;
    border: 1px solid #ae3b19;
    text-align: center;
    line-height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.bx-rtk-content ul{
    position: absolute;
    top: 0;
    left: 88px;
    width: 1100px;
    height: 40px;
    overflow: hidden;
}

.bx-rtk-content ul li{
    width: 100%;
    height: 40px;
    padding: 7px 0;
}

.bx-rtk-content ul a{
    display: inline-block;
    height: 26px;
    line-height: 28px;
    padding-right: 25px;
    color: #744d13;
    background: no-repeat top right url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAANCAIAAAA15Zn9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpjMjU0ZjMyMC04MmNkLTQ2NzMtOWY4Mi1jYjJmMDgyZGExMTgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RDNGQTI3QkNGNTdFMTFFNkJFMTNBNUFFOTg2RDU2OUQiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RDNGQTI3QkJGNTdFMTFFNkJFMTNBNUFFOTg2RDU2OUQiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUuNSAoTWFjaW50b3NoKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOmY5OTU3NDkzLTRlNjUtNDM2OS1hMDliLWZlODBjYzUyNmZkNyIgc3RSZWY6ZG9jdW1lbnRJRD0iYWRvYmU6ZG9jaWQ6cGhvdG9zaG9wOjM4NDI1NjIwLTBiZjUtMTE3YS1hYjM2LWQ4ZDUzMGY1NDMyNCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PvOsNUcAAAGrSURBVHjaYlxnLclAbcACxKoiElQ08fabFyBD/zMyUtelTCCCkYGJi0O6uVwowh/IhnAlq/Lh4hAEFIFwgSRcis/NHqJFJCEcqh3ifQagS8GO5dTW4NS5+f3qTSCXiZMDLv5q5qK/7z8AGf9+/ASS7MoKQDWcOhpANreJwac9hyCC71ZthKhngngfEgJfz14UCvNn5OKEcOHiQPshbCACGgc0CMjgMjZ4u3oTUJJZSBCIgIwf9x/9RzEU7O4Pew7/ef9RJC4MwoWLi6XFSZXnSuSnAkW+nLvEriQPZLBJiX+7duvH/Yec2ursyvL/fvz4++MnxFCw9yGhAma8nLVEujybx1gfqAgu/rRzKpgLUvDr2SsgxWdtDrQeyP169rKgj+uf9x++nL0EMwTV+0Dy78+f77bs4XexZeLggIszCwkwcnICEUTBr+cvgQqATgaFxv1HLIL8HEry367dhqtnQXUoCH05f4nHWBeoFC4ukRoNjqUfT7qnARlAX7NJin+7fgsiCwxKDkW5Xy9ewhzKwAjMUYoy8lRMpPefPKRJ4gcZ+uDxA+oaChBgANb+r/pLybAnAAAAAElFTkSuQmCC');
}


/* 公用部分 header*/

.bx-header {
    height: 112px;
    border-bottom: 1px solid #dbdbdb;
}

.bx-header .bx-logo {
    float: left;
    margin: 27px 0;
}

/*搜索*/

.bx-header .bx-search {
    float: right;
    width: 200px;
}

.bx-header .ui-form-item-error p {
    display: none;
}

.bx-header-search-box {
    position: relative;
    width: 200px;
    height: 40px;
    margin-top: 36px;
    line-height: 38px;
}

.bx-header-search-box input {
    position: absolute;
    top: 0;
    left: 0;
    width: 174px;
    height: 26px;
    padding: 6px 12px;
    border: 1px solid #bdbdbd;
}

.bx-header-search-box input:focus {
    border-color: #42bad0;
}

.bx-header-search-box img {
    position: absolute;
    top: 6px;
    right: 12px;
    z-index: 2;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* 公用部分 nav*/

.bx-header .bx-nav {
    float: left;
    font-size: 16px;
    width: 635px;
    padding: 30px 0;
}

.bx-header .bx-nav-content {
    margin-left: 60px;
}

.bx-nav .bx-nav-content li {
    float: left;
    margin-right: 38px;

}

.bx-nav .bx-nav-content a {
    display: block;
    height: 48px;
    line-height: 48px;
    color: #424242;
    border-bottom: 2px solid transparent;
}

.bx-nav > .clf a:hover,
.bx-nav > .clf li.active a {
    color: #4bd3eb;
    border-color: #4bd3eb;
}

/* 公用部分 footer*/

.bx-footer {
    background-color: #000000;
    width: 100%;
    height: 312px;
    padding: 60px 0;
}

.bx-footer-center {
    width: 1200px;
    height: 312px;
    margin: 0 auto;
}

.bx-footer-server {
    height: 196px;
    border-bottom: 1px solid #1f1f1f;
}

.bx-footer-server > dl,
.bx-footer-logo {
    float: left;
}

.bx-footer-logo {
    display: block;
    width: 210px;
    height: 56px;
    margin-right: 122px;
}

.bx-footer-server > dl {
    width: 190px;
}

.bx-footer-server > dl dt {
    height: 50px;
    color: #ffffff;
    font-size: 18px;
}

.bx-footer-server > dl dd {
    padding-bottom: 7px;
    font-size: 14px;
}

.bx-footer-server > dl a {
    color: #bdbdbd;
}

.bx-footer-server > dl a:hover {
    text-decoration: underline;
}

.bx-footer-server .bx-footer-app-qr-code {
    float: right;
    width: 102px;
}

.bx-footer-info {
    width: 1200px;
    margin: 20px auto 0;
    line-height: 2;
}

.bx-footer-map .record {
    margin-left: 25px;
}

.bx-footer-wx-qr-code img,
.bx-footer-app-qr-code img {
    width: 102px;
    height: 102px;
    display: block;
}

.bx-footer-partner {
    margin-top: 10px;
}

.bx-footer-partner a {
    margin-right: 5px;
}

/* 公用翻页*/
.bx-list-flip {
    width: 100%;
    height: 40px;
    margin: 28px auto;
    text-align: center;
}

.bx-list-flip-btn {
    display: inline-block;
    padding: 8px 15px;
    border: 1px solid #dbdbdb;
    margin-right: 10px;
    font-size: 14px;
    color: #616161;
    background-color: #fff;
}

.bx-list-flip-btn.active,
.bx-list-flip-btn:hover {
    background-color: #42bad0;
    color: #ffffff;
    border-color: #42bad0;
}

/* 功能 */
.fn-hidden {
    display: none;
}

/*整体 样式*/
body {
    /*background-color: #e9f2f4;*/
}

.grid {
    width: 1200px;
    padding: 30px 0 60px;
    margin: 0 auto;
    overflow: hidden;
}

/**
 * @require ./css/font-awesome.css
 */