{{ atmjs.use(':detail') }}
{%include 'html/layouts/header.html' | path('www/common') %}
<div id="informationDetail" class="clf">
    <!-- 面包屑 -->
    <div class="bx-crubms">
        <a href="">保险岛首页</a> &gt;
        <a href="">保险百科</a> &gt;
        <a href="">保险政策</a> &gt;
        <a href="">政策法规</a> &gt; 保险法司法解释三案例解读：未到指定医院就医 保险赔不赔？
    </div>
    <div class="clf">
        <!-- 左侧 -->
        <div class="information-content">
            <!-- 文章 -->
            <div class="information-article">
                <!-- 文章头部 -->
                <div class="information-article-header">
                    <h2>保险法司法解释三案例解读：未到指定医院就医 保险赔不赔？</h2>
                    <p class="clf">
                        时间：2016-08-08　|　来源：网络
                            <span class="share">
                            	<span class="fa-stack fa-lg weixin">
                            	  <i class="fa fa-circle fa-stack-2x"></i>
                            	  <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
                            	</span>
                            <span class="fa-stack fa-lg weibo">
                            	  <i class="fa fa-circle fa-stack-2x"></i>
                            	  <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            	</span>
                            </span>
                    </p>
                </div>
                <!-- 文章内容 -->
                <div class="information-article-content">
                    <p>
                        保险岛定位于保险业第三方电子商务及咨询平台，自成立以来，其影响力和商业价值得到了充分的证明和展现，通过为用户提供保险产品对比、保险定制、风险评估、理赔协助等在内的一站式综合保险服务，4年间，共为全国12万家庭送去了超过600亿的保障；同时，保险岛还为保险代理人打造了“钻石顾问系统”，开启了代理人互联网展业的新模式，借助于互联网技术，将代理人从传统的低效率的线下展业转移到线上，让展业变得更加轻松高效。
                    </p>
                    <p>
                        保险岛定位于保险业第三方电子商务及咨询平台，自成立以来，其影响力和商业价值得到了充分的证明和展现，通过为用户提供保险产品对比、保险定制、风险评估、理赔协助等在内的一站式综合保险服务，4年间，共为全国12万家庭送去了超过600亿的保障；同时，保险岛还为保险代理人打造了“钻石顾问系统”，开启了代理人互联网展业的新模式，借助于互联网技术，将代理人从传统的低效率的线下展业转移到线上，让展业变得更加轻松高效。
                    </p>
                    <p>
                        保险岛定位于保险业第三方电子商务及咨询平台，自成立以来，其影响力和商业价值得到了充分的证明和展现，通过为用户提供保险产品对比、保险定制、风险评估、理赔协助等在内的一站式综合保险服务，4年间，共为全国12万家庭送去了超过600亿的保障；同时，保险岛还为保险代理人打造了“钻石顾问系统”，开启了代理人互联网展业的新模式，借助于互联网技术，将代理人从传统的低效率的线下展业转移到线上，让展业变得更加轻松高效。
                    </p>
                    <p>
                        保险岛定位于保险业第三方电子商务及咨询平台，自成立以来，其影响力和商业价值得到了充分的证明和展现，通过为用户提供保险产品对比、保险定制、风险评估、理赔协助等在内的一站式综合保险服务，4年间，共为全国12万家庭送去了超过600亿的保障；同时，保险岛还为保险代理人打造了“钻石顾问系统”，开启了代理人互联网展业的新模式，借助于互联网技术，将代理人从传统的低效率的线下展业转移到线上，让展业变得更加轻松高效。
                    </p>
					<img src="//i.epetbar.com/2015-09/18/10/973dc713c7477860dc670af4fa3c3b3d.jpg" alt="">
                </div>
                <!-- 文章底部 -->
                <div class="information-article-footer">
                        <span class="filp">
                    		<a href="" class="prev">上一篇</a>
                    		<a href="" class="next">下一篇</a>
                    	</span>
                        <span class="share">
                            	<span class="fa-stack fa-lg weixin">
                            	  <i class="fa fa-circle fa-stack-2x"></i>
                            	  <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
                            	</span>
                        <span class="fa-stack fa-lg weibo">
                            	  <i class="fa fa-circle fa-stack-2x"></i>
                            	  <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            	</span>
                        </span>
                </div>
            </div>
            <!-- 相关资讯 -->
            <div class="information-relative">
                <h3>相关资讯</h3>
                <ul class="clf">
                    <li class="left"><a href="">大童模式摆脱人海战术代理人服务平台大童模式摆脱人海战术代理人服务平台</a></li>
                    <li><a href="">大童模式摆脱人海战术代理人服务平台大童模式摆脱人海战术代理人服务平台</a></li>
                    <li class="left"><a href="">大童模式摆脱人海战术代理人服务平台大童模式摆脱人海战术代理人服务平台</a></li>
                    <li><a href="">大童模式摆脱人海战术代理人服务平台大童模式摆脱人海战术代理人服务平台</a></li>
                    <li class="left"><a href="">大童模式摆脱人海战术代理人服务平台大童模式摆脱人海战术代理人服务平台</a></li>
                    <li><a href="">大童模式摆脱人海战术代理人服务平台大童模式摆脱人海战术代理人服务平台</a></li>
                    <li class="left"><a href="">大童模式摆脱人海战术代理人服务平台大童模式摆脱人海战术代理人服务平台</a></li>
                    <li><a href="">大童模式摆脱人海战术代理人服务平台大童模式摆脱人海战术代理人服务平台</a></li>
                </ul>
            </div>
        </div>
        <!-- 右侧 -->
        <div class="sidebar">
            <!-- 热门资讯 -->
            <div class="hot-information">
                <h3>热门资讯</h3>
                <ul>
                    <li><a href="">大童模式摆脱人海战术 探索独立代理人服务平台大童模式摆脱人海战术 探索独立代理人服务平台</a></li>
                    <li><a href="">大童模式摆脱人海战术 探索独立代理人服务平台大童模式摆脱人海战术 探索独立代理人服务平台</a></li>
                    <li><a href="">大童模式摆脱人海战术 探索独立代理人服务平台大童模式摆脱人海战术 探索独立代理人服务平台</a></li>
                    <li><a href="">大童模式摆脱人海战术 探索独立代理人服务平台大童模式摆脱人海战术 探索独立代理人服务平台</a></li>
                    <li><a href="">大童模式摆脱人海战术 探索独立代理人服务平台大童模式摆脱人海战术 探索独立代理人服务平台</a></li>
                    <li><a href="">大童模式摆脱人海战术 探索独立代理人服务平台大童模式摆脱人海战术 探索独立代理人服务平台</a></li>
                    <li><a href="">大童模式摆脱人海战术 探索独立代理人服务平台大童模式摆脱人海战术 探索独立代理人服务平台</a></li>
                    <li><a href="">大童模式摆脱人海战术 探索独立代理人服务平台大童模式摆脱人海战术 探索独立代理人服务平台</a></li>
                </ul>
            </div>
            <!-- 热心顾问 -->
            {%include 'html/layouts/sections/热心顾问.html' | path('www/common') %}
        </div>
    </div>
</div>

{%include 'html/layouts/footer.html' | path('www/common') %}
