{{ atmjs.use(':info') }}
{%include 'html/layouts/header.html' | path('www/common') %}
<div id="informationContent">
    <div class="grid clf">
    	<!-- 左侧导航 -->
    	<div id="side-nav">
    		<div class="side-nav-head"></div>
    		<div class="side-nav-item">
    			<a href="" class="side-nav-item-tit">行业资讯</a>
    			<div class="side-nav-list clf">
    				<a href="">最新产品</a>
    				<a href="">保险理财</a>
    				<a href="">政策法规</a>
    				<a href="">投保指南</a>
    			</div>
    		</div>
    		<div class="side-nav-item">
    			<a href="" class="side-nav-item-tit">保险产品</a>
    			<div class="side-nav-list clf">
    				<a href="">健康险</a>
    				<a href="">养老险</a>
    				<a href="">汽车险</a>
    				<a href="">少儿险</a>
    			</div>
    		</div>
    		<div class="side-nav-item">
    			<a href="" class="side-nav-item-tit">车险资讯</a>
    			<div class="side-nav-list clf">
    				<a href="">车险动态</a>
    				<a href="">车险动态</a>
    				<a href="">新车保险</a>
    				<a href="">车险理赔</a>
    			</div>
    		</div>
    		<div class="side-nav-item">
    			<a href="" class="side-nav-item-tit">社保/公积金</a>
    			<div class="side-nav-list clf">
    				<a href="">医疗保险</a>
    				<a href="">养老保险</a>
    				<a href="">生育保险</a>
    				<a href="">工伤保险</a>
    			</div>
    		</div>
    		<div class="side-nav-item">
    			<a href="" class="side-nav-item-tit">保险知识</a>
    			<div class="side-nav-list clf">
    				<a href="">保险人才</a>
    				<a href="">保险时讯</a>
    				<a href="">保险方案</a>
    				<a href="">保险案例</a>
    			</div>
    		</div>
    		<div class="side-nav-item">
    			<a href="" class="side-nav-item-tit">财经金融</a>
    			<div class="side-nav-list clf">
    				<a href="">保险股</a>
    				<a href="">人物</a>
    				<a href="">理财师</a>
    				<a href="">众筹</a>
    			</div>
    		</div>
    	</div>
    	<div id="infomation-main">
    		<a href="" class="information-news-first">
    			<img src="//i.epetbar.com/2015-09/18/10/973dc713c7477860dc670af4fa3c3b3d.jpg"  width="672" height="288"/>
    			<span>保监会：未报送2016年度并表管理报告保险公司的通报</span>
    		</a>
    		<div class="information-news-block clf">
    			<img src="//i.epetbar.com/2015-09/18/10/973dc713c7477860dc670af4fa3c3b3d.jpg" width="168" height="120" />
    			<dl>
    				<dt>
    					<a href="">保监会通报9家保险公司未报送2016年度并表管理报 </a>
    				</dt>
    				<dd class="clf">
    					<a href="">监管动态</a>
    					<a href="">保险动态</a>
    					<a href="">热点新闻</a>
    					<a href="">热点新闻</a>
    					<p>1528浏览 <span>|</span>1小时前</p>
    				</dd>
    			</dl>
    		</div>
    		<div class="information-news-block clf">
    			<img src="//i.epetbar.com/2015-09/18/10/973dc713c7477860dc670af4fa3c3b3d.jpg" width="168" height="120" />
    			<dl>
    				<dt>
    					<a href="">保监会通报9家保险公司未报送2016年度并表管理报 </a>
    				</dt>
    				<dd class="clf">
    					<a href="">保险动态</a>
    					<a href="">热点新闻</a>
    					<a href="">热点新闻</a>
    					<p>1528浏览 <span>|</span>1小时前</p>
    				</dd>
    			</dl>
    		</div>
    		<div class="information-news-block clf">
    			<img src="//i.epetbar.com/2015-09/18/10/973dc713c7477860dc670af4fa3c3b3d.jpg" width="168" height="120" />
    			<dl>
    				<dt>
    					<a href="">保监会通报9家保险公司未报送2016年度并表管理报 </a>
    				</dt>
    				<dd class="clf">
    					<a href="">监管动态</a>
    					<a href="">保险动态</a>
    					<a href="">热点新闻</a>
    					<p>1528浏览 <span>|</span>1小时前</p>
    				</dd>
    			</dl>
    		</div>
    		<div class="information-news-block clf">
    			<img src="//i.epetbar.com/2015-09/18/10/973dc713c7477860dc670af4fa3c3b3d.jpg" width="168" height="120" />
    			<dl>
    				<dt>
    					<a href="">保监会通报9家保险公司未报送2016年度并表管理报 </a>
    				</dt>
    				<dd class="clf">
    					<a href="">监管动态</a>
    					<a href="">保险动态</a>
    					<p>1528浏览 <span>|</span>1小时前</p>
    				</dd>
    			</dl>
    		</div>
    	</div>
    	<div id="information-more">
    		<a href="" class="information-news-important">
    			<img src="//i.epetbar.com/2015-09/18/10/973dc713c7477860dc670af4fa3c3b3d.jpg" width="288" height="196"/>
    			<span>劳动者自愿不缴社会保险 解除劳动合同能否主张经济补偿金？</span>
    		</a>
    		<!-- 热点新闻 -->
    		<div class="information-hot-news">
    			<div class="information-hot-head">24小时热闻</div>
    			<div class="hot-news-item clf">
    				<img src="//i.epetbar.com/2015-09/18/10/973dc713c7477860dc670af4fa3c3b3d.jpg" width="72" height="64" />
    				<dl>
    					<dt>保监会：未报送2016年度并表管理报告保险...</dt>
    					<dd>3小时前</dd>
    				</dl>
    			</div>
    			<div class="hot-news-item clf">
    				<img src="//i.epetbar.com/2015-09/18/10/973dc713c7477860dc670af4fa3c3b3d.jpg" width="72" height="64" />
    				<dl>
    					<dt>保监会：未报送2016年度并表管理报告保险...</dt>
    					<dd>3小时前</dd>
    				</dl>
    			</div>
    			<div class="hot-news-item clf">
    				<img src="//i.epetbar.com/2015-09/18/10/973dc713c7477860dc670af4fa3c3b3d.jpg" width="72" height="64" />
    				<dl>
    					<dt>保监会：未报送2016年度并表管理报告保险...</dt>
    					<dd>3小时前</dd>
    				</dl>
    			</div>
    			<div class="hot-news-item clf">
    				<img src="//i.epetbar.com/2015-09/18/10/973dc713c7477860dc670af4fa3c3b3d.jpg" width="72" height="64" />
    				<dl>
    					<dt>保监会：未报送2016年度并表管理报告保险...</dt>
    					<dd>3小时前</dd>
    				</dl>
    			</div>
    		</div>
    		<!-- 活跃顾问 -->
            {%include 'html/layouts/sections/活跃顾问.html' | path('www/common') %}
    	</div>
    </div>
</div>
{%include 'html/layouts/footer-mini.html' | path('www/common') %}
