{{ atmjs.use(':index') }}
{%include 'html/layouts/header.html' | path('www/common') %}
<div id="informationList">
    <div class="grid clf">
        <!--面包屑导航-->
        <div class="bx-crubms">
            <a href="">保险资讯</a> &gt;
            <a href="">保险资讯</a>
        </div>
        <!--分类-->
        <div class="classify clf">
            <a href="" class="classify-item all">全部</a>
            <a href="" class="classify-item anli">保险案例</a>
            <a href="" class="classify-item zixun  active">保险资讯</a>
            <a href="" class="classify-item dongtai">监管动态</a>
            <a href="" class="classify-item guihua">保险规划</a>
            <a href="" class="classify-item citiao">保险词条</a>
            <a href="" class="classify-item baike">保险百科</a>
        </div>
        <div class="clf">
            <div class="fl">
                <!--保险资讯-->
                <div class="information-sub-box">
                    <h3>保险资讯</h3>
                    <div class="information-sub-content">
                        <div class="information-item clf">
                            <div class="information-item-content">
                                <h4>
                                    <a href="">趁年轻用保险锁住未来您必须面对的风险！</a>
                                </h4>
                                <p class="information-item-guide">
                                    <b>导读：</b>
                                    去申根国家旅游，申根签证保险需要买吗？根据申根国家的规定，入境申根国家必须购买一份医疗保额超过
                                    3万救援功能的申根保险，所以去申根国家旅游是必须要买申根签证保险的。欧洲大部分国洲大部分国洲大部分国
                                </p>
                                <p>
                                    <span class="view-number">0</span>
                                    <span class="zan-number">342</span>
                                </p>
                            </div>
                            <div class="information-item-date">
                                2016-12-29
                            </div>
                        </div>
                        <div class="information-item clf">
                            <div class="information-item-content">
                                <h4>
                                    <a href="">趁年轻用保险锁住未来您必须面对的风险！</a>
                                </h4>
                                <p class="information-item-guide">
                                    <b>导读：</b>
                                    去申根国家旅游，申根签证保险需要买吗？根据申根国家的规定，入境申根国家必须购买一份医疗保额超过
                                    3万救援功能的申根保险，所以去申根国家旅游是必须要买申根签证保险的。欧洲大部分国洲大部分国洲大部分国
                                </p>
                                <p>
                                    <span class="view-number">0</span>
                                    <span class="zan-number">342</span>
                                </p>
                            </div>
                            <div class="information-item-date">
                                2016-12-29
                            </div>
                        </div>
                        <div class="information-item clf">
                            <div class="information-item-content">
                                <h4>
                                    <a href="">趁年轻用保险锁住未来您必须面对的风险！</a>
                                </h4>
                                <p class="information-item-guide">
                                    <b>导读：</b>
                                    去申根国家旅游，申根签证保险需要买吗？根据申根国家的规定，入境申根国家必须购买一份医疗保额超过
                                    3万救援功能的申根保险，所以去申根国家旅游是必须要买申根签证保险的。欧洲大部分国洲大部分国洲大部分国
                                </p>
                                <p>
                                    <span class="view-number">0</span>
                                    <span class="zan-number">342</span>
                                </p>
                            </div>
                            <div class="information-item-date">
                                2016-12-29
                            </div>
                        </div>
                        <div class="information-item clf">
                            <div class="information-item-content">
                                <h4>
                                    <a href="">趁年轻用保险锁住未来您必须面对的风险！</a>
                                </h4>
                                <p class="information-item-guide">
                                    <b>导读：</b>
                                    去申根国家旅游，申根签证保险需要买吗？根据申根国家的规定，入境申根国家必须购买一份医疗保额超过
                                    3万救援功能的申根保险，所以去申根国家旅游是必须要买申根签证保险的。欧洲大部分国洲大部分国洲大部分国
                                </p>
                                <p>
                                    <span class="view-number">0</span>
                                    <span class="zan-number">342</span>
                                </p>
                            </div>
                            <div class="information-item-date">
                                2016-12-29
                            </div>
                        </div>
                        <div class="information-item clf">
                            <div class="information-item-content">
                                <h4>
                                    <a href="">趁年轻用保险锁住未来您必须面对的风险！</a>
                                </h4>
                                <p class="information-item-guide">
                                    <b>导读：</b>
                                    去申根国家旅游，申根签证保险需要买吗？根据申根国家的规定，入境申根国家必须购买一份医疗保额超过
                                    3万救援功能的申根保险，所以去申根国家旅游是必须要买申根签证保险的。欧洲大部分国洲大部分国洲大部分国
                                </p>
                                <p>
                                    <span class="view-number">0</span>
                                    <span class="zan-number">342</span>
                                </p>
                            </div>
                            <div class="information-item-date">
                                2016-12-29
                            </div>
                        </div>
                        <div class="information-item clf">
                            <div class="information-item-content">
                                <h4>
                                    <a href="">趁年轻用保险锁住未来您必须面对的风险！</a>
                                </h4>
                                <p class="information-item-guide">
                                    <b>导读：</b>
                                    去申根国家旅游，申根签证保险需要买吗？根据申根国家的规定，入境申根国家必须购买一份医疗保额超过
                                    3万救援功能的申根保险，所以去申根国家旅游是必须要买申根签证保险的。欧洲大部分国洲大部分国洲大部分国
                                </p>
                                <p>
                                    <span class="view-number">0</span>
                                    <span class="zan-number">342</span>
                                </p>
                            </div>
                            <div class="information-item-date">
                                2016-12-29
                            </div>
                        </div>
                        <!--翻页-->
                        {%include 'html/layouts/flip.html' | path('www/common') %}
                    </div>
                </div>

            </div>
            <div class="fr">
                <!--量身定制-->
                {%include 'html/layouts/sections/量身定制.html' | path('www/common') %}
                <!--活跃顾问-->
                {%include 'html/layouts/sections/活跃顾问.html' | path('www/common') %}
            </div>
        </div>
    </div>
</div>

{%include 'html/layouts/footer.html' | path('www/common') %}
