{% load atm %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}关于保险管家{% endblock %}</title>
<meta name="keywords" content="{% block keywords %}关于保险管家{% endblock %}">
<meta name="description" content="{% block description %}关于保险管家{% endblock %}">
{% block head_css %}{% endblock %}
{% block head_js %}{% endblock %}
<style>@font-face{font-family:uc-nexus-iconfont;src:url(chrome-extension://pogijhnlcfmcppgimcaccdkmbedjkmhi/res/font_1476274416_922599.woff) format('woff'),url(chrome-extension://pogijhnlcfmcppgimcaccdkmbedjkmhi/res/font_1476274416_922599.ttf) format('truetype')}</style>
</head>
<body>
{% include "top.html" %}
{% block content %}
{% endblock %}
</body>
</html>