#informationList {
    background-color: #f5f5f5;
}

#informationList .classify {
    height: 90px;
    margin-bottom: 30px;
}

#informationList .classify a {
    float: left;
    display: block;
    width: 148px;
    height: 88px;
    border: 1px solid #dbdbdb;
    margin-right: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 120px;
    background: #fff no-repeat url('./img/information-list-classify-icons.png') 0 0;
}

#informationList .classify a:last-child {
    margin-right: 0;
}

#informationList .classify a:hover,
#informationList .classify a.active {
    width: 146px;
    height: 86px;
    border: 2px solid #42bad0;
}

#informationList .classify a.all {
    background-position: 0 0;
}

#informationList .classify a.anli {
    background-position: 0 -86px;
}

#informationList .classify a.zixun {
    background-position: 0 -172px;
}

#informationList .classify a.dongtai {
    background-position: 0 -258px;
}

#informationList .classify a.guihua {
    background-position: 0 -344px;
}

#informationList .classify a.citiao {
    background-position: 0 -430px;
}

#informationList .classify a.baike {
    background-position: 0 -516px;
}

#informationList .information-sub-box {
    width: 880px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #fff;
}

#informationList .information-sub-content {
    padding: 0 20px 30px;
}

#informationList .information-sub-box h3 {
    height: 48px;
    background-color: #dbe9eb;
    font-size: 16px;
    font-weight: bold;
    text-indent: 20px;
    line-height: 48px;
}

#informationList .information-item {
    padding: 15px 10px;
    height: 122px;
    border-bottom: 1px solid #ebebeb;
}

#informationList .information-item-content {
    float: left;
    width: 645px;
    padding-left: 10px;
}

#informationList .information-item-content h4 {
    font-size: 16px;
    line-height: 42px;
}

#informationList .information-item-content p {
    font-size: 14px;
    line-height: 21px;
    color: #808080;
}

#informationList .information-item-content p.information-item-guide {
    height: 42px;
    margin-bottom: 15px;
    overflow: hidden;
}

#informationList .information-item-content p b {
    color: #42bad0;
}

#informationList .information-item-date {
    float: right;
    line-height: 42px;
    color: #9e9e9e;
}

#informationList .information-item-content .view-number,
#informationList .information-item-content .zan-number {
    min-width: 30px;
    padding-left: 20px;
    background: no-repeat left center;
}

#informationList .information-item-content .view-number {
    margin-right: 30px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpjMjU0ZjMyMC04MmNkLTQ2NzMtOWY4Mi1jYjJmMDgyZGExMTgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QkM2RjM5RENENjIzMTFFNkJFQ0NCQ0Q3OTc0Q0I3MUYiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QkM2RjM5REJENjIzMTFFNkJFQ0NCQ0Q3OTc0Q0I3MUYiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUuNSAoTWFjaW50b3NoKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjQ4M2VjNDZiLTQ4MjktNGYxNC05YzZjLWNiMWY2NDM1YzNjNiIgc3RSZWY6ZG9jdW1lbnRJRD0iYWRvYmU6ZG9jaWQ6cGhvdG9zaG9wOjM1NGIxNDY5LTEyNDYtMTE3YS1iZWFmLTkwNTAxYzEwNDcxYSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PhvX2CEAAAEMSURBVHjanNK/SkJhGMfxc0JcHIRj3UA0uDsEgjoEtXQFQhCkc5tji5ubjgoHLOgGmmo7ZwgDp7YguoJQHHSQoL6P/Izjy9HBBz7wvu/z5/z1wzD0nMigjhuUsMA77vGIn2TxgdN8jAhDVJHDEc50FqkmdYBd7Q1lb3uUVVNyB5zgGYfaL3GLAgKtl8pZzYt6VgPyeFLxOlroYYKp1neJfKCevA3oo+jc6kPK7Q+cvfUMbIDv7R++DWjiw0lcpRQ3nL31NOybz3Cptxso2cFv4lFsYDvRPFXPbP0VPnGBb+2z6OolTrTOKmc15+rZ+A/GOMXrjmceqWa87U/8Qg3XiDGXWGcV1fzHnwADADpzNfNBiEx3AAAAAElFTkSuQmCC");
}

#informationList .information-item-content .zan-number {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpjMjU0ZjMyMC04MmNkLTQ2NzMtOWY4Mi1jYjJmMDgyZGExMTgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RDZBMUQ4RUZENjIzMTFFNjk4MDFGMkE2OUIxQUUxMDciIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RDZBMUQ4RUVENjIzMTFFNjk4MDFGMkE2OUIxQUUxMDciIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUuNSAoTWFjaW50b3NoKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjQ4M2VjNDZiLTQ4MjktNGYxNC05YzZjLWNiMWY2NDM1YzNjNiIgc3RSZWY6ZG9jdW1lbnRJRD0iYWRvYmU6ZG9jaWQ6cGhvdG9zaG9wOjM1NGIxNDY5LTEyNDYtMTE3YS1iZWFmLTkwNTAxYzEwNDcxYSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PsWaEwIAAADGSURBVHjaYvz//z8DNjB//vxYIJUKxLsSExNb0OUZsWkEahIBUq+RhCyAmk8iq2FiwA4k0Pg26ApwafRD4z8k6FSgM+2A1H40Q32A+AKU/Q3o7PeM8+bNiwdyxIF4HhC7A/ESLC74DsRsSOyJLEBiAVQAZIsUDqdzIrF5gLiaCWoCCPwA4k8MxIE3TAzkgTMgjf/J0HiOXBsPk6vxNEgjF5TDghZ6uMBtYDy+BSk+DsRq0FB9B02jf7FoYAbi50CcDuIABBgA+Ow1AKaU3jAAAAAASUVORK5CYII=");
}

#informationList .information-sub-more {
    width: 118px;
    height: 38px;
    line-height: 38px;
    margin: 20px auto;
    border: 1px solid #42bad0;
    font-size: 14px;
    text-align: center;
    display: block;
    color: #42bad0;
}

#informationList .information-sub-more:hover {
    background-color: #42bad0;
    color: #ffffff;
}
#informationList .bx-list-flip{
    margin-top: 40px;
    margin-bottom: 10px;
}