{% extends "base.html" %}
{% block title %}
    {{ info.title }}|保险管家
{% endblock %}
{% block keywords %}{{ info.title }}{% endblock %}
{% block description %}{{ info.get_simple_content|slice:":100" }}_保险管家_保险之家{% endblock %}
{% load atm %}
{% block css %}
    {% atmcss www/info:detail %}
{% endblock %}
{% block content %}

    <div id="informationDetail" >
    <div class="grid clf">
        <!-- 面包屑 -->
        <div class="bx-crubms">
            <a href="/">保险管家首页</a> &gt;
            <a href="/zixun/">保险资讯</a> &gt;
            <a href="{{ info.get_type_url }}">{{ info.get_type }}</a> &gt;{{ info.title }}
        </div>
        <div class="clf">
            <!-- 左侧 -->
            <div class="information-content">
                <!-- 文章 -->
                <div class="information-article" style="background-color: #fff">
                    <!-- 文章头部 -->
                    <div class="information-article-header">
                        <h2>{{ info.title }}</h2>
                        <p class="clf">
                            时间：{{ info.get_date }}　|　来源：{{ info.writer }}
                            <span class="share">
                            	<span class="fa-stack fa-lg weixin">
                            	  <i class="fa fa-circle fa-stack-2x"></i>
                            	  <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
                            	</span>
                            <span class="fa-stack fa-lg weibo">
                            	  <i class="fa fa-circle fa-stack-2x"></i>
                            	  <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            	</span>
                            </span>
                        </p>
                    </div>
                    <!-- 文章内容 -->
                    <div class="information-article-content">
                        {% if info.abstract %}
                            <p style="background: #f1f1f1;padding: 10px 15px;font-size: 18px;line-height: 30px;color: #666; margin:0 10px ">摘要:{{ info.abstract }}</p>
                            <br/>
                        {% endif %}
                        {{ info.content|safe }}
                        <p>{{ info.title }}</p>
                    </div>
                    <div style="background: #f1f1f1;padding: 10px 15px;font-size: 13px;line-height: 25px;color: #666;margin: 0 10px">
                        <p >保险管家网关于版权的免责声明：</p>
                        <p>1.凡本网站注明 来源"保险管家网"的作品均受著作权保护，版权属于本网站，转账请注明出处。违反上述声明者，本网站有权追究法律责任</p>
                        <p>2.凡本网站中注明来源非保险管家网的作品， 均转载自网络， 目的在于传播更多信息，并不代表本网赞同其观点和对其真实性负责，如果涉及侵权，请及时联系我们(news@bao361.cn)，我们会尽快核实并删除。</p>
                    </div>
                    <!-- 文章底部 -->
                    <div class="information-article-footer">
                        <span class="filp">
                            {% if last_obj %}
                    		<a href="/zixun/detail/{{ last_obj.zid }}.html" class="prev">{{ last_obj.title }}</a>
                            {% endif %}
                        {% if next_obj %}
                    		<a href="/zixun/detail/{{ next_obj.zid }}.html" class="next">{{ next_obj.title }}</a>
                        {% endif %}
                    	</span>
                        <span class="share">
                            	<span class="fa-stack fa-lg weixin">
                            	  <i class="fa fa-circle fa-stack-2x"></i>
                            	  <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
                            	</span>
                        <span class="fa-stack fa-lg weibo">
                            	  <i class="fa fa-circle fa-stack-2x"></i>
                            	  <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            	</span>
                        </span>
                    </div>
                </div>
                <!-- 相关资讯 -->
                            <!--PC版-->
                <div id="SOHUCS" sid="{{ info.tid }}"></div>
                <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
                <script type="text/javascript">
                window.changyan.api.config({
                appid: 'cysFpBdpH',
                conf: 'prod_b62f090c0a833a65b399a605ebb28635'
                });
                </script>
                <div class="information-relative">
                    <h3>相关资讯</h3>
                    <ul class="clf">
                        {% for i in relate_infos %}
                        <li{% if forloop.counter|divisibleby:2 %} class="left"{% endif %}><a href="/zixun/detail/{{ i.zid }}.html">
                            {{ i.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
                    <div class="fr">
                <!--私人定制-->
                {% include "dingzhi_common.html" %}
                <!--活跃顾问-->

                <!-- 活跃顾问 -->
               {% include "dailiren_common.html" %}
            </div>

        </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block js %}
    {% atmjs www/info:detail %}
{% endblock %}