{% extends "base.html" %}
{% block title %}
    {{ info.title }}_资讯_保险管家
{% endblock %}
{% load atm %}
{% block css %}
    {% atmcss www/info:detail %}
{% endblock %}
{% block content %}

    <div id="informationDetail" class="clf">
        <!-- 面包屑 -->
        <div class="crubms">
            <a href="/">保险管家首页</a> &gt;
            <a href="/zixun/">保险资讯</a> &gt;
            <a href="#">{{ info.get_type }}</a> &gt;{{ info.title }}
        </div>
        <div class="clf">
            <!-- 左侧 -->
            <div class="information-content">
                <!-- 文章 -->
                <div class="information-article">
                    <!-- 文章头部 -->
                    <div class="information-article-header">
                        <h2>{{ info.title }}</h2>
                        <p class="clf">
                            时间：{{ info.get_date }}　|　来源：{{ info.writer }}
                            <span class="share">
                            	<span class="fa-stack fa-lg weixin">
                            	  <i class="fa fa-circle fa-stack-2x"></i>
                            	  <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
                            	</span>
                            <span class="fa-stack fa-lg weibo">
                            	  <i class="fa fa-circle fa-stack-2x"></i>
                            	  <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            	</span>
                            </span>
                        </p>
                    </div>
                    <!-- 文章内容 -->
                    <div class="information-article-content">
                        {{ info.content|safe }}
                    </div>
                    <!-- 文章底部 -->
                    <div class="information-article-footer">
                        <span class="filp">
                            {% if last_id %}
                    		<a href="/zixun/detail/{{ last_id }}.html" class="prev">上一篇</a>
                            {% endif %}
                        {% if next_id %}
                    		<a href="/zixun/detail/{{ next_id }}.html" class="next">下一篇</a>
                        {% endif %}
                    	</span>
                        <span class="share">
                            	<span class="fa-stack fa-lg weixin">
                            	  <i class="fa fa-circle fa-stack-2x"></i>
                            	  <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
                            	</span>
                        <span class="fa-stack fa-lg weibo">
                            	  <i class="fa fa-circle fa-stack-2x"></i>
                            	  <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            	</span>
                        </span>
                    </div>
                </div>
                <!-- 相关资讯 -->
                            <!--PC版-->
                <div id="SOHUCS" sid="{{ info.tid }}"></div>
                <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
                <script type="text/javascript">
                window.changyan.api.config({
                appid: 'cysFpBdpH',
                conf: 'prod_b62f090c0a833a65b399a605ebb28635'
                });
                </script>
                <div class="information-relative">
                    <h3>相关资讯</h3>
                    <ul class="clf">
                        {% for i in relate_infos %}
                        <li{% if forloop.counter|divisibleby:2 %} class="left"{% endif %}><a href="/zixun/detail/{{ i.zid }}.html">
                            {{ i.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- 右侧 -->
            <div class="sidebar">
                <!-- 热门资讯 -->
                <div class="hot-information">
                    <h3>热门资讯</h3>
                    <ul>
                        {% for i in hot_infos %}
                        <li><a href="/zixun/detail/{{ i.zid }}.html">
                            {{ i.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- 热心顾问 -->
                <div class="warmheart-advisers">
                    <!--title-->
                    <h3 class="rank-title">
                        <b>热心顾问</b>
                        <div class="rank-title-tab">
                            <a href="http://192.168.12.48:2015/files/bx/www/info/1.0.0/html/detail.html" class="active">今日</a>
                            <a href="http://192.168.12.48:2015/files/bx/www/info/1.0.0/html/detail.html">本周</a>
                            <a href="http://192.168.12.48:2015/files/bx/www/info/1.0.0/html/detail.html">本月</a>
                        </div>
                    </h3>
                    <!--list-->

                    <div class="rank-type rank-day">
                        <div class="rank-item">
                            <img src="./资讯详情页_files/test-avatar.png" alt="" width="32" height="32" class="rank-item-avatar">
                            <span class="rank-item-name">1这是个名字</span>
                            <span class="rank-item-company">公司的名字</span>
                            <span class="rank-item-level"></span>
                            <span class="rank-item-authentication"></span>
                            <span class="rank-item-score">554条回答</span>
                            <a href="http://192.168.12.48:2015/files/bx/www/info/1.0.0/html/detail.html" class="rank-item-link">咨询他</a>
                        </div>
                        <div class="rank-item">
                            <img src="./资讯详情页_files/test-avatar.png" alt="" width="32" height="32" class="rank-item-avatar">
                            <span class="rank-item-name">这是个名字</span>
                            <span class="rank-item-company">公司的名字</span>
                            <span class="rank-item-level"></span>
                            <span class="rank-item-authentication"></span>
                            <span class="rank-item-score">554条回答</span>
                            <a href="http://192.168.12.48:2015/files/bx/www/info/1.0.0/html/detail.html" class="rank-item-link">咨询他</a>
                        </div>
                        <div class="rank-item">
                            <img src="./资讯详情页_files/test-avatar.png" alt="" width="32" height="32" class="rank-item-avatar">
                            <span class="rank-item-name">这是个名字</span>
                            <span class="rank-item-company">公司的名字</span>
                            <span class="rank-item-level"></span>
                            <span class="rank-item-authentication"></span>
                            <span class="rank-item-score">554条回答</span>
                            <a href="http://192.168.12.48:2015/files/bx/www/info/1.0.0/html/detail.html" class="rank-item-link">咨询他</a>
                        </div>
                    </div>
                    <div class="rank-type rank-week fn-hidden">
                        <div class="rank-item">
                            <img src="./资讯详情页_files/test-avatar.png" alt="" width="32" height="32" class="rank-item-avatar">
                            <span class="rank-item-name">2这是个名字</span>
                            <span class="rank-item-company">公司的名字</span>
                            <span class="rank-item-level"></span>
                            <span class="rank-item-authentication"></span>
                            <span class="rank-item-score">554条回答</span>
                            <a href="http://192.168.12.48:2015/files/bx/www/info/1.0.0/html/detail.html" class="rank-item-link">咨询他</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {% atmjs www/info:detail %}
{% endblock %}