<div class="lively-advisers">
    <!--title-->
    <h3>{% if request.city %}<strong style="color: #F57723">{{ request.city }}&nbsp;</strong>{% endif %}活跃顾问</h3>
    <!--list-->
    {% with users=dailiren_common.get_hot|slice:":6" %}
        {% for user in users %}

                <div class="rank-list">
                    <div class="rank-item clf">
                        <a href="http://{{ user.uid }}.site.bao361.cn" target="_blank">
                            <img src="
                                {{ user.get_img_url }}"
                             class="rank-item-avatar">
                        </a>
                        <div class="info">
                            <h4>
                                {{ user.get_namecontent }}，{{ user.get_short_comname }}
                            </h4>
                            <p>
                                <span class="idf  idf-level"></span>
                                {% if user.phone %}<span class="idf idf-authentication">已认证</span>{% endif %}
                                {% if user.proxy_workyear %}<span class="idf idf-exprience">从业{{ user.proxy_workyear }}年</span>{% endif %}
                            </p>
                        </div>
                        <div class="rank-item-consult i-want-to-ask" title="咨询">
                            <img src="/static/imgs/consult-icon.png">
                           <script class="chat-box-wrap" type="text/html">
                                        <div class="consultation-popup">
                                            <div class="consultation-popup-content">
                                                <div class="consultation-header clf">
                                                    <div class="adviser-info clf">
                                                        <a href="http://{{ user.uid }}.site.bao361.cn" class="adviser-info-avatar">
                                                            <img src="{{ user.get_img_url }}" alt="" style="width: 48px;height: 48px;border-radius: 24px">
                                                        </a>
                                                        <div class="adviser-info-content">
                                                            <h4>
                                                                <a href="" class="adviser-info-name">{{ user.get_namecontent }}</a>
                                                                <a href="" class="adviser-info-company">{{ user.get_short_comname }}</a>
                                                            </h4>
                                                            <p>
                                                                <span class="idf  idf-level"></span>
                                                                {% if user.phone %}<span class="idf idf-authentication">已认证</span>{% endif %}
                                                                {% if user.proxy_workyear %}<span class="idf idf-exprience">从业{{ user.proxy_workyear }}年</span>{% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <span class="chat-online-close close" title="关闭"></span>
                                                </div>
                                                <div class="consultation-body">
                                                    <h5>已有 <span>1234</span> 位客户通过保险管家获得一对一咨询</h5>

                                                    <form class="ui-form consultation-form" action="/dailiren/add_advice" method="post">
                                                        {% csrf_token %}
                                                        <input name="next" value="{{ request.path }}" style="display:none;">
                                                        <input name="uid" value="{{ user.uid }}" style="display:none;">
                                                        <div class="ui-form-item">
                                                            <div class="form-control clf">
                                                                <div class="form-control-ele">
                                                                    <input class="cellphone" type="text" name="cellphone" placeholder="手机号码">
                                                                </div>
                                                            </div>
                                                            <div class="ui-form-explain"></div>
                                                        </div>
                                                        <div class="ui-form-item">
                                                            <div class="form-control clf">
                                                                <div class="form-control-ele">
                                                                    <textarea class="ask-text" name="text" placeholder="留言内容"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="ui-form-explain"></div>
                                                        </div>
                                                        <button type="submit" class="submit">提交</button>
                                                    </form>
                                                    <p class="tips">您的隐私将被严格保密</p>
                                                </div>
                                            </div>
                                            <div class="consultation-mask"></div>
                                        </div>
                                    </script>
                        </div>
                    </div>

                </div>
        {% endfor %}
    {% endwith %}

</div>