{% extends "base.html" %}
{% block title %}
    保险代理人_{{ user.real_name }}_{{ user.comname }}_保险管家
{% endblock %}
{% block keywords %}
    保险代理人_{{ user.real_name }}_{{ user.comname }}_保险管家
{% endblock %}
{% block description %}
     保险代理人_{{ user.real_name }}_{{ user.comname }}_保险管家
{% endblock %}
{% load atm %}
{% block css %}
    {% atmcss www/adviser:detail %}
{% endblock %}
{% block content %}
<div id="adviserDetail" >
    <div class="grid clf">
    <!--概要-->
    <div class="adviser-preview-wrap">
        <div class="adviser-preview">
            <h2>{{ user.get_namecontent }}</h2>
            <div class="clf">
                <div class="adviser-preview-img">
                    <img src="{{ user.get_img_url }}">
                </div>
                <div class="adviser-preview-basic">
                    <p class="job">客户经理</p>
                    <p class="company"><span>{{ user.get_province_city_info }}</span>{{ user.comname }}</p>
                    <p class="contact"><span>电话：{{ user.get_hide_phone }}</span>QQ：{{ user.qq }}<span>微信：{{ user.get_hide_weixin }}</span></p>

                    <a class="consult-btn" href="/ask/" target="_blank">我要咨询</a>
                </div>
                <div class="adviser-preview-addition">
                    <p>
                        <span>保险代理资格证号：</span>{{ user.proxy_certifinum }}
                    </p>
                    <p>
                        <span>保险销售执业证号：</span>{{ user.proxy_practicenum }}
                    </p>
                    <p>
                        <span>从业时间：</span>{{ user.proxy_workyear }}年
                    </p>
                    <p>
                        <span>回答：</span>{{ user.ans_num }}条
{#                        <span class="ml50">好评：</span>100#}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--详情-->
    <div class="adviser-details">
        <!--tabs-->
        <div class="adviser-details-tabs">
            <a href="javascript:;" class="active">个人信息</a>
        </div>
        <!--个人信息-->
        <div class="adviser-personal-info">
            <!--个人介绍-->
            <div class="clf intro">
                <div class="fl">
                    个人介绍
                </div>
                <div class="content">
                    <p>{{ user.proxy_myad }}</p>
                </div>
            </div>
{#            <!--擅长险种-->#}
{#            <div class="clf adept">#}
{#                <div class="fl">#}
{#                    擅长险种#}
{#                </div>#}
{#                <div class="content">#}
{#                    <a href="" class="color">人寿险</a>#}
{#                    <a href="" class="color">重疾险</a>#}
{#                    <a href="" class="color">养老险</a>#}
{#                </div>#}
{#            </div>#}
            <!--所在公司-->
            <div class="clf company">
                <div class="fl">
                    所在公司
                </div>
                <div class="content">
                    <p>
{{ user.comname }}                    </p>

                    <p>
                        {{ user.comcontent }}
                    </p>
                </div>
                <div class="unfold">
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <!--问答-->
            <div class="clf qa">
                <div class="fl">
                    问答
                </div>
                <div class="content">
                    {% for i in my_ans_ask %}
                    <a href="/ask/detail/{{ i.askid }}.html" class="color" target="_blank">问：{{ i.ask_content }}.</a>
                        <p>答：{{ i.self_content }}</p>
                    {% endfor %}
                </div>
                <div class="unfold">
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <div class="clf ">
                <div class="fl">
                    我的增员
                </div>
                <div class="content">
                    {% for add in my_adds %}
                    <p  style="color: #42BAD0" >{{ add.title }}[发布时间：{{ add.get_date }}]</p>
                        <p>职位:{{ add.position_info }}</p>
                        <p>薪资:{{ add.money_info }}</p>
                        <p>学位要求:{{ add.degree_info }}</p>
                        <p>所属险企:{{ add.company_info }}</p>
                        <p>工作年限:{{ add.work_year }}</p>
                        <p>招聘人数:{{ add.num }}</p>
                        <div><p >职位描述:</p>{{ add.work_content|safe  }}</div>
                        <div><p >工作要求:</p>{{ add.need_content|safe }}</div>
                        <p>联系电话：{{ add.phone }}</p>
                        <p>工作地址：{{ add.address }}</p>
                    {% endfor %}
                </div>
                <div class="unfold">
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>

            <div class="clf qa">
                <div class="fl">
                    签单分享
                </div>
                <div class="content">
                    {% for share in my_shares %}
                    <p  style="color: #42BAD0" >{{ share.title }}[发布时间：{{ share.get_date }}]</p>
                        <p>险企:{{ share.company_info }}</p>
                        <p>保费:{% if share.price %}{{ share.price }}{% endif %}</p>
                        <p>保险产品:{{ share.other_proname }}</p>
                        <div><p >分享内容:</p>{{ share.content|safe  }}</div>
                    {% endfor %}
                </div>
                <div class="unfold">
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <!--保险产品-->
            <div class="clf product">
                <div class="fl">
                    保险产品
                </div>
                <div class="content">
                    {% for product in products|slice:":4" %}
                    <div class="clf">
                        <div class="product-img">
                            <img src="{{ product.img.url }}">
                        </div>
                        <div class="product-info">
                            <h4>{{ product.pro_name }}</h4>
                            <p>{{ product.bx_feature }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="unfold">
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <!--客户感言-->
{#            <div class="clf client">#}
{#                <div class="fl">#}
{#                    客户感言#}
{#                </div>#}
{#                <div class="content">#}
{#                    <div class="clf">#}
{#                        <div class="client-name">#}
{#                            来自投保客户：#}
{#                        </div>#}
{#                        <div class="client-word">#}
{#                            咨询时回答的非常专业，不管什么问题都会帮助客户分析，可见买保险选业务员很重要，虽然我们是陌生人，#}
{#                            但还是很耐心，必须好评，谢谢佻 ，祝您工作顺利!#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="clf">#}
{#                        <div class="client-name">#}
{#                            来自投保客户：#}
{#                        </div>#}
{#                        <div class="client-word">#}
{#                            咨询时回答的非常专业，不管什么问题都会帮助客户分析，可见买保险选业务员很重要，虽然我们是陌生人，#}
{#                            但还是很耐心，必须好评，谢谢佻 ，祝您工作顺利!#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="clf">#}
{#                        <div class="client-name">#}
{#                            来自投保客户：#}
{#                        </div>#}
{#                        <div class="client-word">#}
{#                            咨询时回答的非常专业，不管什么问题都会帮助客户分析，可见买保险选业务员很重要，虽然我们是陌生人，#}
{#                            但还是很耐心，必须好评，谢谢佻 ，祝您工作顺利!#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="clf">#}
{#                        <div class="client-name">#}
{#                            来自投保客户：#}
{#                        </div>#}
{#                        <div class="client-word">#}
{#                            咨询时回答的非常专业，不管什么问题都会帮助客户分析，可见买保险选业务员很重要，虽然我们是陌生人，#}
{#                            但还是很耐心，必须好评，谢谢佻 ，祝您工作顺利!#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#                <div class="unfold">#}
{#                    <i class="fa fa-caret-down"></i>#}
{#                </div>#}
{#            </div>#}
            <!--个人风采-->
            <div class="clf pic">
                <div class="fl">
                    个人风采
                </div>
                <div class="content clf">
                    <div class="pic-item">
                        <img src="{{ user.get_img_url }}">
                    </div>

                </div>
                <div class="unfold">
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
        </div>
    </div>

</div>
    </div>
{% endblock %}
{% block js %}
    {% atmjs www/adviser:detail %}
{% endblock %}

