<div class="lively-advisers">
    <!--title-->
    <h3>活跃顾问</h3>
    <!--list-->
    {% with users=dailiren_common.get_hot|slice:":6" %}
        {% for user in users %}

                <div class="rank-list">
                    <div class="rank-item clf">
                        <a href="/dailiren/detail/{{ user.uid }}.html" target="_blank">
                            <img src="
                                {{ user.get_img_url }}"
                             class="rank-item-avatar">
                        </a>
                        <div class="info">
                            <h4>
                                {{ user.get_namecontent }}，{{ user.get_short_comname }}
                            </h4>
                            <p>
                                <span class="rank-item-level"></span>
                                <span class="rank-item-authentication"></span>
                            </p>
                        </div>
                        <div class="rank-item-consult">
                            咨询
                            <script class="chat-box-wrap" type="text/html">
                                <div class="chat-online-wrap chat-box">
                                    <!--聊天-->
                                    <div class="chat-online-box">
                                        <!--header-->
                                        <div class="chat-online-header clf">
                                            <img src="
                                                    {{ user.get_img_url }}"
                                                 alt="" class="chat-online-avatar">
                                            <div class="chat-online-info">
                                                <p>{{ user.get_namecontent }}，{{ profile.get_short_comname }}</p>
                                                <p>
                                                    <span class="chat-online-info-level"></span>
                                                    <span class="chat-online-info-authentication"></span>
                                                </p>
                                            </div>
                                            <div class="chat-online-close" title="关闭"></div>
                                        </div>
                                        <!--记录-->
                                        <div class="chat-online-body">
                                            <div class="chat-online-item clf left">
                                                <img src="
                                                        {{ user.get_img_url }}"
                                                     alt="" class="chat-online-item-avatar">
                                                <div class="chat-online-item-content">你好，有什么需要帮助的么？
                                                    请留下你的联系方式，以便我能联系到您。
                                                </div>
                                            </div>

                                        </div>
                                        <!--发送-->
                                        <div class="chat-online-footer">
                                            <form class="ui-form" action="/files/bx/www/common/1.0.0/html/data/提交失败">
                                                <div class="ui-form-item">
                                                    <textarea name="text" class="chat-text-field"
                                                              placeholder="填写咨询信息......"></textarea>
                                                    <div class="ui-form-explain"></div>
                                                </div>
                                                <div class="send-btn">发送</div>
                                            </form>
                                        </div>
                                    </div>
                                    <!--遮罩-->
                                    <div class="chat-online-mask"></div>
                                </div>
                            </script>
                        </div>
                    </div>

                </div>
        {% endfor %}
    {% endwith %}

</div>