{% extends "base.html" %}
{% block title %}
    {{ info.pro_name }}保险代理人_保险管家
{% endblock %}
{% load atm %}
{% load math %}
{% load range %}
{% load pinyin %}
{% block css %}
    {% atmcss www/adviser:index %}
{% endblock %}
{% block content %}
<div id="adviserList">
<div class="grid clf">
    <!--面包屑导航-->
    <div class="bx-crubms">
        <a href="">保险管家</a> &gt;
        <a href="">保险代理人</a>
    </div>

    <!-- 条件筛选-->
    <div class="adviser-condition">
        <!--保险公司-->
        <div class="company clf">
            <div class="fl">
                保险公司：
            </div>
            <div class="content letter-filter">
                    <div class="grapheme-box">
                        <a href="/dailiren/search/0-0/" class="single {% if c_id == 0 %}active{% endif %}">全部</a>
                        <div class="grapheme">
                            {% for tt in "ABCDEFGHIGKLMNOPQRSTUVWXYZ"|make_list %}
                            <a href class="single-grapheme" data-key="{{ tt }}">{{ tt }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="sub-content">
                        {% for i in company_list %}
                        <a data-belong="{{ i.shortname|first_letter|upper }}" href="/dailiren/search/0-{{ i.cid }}/" class="single {% if c_id == i.cid %}active{% endif %}">{{ i.shortname }}</a>
                        {% endfor %}
                    </div>

                </div>
        </div>
        <div class="selected clf">
                    <div class="fl">
                        条件：
                    </div>
                    <div class="content">
                        {% if c_id == 0 %}
                        <a href="javascript:;" class="selected-item">全部</a>
                        {% else %}
                        <a href="javascript:;" class="selected-item">{{ c_obj.shortname }}</a>
                        {% endif %}
                    </div>
                </div>
    </div>
    <!--已选条件-->


    <div class="clf">
        <div class="fl">
            <!--筛选结果-->
            <div class="adviser-list clf">
                {% for i in info %}
                {% with myuser=i.get_user comname=i.get_comname  com_obj=i.get_comobj%}

                    <div class="adviser-item clf">
                            <!--头像-->
                            <div class="adviser-item-resume-img">
                                <img src="{{ myuser.imgurl.url }}">
                            </div>
                            <!--资料-->
                            <div class="adviser-item-resume-word">
                                <h4>
                                    {{ myuser.real_name }}<span class="adviser-item-resume-location">{{ i.get_city_info }}</span><span class="adviser-item-resume-company">{{ comname }}</span>
                                </h4>
                                <p>
                                    lv2 已认证
                                </p>
                                <p>
                                    <span>从业时间：</span>{{ i.year }}年
                                </p>
                                <p>
                                    <span>回答问题：</span>{{ i.ans_num }}条
                                </p>
                                <p>
                                    <span> 擅长险种：</span>
                                    <a href="" class="color">人寿险</a>
                                    <a href="" class="color">重疾险</a>
                                    <a href="" class="color">养老险</a>
                                </p>
                            </div>
                            <!--详情-->
                            <div class="adviser-item-detail">
                                {{ i.my_ad }}
                            </div>

                            <div class="adviser-item-other">
                                <img src="{{ com_obj.img.url }}" class="adviser-item-company-logo">
                                <a href="" class="adviser-item-consult">我要咨询</a>
                            </div>

                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
            <!--翻页-->
            {% if allinfo.paginator.num_pages >= 2 %}
                <div class="bx-list-flip clf">
                    {% if allinfo.has_previous %}
                    <a href="/dailiren/search/{{ city_id }}-{{ c_id }}/{{ allinfo.previous_page_number }}.html" class="bx-list-flip-btn prev">&lt;</a>
                        {% endif %}
                    {% for t in allinfo.number|near:3 %}
                        {% if t > 0 and t <= allinfo.paginator.num_pages %}
                    <a href="/dailiren/search/{{ city_id }}-{{ c_id }}/{{ t }}.html" class="bx-list-flip-btn number {% if t == allinfo.number %}active{% endif %}">{{ t }}</a>
                        {% endif %}
                    {% endfor %}
                {% if allinfo.has_next %}
                    <a href="/dailiren/search/{{ city_id }}-{{ c_id }}/{{ allinfo.next_page_number }}.html" class="bx-list-flip-btn next">&gt;</a>
                    {% endif %}
                </div>
            {% endif %}

        </div>


        <div class="fr">
            <!--保险精英-->
            {% include "dingzhi_common.html" %}

            <!--保险人动态-->

        </div>

    </div>


</div>
    </div>
{% endblock %}
{% block js %}
    {% atmjs www/adviser:index %}
{% endblock %}