<div class="lively-advisers">
                    <!--title-->
                    <h3 class="rank-title">
                        <b>活跃顾问</b>
{#                        <div class="rank-title-tab">#}
{#                            <a href="" class="active">今日</a>#}
{#                            <a href="">本周</a>#}
{#                            <a href="">本月</a>#}
{#                        </div>#}
                    </h3>
                    <!--list-->

                    <div class="rank-type rank-day">
                        {% with userprofiles=dailiren_common.get_hot|slice:":6" %}
                            {% for profile in userprofiles %}
                                {% with user=profile.get_user %}
                        <div class="rank-item clf">
                            <img src="{% if user.imgurl %}{{ user.imgurl.url }}{% else %}/static/imgs/default-user.png{% endif %}" class="rank-item-avatar">
                            <div class="info">
                                <p>
                                    <span class="rank-item-name">{% if user.real_name %}{{ user.real_name }}{% else %}{{ user.username|slice:":4" }}**{% endif %}</span>
                                    <span class="rank-item-level"></span>
                                    <span class="rank-item-authentication"></span>
                                </p>
                                <p>
                                    <span class="rank-item-company">{{ profile.get_short_comname }}&nbsp;</span>
                                </p>
                            </div>
{#                            <div class="fr">#}
{#                                <span class="rank-item-score">{{ profile.ans_num }}条回答</span>#}
{#                                <a href="" class="rank-item-link">咨询他</a>#}
{#                            </div>#}
                        <div class="rank-item-consult">
                                    咨询
                                </div>
                        </div>
                                {% endwith %}
                            {% endfor %}

                        {% endwith %}

                    </div>
{#                    <div class="rank-type rank-week fn-hidden">#}
{#                        <div class="rank-item clf">#}
{#                            <img src="/files/bx/www/common/1.0.0/html/img/test-avatar.png" class="rank-item-avatar">#}
{#                            <div class="info">#}
{#                                <p>#}
{#                                    <span class="rank-item-name">1这是个名字</span>#}
{#                                    <span class="rank-item-level"></span>#}
{#                                    <span class="rank-item-authentication"></span>#}
{#                                </p>#}
{#                                <p>#}
{#                                    <span class="rank-item-company">公司的名字</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="fr">#}
{#                                <span class="rank-item-score">554条回答</span>#}
{#                                <a href="" class="rank-item-link">咨询他</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="rank-item clf">#}
{#                            <img src="/files/bx/www/common/1.0.0/html/img/test-avatar.png" class="rank-item-avatar">#}
{#                            <div class="info">#}
{#                                <p>#}
{#                                    <span class="rank-item-name">1这是个名字</span>#}
{#                                    <span class="rank-item-level"></span>#}
{#                                    <span class="rank-item-authentication"></span>#}
{#                                </p>#}
{#                                <p>#}
{#                                    <span class="rank-item-company">公司的名字</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="fr">#}
{#                                <span class="rank-item-score">554条回答</span>#}
{#                                <a href="" class="rank-item-link">咨询他</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="rank-item clf">#}
{#                            <img src="/files/bx/www/common/1.0.0/html/img/test-avatar.png" class="rank-item-avatar">#}
{#                            <div class="info">#}
{#                                <p>#}
{#                                    <span class="rank-item-name">1这是个名字</span>#}
{#                                    <span class="rank-item-level"></span>#}
{#                                    <span class="rank-item-authentication"></span>#}
{#                                </p>#}
{#                                <p>#}
{#                                    <span class="rank-item-company">公司的名字</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="fr">#}
{#                                <span class="rank-item-score">554条回答</span>#}
{#                                <a href="" class="rank-item-link">咨询他</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="rank-item clf">#}
{#                            <img src="/files/bx/www/common/1.0.0/html/img/test-avatar.png" class="rank-item-avatar">#}
{#                            <div class="info">#}
{#                                <p>#}
{#                                    <span class="rank-item-name">1这是个名字</span>#}
{#                                    <span class="rank-item-level"></span>#}
{#                                    <span class="rank-item-authentication"></span>#}
{#                                </p>#}
{#                                <p>#}
{#                                    <span class="rank-item-company">公司的名字</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="fr">#}
{#                                <span class="rank-item-score">554条回答</span>#}
{#                                <a href="" class="rank-item-link">咨询他</a>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <div class="rank-type rank-month fn-hidden">#}
{#                        <div class="rank-item clf">#}
{#                            <img src="/files/bx/www/common/1.0.0/html/img/test-avatar.png" class="rank-item-avatar">#}
{#                            <div class="info">#}
{#                                <p>#}
{#                                    <span class="rank-item-name">1这是个名字</span>#}
{#                                    <span class="rank-item-level"></span>#}
{#                                    <span class="rank-item-authentication"></span>#}
{#                                </p>#}
{#                                <p>#}
{#                                    <span class="rank-item-company">公司的名字</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="fr">#}
{#                                <span class="rank-item-score">554条回答</span>#}
{#                                <a href="" class="rank-item-link">咨询他</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="rank-item clf">#}
{#                            <img src="/files/bx/www/common/1.0.0/html/img/test-avatar.png" class="rank-item-avatar">#}
{#                            <div class="info">#}
{#                                <p>#}
{#                                    <span class="rank-item-name">1这是个名字</span>#}
{#                                    <span class="rank-item-level"></span>#}
{#                                    <span class="rank-item-authentication"></span>#}
{#                                </p>#}
{#                                <p>#}
{#                                    <span class="rank-item-company">公司的名字</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="fr">#}
{#                                <span class="rank-item-score">554条回答</span>#}
{#                                <a href="" class="rank-item-link">咨询他</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="rank-item clf">#}
{#                            <img src="/files/bx/www/common/1.0.0/html/img/test-avatar.png" class="rank-item-avatar">#}
{#                            <div class="info">#}
{#                                <p>#}
{#                                    <span class="rank-item-name">1这是个名字</span>#}
{#                                    <span class="rank-item-level"></span>#}
{#                                    <span class="rank-item-authentication"></span>#}
{#                                </p>#}
{#                                <p>#}
{#                                    <span class="rank-item-company">公司的名字</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="fr">#}
{#                                <span class="rank-item-score">554条回答</span>#}
{#                                <a href="" class="rank-item-link">咨询他</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="rank-item clf">#}
{#                            <img src="/files/bx/www/common/1.0.0/html/img/test-avatar.png" class="rank-item-avatar">#}
{#                            <div class="info">#}
{#                                <p>#}
{#                                    <span class="rank-item-name">1这是个名字</span>#}
{#                                    <span class="rank-item-level"></span>#}
{#                                    <span class="rank-item-authentication"></span>#}
{#                                </p>#}
{#                                <p>#}
{#                                    <span class="rank-item-company">公司的名字</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="fr">#}
{#                                <span class="rank-item-score">554条回答</span>#}
{#                                <a href="" class="rank-item-link">咨询他</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="rank-item clf">#}
{#                            <img src="/files/bx/www/common/1.0.0/html/img/test-avatar.png" class="rank-item-avatar">#}
{#                            <div class="info">#}
{#                                <p>#}
{#                                    <span class="rank-item-name">1这是个名字</span>#}
{#                                    <span class="rank-item-level"></span>#}
{#                                    <span class="rank-item-authentication"></span>#}
{#                                </p>#}
{#                                <p>#}
{#                                    <span class="rank-item-company">公司的名字</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="fr">#}
{#                                <span class="rank-item-score">554条回答</span>#}
{#                                <a href="" class="rank-item-link">咨询他</a>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
                </div>