body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1419px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:126px;
  width:1419px;
  height:864px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1419px;
  height:864px;
}
#u1 {
  position:absolute;
  left:2px;
  top:424px;
  width:1415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:64px;
  top:34px;
  width:261px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
