#adviserList {
    background-color: #f5f5f5;
}

/*条件筛选*/
#adviserList .adviser-condition {
    width: 1198px;
    margin: 0 auto 20px;
    border: 1px solid #ebebeb;
    overflow: hidden;
    background-color: #fff;
}

#adviserList .adviser-condition > .clf {
    width: 1168px;
    line-height: 30px;
    padding: 4px 10px 4px 20px;
    border-bottom: 1px solid #ebebeb;
}

#adviserList .adviser-condition > .clf > .fl {
    width: 112px;
}

#adviserList .adviser-condition > .clf > .fr {
    width: 148px;
    text-align: right;
}

#adviserList .adviser-condition .more {
    display: inline-block;
    width: 48px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #ebebeb;
    text-align: center;
    margin-top: 3px;
}

#adviserList .adviser-condition .content {
    display: inline-block;
    width: 908px;
}

#adviserList .adviser-condition a.active {
    color: #42bad0;
}

#adviserList .adviser-condition .single {
    display: inline-block;
    width: 110px;
}

#adviserList .adviser-condition .area {
    height: 30px;
}

#adviserList .adviser-condition .company {
    /*height: 60px;*/
}

#adviserList .adviser-condition .company .more {
    margin-top: 34px;
}

#adviserList .adviser-condition .company .grapheme {
    display: inline-block;
}

#adviserList .adviser-condition .company .single-grapheme {
    margin-right: 15px;
}

/*已选条件*/
#adviserList .adviser-condition .selected {
    border-bottom: none;
}

#adviserList .adviser-condition .selected-item {
    display: inline-block;
    line-height: 20px;
    border: 1px solid #dbdbdb;
    padding: 0 21px 0 4px;
    margin-right: 6px;
    color: #42bad0;
    background: no-repeat right center url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAYAAACgR9dcAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3JpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpjMjU0ZjMyMC04MmNkLTQ2NzMtOWY4Mi1jYjJmMDgyZGExMTgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QTMyNTdCOEFENDdEMTFFNjg2NzZCRTEwNTFEMjg5ODEiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QTMyNTdCODlENDdEMTFFNjg2NzZCRTEwNTFEMjg5ODEiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUuNSAoTWFjaW50b3NoKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjI1RDIwQjIyRDQ3RDExRTZBMDM0OTlERUUxMDk3QjBFIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjI1RDIwQjIzRDQ3RDExRTZBMDM0OTlERUUxMDk3QjBFIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+e3F+pgAAAKRJREFUeNpinDdvHisDA4MmEF9iwA30gPh6YmLib2RBJiDWAuK9QGyHQ6MdVF4LXQKk+SIQhwLxWiwG2EHFQ6HqMDSDwAEsBiBrPIDNSUxIbGQDiglpRNcMM6ALiHug9AE8gYih2R6Iy5CwPbGaQQrXQJ3aDcQhUL49Ic0wjSFITj1IyACQZn0kjQfR5JEN0EfXzALE14DYGU8KOwiVv44uARBgAMeGKCd1gIANAAAAAElFTkSuQmCC');
}

#adviserList .adviser-condition .selected-item:hover{
    border-color: #42bad0;
}

/*排序*/
/*#adviserList .adviser-list-sort-wrap {
    width: 1198px;
    height: 40px;
    border: 1px solid #ebebeb;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    position: relative;
}

#adviserList .adviser-list-sort {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 2;
    width: 1200px;
    line-height: 42px;
    height: 42px;
}

#adviserList .adviser-list-sort a {
    display: block;
    float: left;
    width: 90px;
    height: 42px;
    text-align: center;
}

#adviserList .adviser-list-sort a:hover,
#adviserList .adviser-list-sort a.active {
    color: #ffffff;
    background-color: #42bad0;
}*/

/*筛选结果*/
#adviserList .adviser-list {
    width: 878px;
    border: 1px solid #ebebeb;
    border-bottom: none;
    overflow: hidden;
}

#adviserList .adviser-item {
    width: 828px;
    height: 130px;
    border-bottom: 1px solid #ebebeb;
    padding: 30px 30px 30px 20px;
    background-color: #fff;
}
#adviserList .adviser-item-resume-img {
    float: left;
    position: relative;
    width: 140px;
    height: 120px;
}

#adviserList .adviser-item-resume-img img {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#adviserList .adviser-item-resume-word {
    float: left;
    width: 288px;
    height: 100%;
}

#adviserList .adviser-item-resume-word h4 {
    font-size: 18px;
    font-weight: bold;
}

#adviserList .adviser-item-resume-word h4 span{
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
}

#adviserList .adviser-item-resume-word p {
    line-height: 1.8;
}

#adviserList .adviser-item-resume-word p span{
    color: #808080;
}


#adviserList .adviser-item-detail {
    float: left;
    margin-top: 45px;
    width: 190px;
    height: 80px;
    padding: 0 30px;
    border-left: 1px solid #ebebeb;
    overflow: hidden;
    color: #808080;
}

#adviserList .adviser-item-other {
    float: right;
    width: 102px;
    height: 120px;
}


#adviserList .adviser-item-company-logo{
    display: block;
    width: 100px;
    height: 46px;
    border: 1px solid #ebebeb;
}

#adviserList .adviser-item-consult {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #42bad0;
    color: #42bad0;
    background-color: #ffffff;
    text-align: center;
    margin-top: 40px;
}

#adviserList .adviser-item-consult:hover {
    background-color: #42bad0;
    color: #ffffff;
}