<div class="custom-box">
    <h3>私人定制</h3>
    <div class="custom-content">
        <form id="custom-form" class="ui-form" action="/dingzhi/add/" method="post">
            {% csrf_token %}
            <div class="ui-form-item">
                <div class="form-control clf">
                    <label for="contact">
                        您的称呼
                    </label>
                    <div class="form-control-ele">
                        <input type="text" id="name" name="name" placeholder="请填写">
                    </div>
                </div>
                <div class="ui-form-explain"></div>
            </div>
                        <div class="ui-form-item">
                <div class="form-control clf">
                    <label for="contact">
                        手机
                    </label>
                    <div class="form-control-ele">
                        <input type="text" id="contact" name="contact" placeholder="请填写">
                    </div>
                </div>
                <div class="ui-form-explain"></div>
            </div>
            <div class="ui-form-item">
                <div class="form-control clf">
                    <label for="type">
                        联系时段
                    </label>
                    <div class="form-control-ele">
                        <select name="type" id="type">
                            <option value="0">随时</option>
                            <option value="1">早上</option>
                            <option value="2">中午</option>
                            <option value="3">晚上</option>

                        </select>
                    </div>
                </div>
                <div class="ui-form-explain"></div>
            </div>

            <button type="submit" class="submit">提交</button>
        </form>
    </div>
</div>
