{% extends "base.html" %}
{% block title %}
    保险产品_保险管家
{% endblock %}
{% load atm %}
{% load math %}
{% load range  %}
{% load pinyin %}
{% block css %}
    {% atmcss www/product:index %}
{% endblock %}
{% block content %}
    <div id="productList" class="clf">
    <div class="grid clf">
        <!--面包屑导航-->
        <div class="bx-crubms">
            <a href="/">保险管家</a> &gt;
            <a href="/product/">保险产品</a>
        </div>

        <!-- 条件筛选-->
        <div class="product-condition">
            <!--适合人群-->
            <div class="people clf">
                <div class="fl">
                    适合人群：
                </div>
                <div class="content">
                    <a href="/product/search/0-{{ cate_id }}-{{ c_id }}/" class="single {% if people_id == 0  %}active{% endif %}">全部</a>
                    {% for i in user_type_list %}
                    <a href="/product/search/{{ i.id }}-{{ cate_id }}-{{ c_id }}/" class="single {% if people_id == i.id %}active{% endif %}">{{ i.type_name }}</a>
                    {% endfor %}
                </div>
            </div>
            <!--保险险种-->
            <div class="type clf">
                <div class="fl">
                    保险险种：
                </div>
                <div class="content">
                <a href="/product/search/{{ people_id }}-0-{{ c_id }}/{{ page }}.html" class="single {% if cate_id == 0  %}active{% endif %}">全部</a>
                    {% for i in cate_type_list %}
                    <a href="/product/search/{{ people_id }}-{{ i.id }}-{{ c_id }}/" class="single {% if cate_id == i.id  %}active{% endif %}">{{ i.type_name }}</a>
                    {% endfor %}
                </div>
{#                <div class="fr">#}
{#                    <a href="javascript:;" class="more">更多</a>#}
{#                </div>#}
            </div>
            <!--保险公司-->
            <div class="company clf">
                <div class="fl">
                    保险公司：
                </div>
                <div class="content letter-filter">
                    <div class="grapheme-box">
                        <a href="/product/search/{{ people_id }}-{{ cate_id }}-0/" class="single {% if c_id == 0 %}active{% endif %}">全部</a>
                        <div class="grapheme">
                            {% for tt in "ABCDEFGHIGKLMNOPQRSTUVWXYZ"|make_list %}
                            <a href class="single-grapheme" data-key="{{ tt }}">{{ tt }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="sub-content" id="sub-content-little">
                        {% for i in company_list|slice:":15" %}
                        <a data-belong="{{ i.shortname|first_letter|upper }}" href="/product/search/{{ people_id }}-{{ cate_id }}-{{ i.cid }}/" class="single {% if c_id == i.cid %}active{% endif %}">{{ i.shortname }}</a>
                        {% endfor %}
                        <a class="single"  href="javascript:;" style="color: #42bad0;    text-decoration: underline;" id="see_all">查看更多</a>
                    </div>
                    <div class="sub-content" style="display: none " id="sub-content-all">
                        {% for i in company_list %}
                        <a data-belong="{{ i.shortname|first_letter|upper }}" href="/product/search/{{ people_id }}-{{ cate_id }}-{{ i.cid }}/" class="single {% if c_id == i.cid %}active{% endif %}">{{ i.shortname }}</a>
                        {% endfor %}
                        <a class="single"  href="javascript:;"  style="color: #42bad0;    text-decoration: underline;" id="see_little">立刻收起</a>
                    </div>
                </div>
{#                <div class="fr">#}
{#                    <a href="javascript:;" class="more">更多</a>#}
{#                </div>#}
            </div>
                        <div class="selected clf">
                    <div class="fl">
                        条件：
                    </div>
                    <div class="content">
                        {% if user_type_info %}
                        <a href="javascript:;" class="selected-item">{{ user_type_info }}</a>
                        {% endif %}
                    {% if cate_type_info %}
                        <a href="javascript:;" class="selected-item">{{ cate_type_info }}</a>
                    {% endif %}
                    {% if c_info %}
                        <a href="javascript:;" class="selected-item">{{ c_info }}</a>
                    {% endif %}
                    </div>
                </div>

        </div>


        <div class="clf">
            <div class="fl">
                <!--筛选结果-->
                <div class="product-list ">
                {% for i in allinfo %}
                        <div class="product-item clf">
                            <div class="fl">
                                <a href="/product/detail/{{ i.pid }}.html">
                                    <img src="{{ i.img.url }}">
                                </a>
                            </div>
                            <div class="product-item-info">
                                <h4>{{ i.pro_name }}</h4>
                                <div class="product-item-content">
                        <dl class="clf">
                            <dt>承保年龄</dt>
                            <dd>{{ i.insurance_agelimit }}</dd>
                            <dt>保险期限</dt>
                            <dd>{{ i.insurance_timelimit }}</dd>
                            <dt>缴费方式</dt>
                            <dd>{{ i.insurance_paytype }}</dd>
                            <dt>保险公司</dt>
                            <dd>{{ i.comname }}</dd>
                        </dl>
                        <ul>
                                {% for j in i.get_pro_desc_json|slice:":3" %}
                            <li>{{ j.0 }}</li>
                                {% endfor %}
                        </ul>
                                </div>
                            </div>
                        {% with com=i.get_comobj %}
                            <div class="fr">
                                <a href="/company/detail/{{ com.cid }}.html">
                                    <img src="{{ com.img.url }}">
                                </a>

                                <a href="/product/detail/{{ i.pid }}.html" class="product-item-buy">我要购买</a>
                            </div>
                        {% endwith %}
                        </div>
                {% endfor %}
{#                    {% for i in allinfo %}#}
{#                    <div class="product-item {% if forloop.counter|mod:3 == 0  %}right {% endif %}">#}
{#                        <h4>{{ i.pro_name }}</h4>#}
{#                        <ul>#}
{#                                {% for j in i.get_pro_desc_json|slice:":3" %}#}
{#                            <li>{{ j.0 }}</li>#}
{#                                {% endfor %}#}
{#                        </ul>#}
{#                        <a href="/product/detail/{{ i.pid }}.html" class="view">查看详情</a>#}
{#                        <dl class="clf">#}
{#                            <dt>承保年龄</dt>#}
{#                            <dd>{{ i.insurance_agelimit }}</dd>#}
{#                            <dt>保险期限</dt>#}
{#                            <dd>{{ i.insurance_timelimit }}</dd>#}
{#                            <dt>缴费方式</dt>#}
{#                            <dd>{{ i.insurance_paytype }}</dd>#}
{#                            <dt>保险公司</dt>#}
{#                            <dd>{{ i.comname }}</dd>#}
{#                        </dl>#}
{#                    </div>#}
{#                    {% endfor %}#}
                </div>
                <!--翻页-->
            {% if allinfo.paginator.num_pages >= 2 %}
                <div class="bx-list-flip clf">
                    {% if allinfo.has_previous %}
                    <a href="/product/search/{{ people_id }}-{{ cate_id }}-{{ c_id }}/{{ allinfo.previous_page_number }}.html{% if keyword %}?keyword={{ keyword|urlencode }}{% endif %}" class="bx-list-flip-btn prev">&lt;</a>
                        {% endif %}
                    {% for t in allinfo.number|near:3 %}
                        {% if t > 0 and t <= allinfo.paginator.num_pages %}
                    <a href="/product/search/{{ people_id }}-{{ cate_id }}-{{ c_id }}/{{ t }}.html{% if keyword %}?keyword={{ keyword|urlencode }}{% endif %}" class="bx-list-flip-btn number {% if t == allinfo.number %}active{% endif %}">{{ t }}</a>
                        {% endif %}
                    {% endfor %}
                {% if allinfo.has_next %}
                    <a href="/product/search/{{ people_id }}-{{ cate_id }}-{{ c_id }}/{{ allinfo.next_page_number }}.html{% if keyword %}?keyword={{ keyword|urlencode }}{% endif %}" class="bx-list-flip-btn next">&gt;</a>
                    {% endif %}
                </div>
            {% endif %}
            </div>


            <div class="fr">
                <!--私人定制-->
                {% include "dingzhi_common.html" %}
                <!--活跃顾问-->

                <!-- 活跃顾问 -->
               {% include "dailiren_common.html" %}
            </div>

        </div>
    </div>
    </div>
{% endblock %}
{% block js %}
    {% atmjs www/product:index %}
    <script>
    jQuery("#see_all").click(function(){
        jQuery("#sub-content-little").hide();
        jQuery("#sub-content-all").show()
    });
    jQuery("#see_little").click(function () {
        jQuery("#sub-content-all").hide();
        jQuery("#sub-content-little").show()

    })
    </script>
{% endblock %}
