body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1434px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:210px;
  width:1434px;
  height:804px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1434px;
  height:804px;
}
#u1 {
  position:absolute;
  left:2px;
  top:394px;
  width:1430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:48px;
  top:24px;
  width:579px;
  height:105px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:105px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  white-space:nowrap;
}
