@import url("./module/common.css?__inline");
@import url("./module/adviser.css?__inline");
@import url("./module/demand.css?__inline");
@import url("./module/news.css?__inline");
@import url("./module/ask.css?__inline");
@import url("./module/product.css?__inline");
@import url("./module/banner-menu.css?__inline");

.slick-dotted.slick-slider
{
    margin-bottom: 0;
}
.slick-dots{
    bottom: 25px;
    z-index: 500;
}
.slick-list img{
    /*height: 480px;*/
}
