body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1308px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:173px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:173px;
}
#u1 {
  position:absolute;
  left:2px;
  top:78px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-2px;
  top:174px;
  width:1439px;
  height:421px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:421px;
}
#u3 {
  position:absolute;
  left:2px;
  top:202px;
  width:1435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:-146px;
  top:601px;
  width:1334px;
  height:468px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:468px;
}
#u5 {
  position:absolute;
  left:2px;
  top:226px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1163px;
  top:679px;
  width:282px;
  height:373px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:373px;
}
#u7 {
  position:absolute;
  left:2px;
  top:178px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:2092px;
  width:1410px;
  height:318px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:318px;
}
#u9 {
  position:absolute;
  left:2px;
  top:151px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:1086px;
  width:1186px;
  height:426px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1186px;
  height:426px;
}
#u11 {
  position:absolute;
  left:2px;
  top:205px;
  width:1182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1182px;
  top:1091px;
  width:272px;
  height:294px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:294px;
}
#u13 {
  position:absolute;
  left:2px;
  top:139px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:1540px;
  width:1437px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:1605px;
  width:1192px;
  height:231px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:231px;
}
#u17 {
  position:absolute;
  left:2px;
  top:108px;
  width:1188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1193px;
  top:1609px;
  width:211px;
  height:230px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:230px;
}
#u19 {
  position:absolute;
  left:2px;
  top:107px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:1844px;
  width:1192px;
  height:231px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:231px;
}
#u21 {
  position:absolute;
  left:2px;
  top:108px;
  width:1188px;
  visibility:hidden;
  word-wrap:break-word;
}
