{{ atmjs.use(':index') }}
{%include 'html/layouts/header.html' | path('www/common') %}
<div id="adviserList">
    <div class="grid clf">
        <!--面包屑导航-->
        <div class="bx-crubms">
            <a href="">保险顾问</a> &gt;
            <a href="">保险产品</a>
        </div>

        <!-- 条件筛选-->
        <div class="adviser-condition">
            <!--地区-->
            <div class="area clf">
                <div class="fl">
                    地区：
                </div>
                <div class="content">
                    <a href="javascript:;" class="single">全部</a>
                    <a href="javascript:;" class="single">北京</a>
                    <a href="javascript:;" class="single">天津</a>
                    <a href="javascript:;" class="single">上海</a>
                    <a href="javascript:;" class="single">深圳</a>
                    <a href="javascript:;" class="single">重庆</a>
                    <a href="javascript:;" class="single">河北</a>
                    <a href="javascript:;" class="single">河南</a>
                </div>
                <div class="fr">
                    <a href="javascript:;" class="more">更多</a>
                </div>
            </div>
            <!--保险公司-->
            <!--<div class="company clf">-->
                <!--<div class="fl">-->
                    <!--保险公司：-->
                <!--</div>-->
                <!--<div class="content">-->
                    <!--<div class="grapheme-box">-->
                        <!--<a href="javascript:;" class="single active">全部</a>-->
                        <!--<div class="grapheme">-->
                            <!--<a href="" class="single-grapheme">A</a>-->
                            <!--<a href="" class="single-grapheme">B</a>-->
                            <!--<a href="" class="single-grapheme">C</a>-->
                            <!--<a href="" class="single-grapheme">D</a>-->
                            <!--<a href="" class="single-grapheme">E</a>-->
                            <!--<a href="" class="single-grapheme">F</a>-->
                            <!--<a href="" class="single-grapheme">G</a>-->
                            <!--<a href="" class="single-grapheme">H</a>-->
                            <!--<a href="" class="single-grapheme">I</a>-->
                            <!--<a href="" class="single-grapheme">J</a>-->
                            <!--<a href="" class="single-grapheme">K</a>-->
                            <!--<a href="" class="single-grapheme">L</a>-->
                            <!--<a href="" class="single-grapheme">M</a>-->
                            <!--<a href="" class="single-grapheme">N</a>-->
                            <!--<a href="" class="single-grapheme">O</a>-->
                            <!--<a href="" class="single-grapheme">P</a>-->
                            <!--<a href="" class="single-grapheme">Q</a>-->
                            <!--<a href="" class="single-grapheme">R</a>-->
                            <!--<a href="" class="single-grapheme">S</a>-->
                            <!--<a href="" class="single-grapheme">T</a>-->
                            <!--<a href="" class="single-grapheme">U</a>-->
                            <!--<a href="" class="single-grapheme">V</a>-->
                            <!--<a href="" class="single-grapheme">W</a>-->
                            <!--<a href="" class="single-grapheme">X</a>-->
                            <!--<a href="" class="single-grapheme">Y</a>-->
                            <!--<a href="" class="single-grapheme">Z</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="sub-content">-->
                        <!--<a href="javascript:;" class="single">平安</a>-->
                        <!--<a href="javascript:;" class="single">国寿</a>-->
                        <!--<a href="javascript:;" class="single">太平洋</a>-->
                        <!--<a href="javascript:;" class="single">新华</a>-->
                        <!--<a href="javascript:;" class="single">泰康</a>-->
                        <!--<a href="javascript:;" class="single">太平</a>-->
                        <!--<a href="javascript:;" class="single">人保寿险</a>-->
                        <!--<a href="javascript:;" class="single">阳光保险</a>-->
                    <!--</div>-->

                <!--</div>-->
                <!--<div class="fr">-->
                    <!--<a href="javascript:;" class="more">更多</a>-->
                <!--</div>-->
            <!--</div>-->

            <div class="company clf">
                <div class="fl">
                    保险公司：
                </div>
                <div class="content letter-filter">
                    <div class="grapheme-box">
                        <a data-key="all" href="javascript:;" class="single active">全部</a>
                        <div class="grapheme">
                            <a data-key="A" href="" class="single-grapheme">A</a>
                            <a data-key="B" href="" class="single-grapheme">B</a>
                            <a data-key="C" href="" class="single-grapheme">C</a>
                            <a data-key="D" href="" class="single-grapheme">D</a>
                            <a data-key="E" href="" class="single-grapheme">E</a>
                            <a data-key="F" href="" class="single-grapheme">F</a>
                            <a data-key="G" href="" class="single-grapheme">G</a>
                            <a data-key="H" href="" class="single-grapheme">H</a>
                            <a data-key="I" href="" class="single-grapheme">I</a>
                            <a data-key="J" href="" class="single-grapheme">J</a>
                            <a data-key="K" href="" class="single-grapheme">K</a>
                            <a data-key="L" href="" class="single-grapheme">L</a>
                            <a data-key="M" href="" class="single-grapheme">M</a>
                            <a data-key="N" href="" class="single-grapheme">N</a>
                            <a data-key="O" href="" class="single-grapheme">O</a>
                            <a data-key="P" href="" class="single-grapheme">P</a>
                            <a data-key="Q" href="" class="single-grapheme">Q</a>
                            <a data-key="R" href="" class="single-grapheme">R</a>
                            <a data-key="S" href="" class="single-grapheme">S</a>
                            <a data-key="T" href="" class="single-grapheme">T</a>
                            <a data-key="U" href="" class="single-grapheme">U</a>
                            <a data-key="V" href="" class="single-grapheme">V</a>
                            <a data-key="W" href="" class="single-grapheme">W</a>
                            <a data-key="X" href="" class="single-grapheme">X</a>
                            <a data-key="Y" href="" class="single-grapheme">Y</a>
                            <a data-key="Z" href="" class="single-grapheme">Z</a>
                        </div>
                    </div>
                    <div class="sub-content">
                        <a data-belong="A" href="javascript:;" class="single">平安A</a>
                        <a data-belong="A" href="javascript:;" class="single">国寿A</a>
                        <a data-belong="A" href="javascript:;" class="single">太平洋A</a>
                        <a data-belong="A" href="javascript:;" class="single">新华A</a>
                        <a data-belong="A" href="javascript:;" class="single">泰康A</a>
                        <a data-belong="A" href="javascript:;" class="single">太平A</a>
                        <a data-belong="A" href="javascript:;" class="single">人保寿险A</a>
                        <a data-belong="A" href="javascript:;" class="single">阳光保险A</a>
                        <a data-belong="A" href="javascript:;" class="single">阳光保险2A</a>
                        <a data-belong="B" href="javascript:;" class="single">平安B</a>
                        <a data-belong="B" href="javascript:;" class="single">国寿B</a>
                        <a data-belong="B" href="javascript:;" class="single">太平洋B</a>
                        <a data-belong="B" href="javascript:;" class="single">新华B</a>
                        <a data-belong="B" href="javascript:;" class="single">泰康B</a>
                        <a data-belong="B" href="javascript:;" class="single">太平B</a>
                        <a data-belong="B" href="javascript:;" class="single">人保寿险B</a>
                        <a data-belong="B" href="javascript:;" class="single">阳光保险B</a>
                        <a data-belong="B" href="javascript:;" class="single">阳光保险2B</a>
                        <a data-belong="C" href="javascript:;" class="single">平安C</a>
                        <a data-belong="C" href="javascript:;" class="single">国寿C</a>
                        <a data-belong="C" href="javascript:;" class="single">太平洋C</a>
                        <a data-belong="C" href="javascript:;" class="single">新华C</a>
                        <a data-belong="C" href="javascript:;" class="single">泰康C</a>
                        <a data-belong="C" href="javascript:;" class="single">太平C</a>
                        <a data-belong="C" href="javascript:;" class="single">人保寿险C</a>
                        <a data-belong="C" href="javascript:;" class="single">阳光保险C</a>
                        <a data-belong="C" href="javascript:;" class="single">阳光保险2C</a>
                    </div>

                </div>
                <!--<div class="fr">-->
                <!--<a href="javascript:;" class="more">更多</a>-->
                <!--</div>-->
            </div>
        </div>
        <!--已选条件-->
        <div class="chose-condition clf">
            <div class="fl">
                条件：
            </div>
        </div>

        <!--排序-->
        <div class="adviser-list-sort-wrap">
            <div class="adviser-list-sort clf">
                <a href="javascript:;" class="active">默认</a>
                <a href="javascript:;">从业时间</a>
                <a href="javascript:;">活跃度</a>
                <a href="javascript:;">VIP等级</a>
            </div>
        </div>

        <div class="clf">
            <div class="fl">
                <!--筛选结果-->
                <div class="adviser-list clf">

                    <div class="adviser-item">
                        <div class="adviser-item-resume clf">
                            <div class="adviser-item-resume-img">
                                <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}">
                            </div>
                            <div class="adviser-item-resume-word">
                                <h4>刘保险</h4>
                                <p>
                                    <span class="area">北京</span>
                                    <span class="company">阳光保险</span>
                                </p>
                                <p>
                                    从业时间：17年
                                </p>
                                <p>
                                    回答：545条
                                </p>
                            </div>
                        </div>
                        <div class="adviser-item-detail">
                            大家好，我是中国平安人寿蒲大伟，是平安的
                            一名综合金融客户经理（我的工号是1321508
                            864）。我曾经从事过医药行业，可...
                        </div>
                        <div class="adviser-item-speciality">
                            <p>擅长险种：</p>
                            <p>
                                <a href="" class="color">人寿险</a>
                                <a href="" class="color">重疾险</a>
                                <a href="" class="color">养老险</a>
                            </p>
                        </div>
                        <a href="" class="adviser-item-consult">我要咨询</a>
                    </div>
                    <div class="adviser-item">
                        <div class="adviser-item-resume clf">
                            <div class="adviser-item-resume-img">
                                <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}">
                            </div>
                            <div class="adviser-item-resume-word">
                                <h4>刘保险</h4>
                                <p>
                                    <span class="area">北京</span>
                                    <span class="company">阳光保险</span>
                                </p>
                                <p>
                                    从业时间：17年
                                </p>
                                <p>
                                    回答：545条
                                </p>
                            </div>
                        </div>
                        <div class="adviser-item-detail">
                            大家好，我是中国平安人寿蒲大伟，是平安的
                            一名综合金融客户经理（我的工号是1321508
                            864）。我曾经从事过医药行业，可...
                        </div>
                        <div class="adviser-item-speciality">
                            <p>擅长险种：</p>
                            <p>
                                <a href="" class="color">人寿险</a>
                                <a href="" class="color">重疾险</a>
                                <a href="" class="color">养老险</a>
                            </p>
                        </div>
                        <a href="" class="adviser-item-consult">我要咨询</a>
                    </div>
                    <div class="adviser-item right">
                        <div class="adviser-item-resume clf">
                            <div class="adviser-item-resume-img">
                                <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}">
                            </div>
                            <div class="adviser-item-resume-word">
                                <h4>刘保险</h4>
                                <p>
                                    <span class="area">北京</span>
                                    <span class="company">阳光保险</span>
                                </p>
                                <p>
                                    从业时间：17年
                                </p>
                                <p>
                                    回答：545条
                                </p>
                            </div>
                        </div>
                        <div class="adviser-item-detail">
                            大家好，我是中国平安人寿蒲大伟，是平安的
                            一名综合金融客户经理（我的工号是1321508
                            864）。我曾经从事过医药行业，可...
                        </div>
                        <div class="adviser-item-speciality">
                            <p>擅长险种：</p>
                            <p>
                                <a href="" class="color">人寿险</a>
                                <a href="" class="color">重疾险</a>
                                <a href="" class="color">养老险</a>
                            </p>
                        </div>
                        <a href="" class="adviser-item-consult">我要咨询</a>
                    </div>

                    <div class="adviser-item">
                        <div class="adviser-item-resume clf">
                            <div class="adviser-item-resume-img">
                                <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}">
                            </div>
                            <div class="adviser-item-resume-word">
                                <h4>刘保险</h4>
                                <p>
                                    <span class="area">北京</span>
                                    <span class="company">阳光保险</span>
                                </p>
                                <p>
                                    从业时间：17年
                                </p>
                                <p>
                                    回答：545条
                                </p>
                            </div>
                        </div>
                        <div class="adviser-item-detail">
                            大家好，我是中国平安人寿蒲大伟，是平安的
                            一名综合金融客户经理（我的工号是1321508
                            864）。我曾经从事过医药行业，可...
                        </div>
                        <div class="adviser-item-speciality">
                            <p>擅长险种：</p>
                            <p>
                                <a href="" class="color">人寿险</a>
                                <a href="" class="color">重疾险</a>
                                <a href="" class="color">养老险</a>
                            </p>
                        </div>
                        <a href="" class="adviser-item-consult">我要咨询</a>
                    </div>
                    <div class="adviser-item">
                        <div class="adviser-item-resume clf">
                            <div class="adviser-item-resume-img">
                                <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}">
                            </div>
                            <div class="adviser-item-resume-word">
                                <h4>刘保险</h4>
                                <p>
                                    <span class="area">北京</span>
                                    <span class="company">阳光保险</span>
                                </p>
                                <p>
                                    从业时间：17年
                                </p>
                                <p>
                                    回答：545条
                                </p>
                            </div>
                        </div>
                        <div class="adviser-item-detail">
                            大家好，我是中国平安人寿蒲大伟，是平安的
                            一名综合金融客户经理（我的工号是1321508
                            864）。我曾经从事过医药行业，可...
                        </div>
                        <div class="adviser-item-speciality">
                            <p>擅长险种：</p>
                            <p>
                                <a href="" class="color">人寿险</a>
                                <a href="" class="color">重疾险</a>
                                <a href="" class="color">养老险</a>
                            </p>
                        </div>
                        <a href="" class="adviser-item-consult">我要咨询</a>
                    </div>
                    <div class="adviser-item right">
                        <div class="adviser-item-resume clf">
                            <div class="adviser-item-resume-img">
                                <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}">
                            </div>
                            <div class="adviser-item-resume-word">
                                <h4>刘保险</h4>
                                <p>
                                    <span class="area">北京</span>
                                    <span class="company">阳光保险</span>
                                </p>
                                <p>
                                    从业时间：17年
                                </p>
                                <p>
                                    回答：545条
                                </p>
                            </div>
                        </div>
                        <div class="adviser-item-detail">
                            大家好，我是中国平安人寿蒲大伟，是平安的
                            一名综合金融客户经理（我的工号是1321508
                            864）。我曾经从事过医药行业，可...
                        </div>
                        <div class="adviser-item-speciality">
                            <p>擅长险种：</p>
                            <p>
                                <a href="" class="color">人寿险</a>
                                <a href="" class="color">重疾险</a>
                                <a href="" class="color">养老险</a>
                            </p>
                        </div>
                        <a href="" class="adviser-item-consult">我要咨询</a>
                    </div>

                    <div class="adviser-item">
                        <div class="adviser-item-resume clf">
                            <div class="adviser-item-resume-img">
                                <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}">
                            </div>
                            <div class="adviser-item-resume-word">
                                <h4>刘保险</h4>
                                <p>
                                    <span class="area">北京</span>
                                    <span class="company">阳光保险</span>
                                </p>
                                <p>
                                    从业时间：17年
                                </p>
                                <p>
                                    回答：545条
                                </p>
                            </div>
                        </div>
                        <div class="adviser-item-detail">
                            大家好，我是中国平安人寿蒲大伟，是平安的
                            一名综合金融客户经理（我的工号是1321508
                            864）。我曾经从事过医药行业，可...
                        </div>
                        <div class="adviser-item-speciality">
                            <p>擅长险种：</p>
                            <p>
                                <a href="" class="color">人寿险</a>
                                <a href="" class="color">重疾险</a>
                                <a href="" class="color">养老险</a>
                            </p>
                        </div>
                        <a href="" class="adviser-item-consult">我要咨询</a>
                    </div>
                    <div class="adviser-item">
                        <div class="adviser-item-resume clf">
                            <div class="adviser-item-resume-img">
                                <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}">
                            </div>
                            <div class="adviser-item-resume-word">
                                <h4>刘保险</h4>
                                <p>
                                    <span class="area">北京</span>
                                    <span class="company">阳光保险</span>
                                </p>
                                <p>
                                    从业时间：17年
                                </p>
                                <p>
                                    回答：545条
                                </p>
                            </div>
                        </div>
                        <div class="adviser-item-detail">
                            大家好，我是中国平安人寿蒲大伟，是平安的
                            一名综合金融客户经理（我的工号是1321508
                            864）。我曾经从事过医药行业，可...
                        </div>
                        <div class="adviser-item-speciality">
                            <p>擅长险种：</p>
                            <p>
                                <a href="" class="color">人寿险</a>
                                <a href="" class="color">重疾险</a>
                                <a href="" class="color">养老险</a>
                            </p>
                        </div>
                        <a href="" class="adviser-item-consult">我要咨询</a>
                    </div>
                    <div class="adviser-item right">
                        <div class="adviser-item-resume clf">
                            <div class="adviser-item-resume-img">
                                <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}">
                            </div>
                            <div class="adviser-item-resume-word">
                                <h4>刘保险</h4>
                                <p>
                                    <span class="area">北京</span>
                                    <span class="company">阳光保险</span>
                                </p>
                                <p>
                                    从业时间：17年
                                </p>
                                <p>
                                    回答：545条
                                </p>
                            </div>
                        </div>
                        <div class="adviser-item-detail">
                            大家好，我是中国平安人寿蒲大伟，是平安的
                            一名综合金融客户经理（我的工号是1321508
                            864）。我曾经从事过医药行业，可...
                        </div>
                        <div class="adviser-item-speciality">
                            <p>擅长险种：</p>
                            <p>
                                <a href="" class="color">人寿险</a>
                                <a href="" class="color">重疾险</a>
                                <a href="" class="color">养老险</a>
                            </p>
                        </div>
                        <a href="" class="adviser-item-consult">我要咨询</a>
                    </div>

                </div>
                <!--翻页-->
                {%include 'html/layouts/flip.html' | path('www/common') %}
            </div>


            <div class="fr">
                <!--保险精英-->
                {%include 'html/layouts/sections/保险精英.html' | path('www/common') %}
                <!--保险人动态-->
                {%include 'html/layouts/sections/保险人动态.html' | path('www/common') %}
            </div>

        </div>
    </div>
</div>

{%include 'html/layouts/footer.html' | path('www/common') %}
