{{ atmjs.use(':detail') }}
{%include 'html/layouts/header.html' | path('www/common') %}
<div id="productDetail">
    <div class="grid clf">
        <!--面包屑导航-->
        <div class="bx-crubms">
            <a href="">保险岛首页</a> &gt;
            <a href="">保险产品</a> &gt;
            <a href="">少儿重大疾病险</a> &gt;
            <a href="">民生人寿保险股份有限公司</a> &gt;
            <a href="">民生如意鑫康终身重大疾病保险</a>
        </div>

        <div class="clf">
            <div class="fl">
                <!--概览-->
                <div class="product-preview clf">
                    <div class="product-preview-pic">
                        <div class="product-preview-img-box">
                            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}">
                        </div>
                    </div>
                    <div class="product-preview-word">
                        <h2>民生如意鑫康终身重大疾病保险</h2>
                        <p class="product-preview-feature">
                            <span>特色</span>
                            终身健康保障产品，100种重疾+35种轻症，重疾可赔付2次，轻症可赔付3
                            次，重疾以及轻症皆可豁免保费
                        </p>
                        <div class="product-preview-label clf">
                        <span class="fl">
                            标签：
                        </span>
                            <p>
                                民生人寿保险股份有限公司  |  少儿重大疾病险  |  婴儿重大疾病险  |  青年重大疾病险
                                人寿险  |  中年人重大疾病险  |  中年人寿险  |  老年人重大疾病险
                            </p>
                        </div>
                        <ul>
                            <li><span>承保年龄：</span>28天-60周岁</li>
                            <li><span>保障期限：</span>终身</li>
                            <li><span>缴费方式：</span>趸交、10年、15年、20年、30年</li>
                        </ul>
                    </div>
                </div>
                <!--所有信息-->
                <div class="product-information">
                    <!--tabs-->
                    <div class="product-information-tabs">
                        <ul class="clf">
                            <li class="active">产品详情</li>
                            <li>相关案例</li>
                            <li>理赔流程</li>
                        </ul>
                    </div>
                    <!--产品详情-->
                    <div class="product-info-detail">
                        <div class="product-info-detail-item">
                            <h3 class="product-info-detail-item-title">购买理由</h3>
                            <div class="product-info-detail-item-content">
                                <p style="\&quot;font-family:宋体;font-size:16px;color:#333333;background-color:#FFFFFF;\&quot;">
                                    <strong>
                                    </strong></p>
                                <table class="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;i-table\\\\\\\\&quot;\\\\&quot;\\&quot;\&quot;" border="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;1\\\\\\\\&quot;\\\\&quot;\\&quot;\&quot;" width="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;100%\\\\\\\\&quot;\\\\&quot;\\&quot;\&quot;" style="\&quot;font-family:宋体;font-size:16px;color:#333333;background-color:#FFFFFF;\&quot;">
                                <tbody>
                                <tr>
                                    <td width="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;31%\\\\\\\\&quot;\\\\&quot;\\&quot;\&quot;" style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        产品名称
                                    </td>
                                    <td width="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;62%\\\\\\\\&quot;\\\\&quot;\\&quot;\&quot;" style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        保什么
                                    </td>
                                    <td width="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;7%\\\\\\\\&quot;\\\\&quot;\\&quot;\&quot;" style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        保多久
                                    </td>
                                </tr>
                                <tr>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        主险：少儿平安福终身寿险
                                    </td>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        身故：18岁前身故返还已交保费；18岁后身故赔基本保额。
                                    </td>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        终身
                                    </td>
                                </tr>
                                <tr>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        附加少儿平安福提前给付重大疾病保险
                                    </td>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        少儿特有重疾10种、重疾4<span><span style="\&quot;color:#333333;\&quot;">5种</span></span><span style="\&quot;color:#333333;\&quot;">、</span>轻症<span style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;color:#333333;line-height:1.5em\\\\&quot;\\&quot;\&quot;">8种</span><span style="\&quot;color:#333333;\&quot;">，</span><span style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;color:#333333;line-height:1.5em\\\\&quot;\\&quot;\&quot;">独立给</span><span style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;color:#333333;line-height:1.5em\\\\&quot;\\&quot;\&quot;">付</span>，总计高达保额的2.2倍。<strong>
                                    </strong></td>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        终身
                                    </td>
                                </tr>
                                <tr>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        附加少儿长期意外伤害保险
                                    </td>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        意外身故/伤残；自驾车/公共交通意外身故（<span style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;color:#333333;line-height:1.5em\\\\&quot;\\&quot;\&quot;">双倍</span>赔偿）或伤残。
                                    </td>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        至70岁
                                    </td>
                                </tr>
                                <tr>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        附加少儿定期寿险
                                    </td>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        身故保障
                                    </td>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        至25岁
                                    </td>
                                </tr>
                                <tr>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        附加少儿疾病陪护金
                                    </td>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        按月赔付少儿特有重疾、重疾、轻症陪护金。
                                    </td>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        至25岁
                                    </td>
                                </tr>
                                <tr>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        附加豁免
                                    </td>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        父母双方及孩子均可享受豁免责任
                                    </td>
                                    <td style="\&quot;\\&quot;\\\\&quot;\\\\\\\\&quot;font-family:宋体\\\\&quot;\\&quot;\&quot;">
                                        &nbsp;<strong>
                                    </strong></td>
                                </tr>
                                </tbody>
                            </table><strong>
                            </strong>
                                <p></p>
                                <p style="\&quot;font-family:宋体;font-size:16px;color:#333333;background-color:#FFFFFF;\&quot;">
                                    <strong><br>
                                    </strong>
                                </p>
                                <p style="\&quot;font-family:宋体;font-size:16px;color:#333333;background-color:#FFFFFF;\&quot;">
                                    1、10大少儿特定重疾：独立给付基本保额100%，不影响重大疾病的赔付，保额更高种类多。
                                </p>
                                <p style="\&quot;font-family:宋体;font-size:16px;color:#333333;background-color:#FFFFFF;\&quot;">
                                    2、8大轻度重疾显关爱：独立给付基本保额20%，不影响重大疾病保障的给付，重疾加轻症，保障更全面。
                                </p>
                                <p style="\&quot;font-family:宋体;font-size:16px;color:#333333;background-color:#FFFFFF;\&quot;">
                                    3、45种重疾保障范围广：确诊即付100%保额，为宝宝的健康和家庭的财务保驾护航。
                                </p>
                                <p style="\&quot;font-family:宋体;font-size:16px;color:#333333;background-color:#FFFFFF;\&quot;">
                                    4、三重保障，提升保障额度：少儿特定重疾+特定轻度重疾+重大疾病，最高可达保额2.2倍，提拥有更好的医疗条件，提升治愈率。
                                </p>
                                <p style="\&quot;font-family:宋体;font-size:16px;color:#333333;background-color:#FFFFFF;\&quot;">
                                    关于白血病：10种少儿特定重疾中的“白血病”与45种重大疾病中的“恶性肿瘤”有重叠，因此若不幸患少儿白血病，可一次性获得2倍重疾保额。
                                </p>
                                <p style="\&quot;font-family:宋体;font-size:16px;color:#333333;background-color:#FFFFFF;\&quot;">
                                    5、意外保障281项，门诊住院皆可赔：孩子乘坐私家车或公共交通工具发生意外伤害享双倍赔付，涵盖人体8大部位，281项伤残责任;若孩子因意外造成的住院及门诊费用，均可享受一定额度报销。
                                </p>
                                <p style="\&quot;font-family:宋体;font-size:16px;color:#333333;background-color:#FFFFFF;\&quot;">
                                    6、首推重疾陪护金，父母陪护更安心：少儿特定重疾、轻症陪护金独立给付，不影响重疾陪护金，最高可领15个月。
                                </p>
                                <p style="\&quot;font-family:宋体;font-size:16px;color:#333333;background-color:#FFFFFF;\&quot;">
                                    少儿特定重疾陪护金：每份每月赔付2000元，赔付6个月，达到6次时该责任终止，附加险合同继续有效。
                                </p>
                                <p style="\&quot;font-family:宋体;font-size:16px;color:#333333;background-color:#FFFFFF;\&quot;">
                                    轻症陪护金：每份每月赔付2000元，赔付3个月，达到3次时该责任终止，附加险合同继续有效。
                                </p>
                                <p style="\&quot;font-family:宋体;font-size:16px;color:#333333;background-color:#FFFFFF;\&quot;">
                                    重疾陪护金：每份每月赔付2000元，赔付6个月，达到6次时，附加险合同终止。
                                </p>
                                <p style="\&quot;font-family:宋体;font-size:16px;color:#333333;background-color:#FFFFFF;\&quot;">
                                    若给付期间身故，一次性给付剩余未给付的。
                                </p>
                                <p style="\&quot;font-family:宋体;font-size:16px;color:#333333;background-color:#FFFFFF;\&quot;">
                                    7、豁免保障更全面，一家三口均可获得豁免保障。
                                </p>
                            </div>
                        </div>
                        <div class="product-info-detail-item">
                            <h3 class="product-info-detail-item-title">保障内容</h3>
                            <div class="product-info-detail-item-content">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="product-info-detail-header-table">
                                    <thead>
                                        <tr>
                                            <th width="160">保障利益</th>
                                            <th width="160">保额</th>
                                            <th>保障内容</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>身故保险金</td>
                                            <td>已交保费</td>
                                            <td>18岁前身故返还已交保费</td>
                                        </tr>
                                        <tr>
                                            <td>基本保额</td>
                                            <td></td>
                                            <td>18岁后身故赔基本保额</td>
                                        </tr>
                                        <tr>
                                            <td>意外身故保险金</td>
                                            <td></td>
                                            <td>若因遭受意外伤害起180 日内造成《人身 保险伤残评定标准及代码》所列伤残条目，按合同约定的基本 保险金额3乘以该处伤残的伤残等级所对应的保险金给付比例给付 意外伤残保险金。如自意外伤害发生之日起180 日内治疗仍未结束的，则按 该意外伤害发生之日起第180 日的身体情况进行伤残评定。</td>
                                        </tr>
                                        <tr>
                                            <td>意外伤残保险金</td>
                                            <td></td>
                                            <td>若18周岁的保单周年日之前因遭受意外伤害起180日内身故的，无息返还所交保险费，合同终止。 于18周岁的保单周年日之后（含18周岁的保单周年日）因遭受意 外伤害起180日内身故的，按基本保险金额 给付意外身故保险金，合同终止。</td>
                                        </tr>
                                        <tr>
                                            <td>附加豁免</td>
                                            <td></td>
                                            <td>父母双方及孩子均可享受豁免责任</td>
                                        </tr>
                                        <tr>
                                            <td>重大疾病保险金</td>
                                            <td>基本保险金额</td>
                                            <td>若经医院确诊初次发生合同约定的“重大疾病”，按照 基本保险金额给付重大疾病保险金。</td>
                                        </tr>
                                        <tr>
                                            <td>少儿重大疾病保险金</td>
                                            <td>基本保险金额</td>
                                            <td>若经医院确诊初次发生合同约定的“少儿特定重疾”，但此 前未发生合同约定的“重大疾病”，按照基本保险金额给付少 儿特定重疾保险金。</td>
                                        </tr>
                                        <tr>
                                            <td>轻症疾病保险金</td>
                                            <td>基本保险金额*20%</td>
                                            <td>若经医院确诊初次发生合同约定的“特定轻度重疾”，但此 前未发生合同约定的“重大疾病”，按照基本保险金额的20% 给付特定轻度重疾保险金。</td>
                                        </tr>
                                        <tr>
                                            <td>重大疾病陪护保险金</td>
                                            <td>2000/月</td>
                                            <td>若年满25 周岁7的保单周年日前，经医院确诊初次发生合 同约定的“重大疾病”，将给付重大疾病陪护保险金。 重大疾病陪护保险金按月给付，每份每月给付2000 元，连续给付6 个月。 重大疾病陪护保险金累计给付达到6 次时，合同终止。</td>
                                        </tr>
                                        <tr>
                                            <td>少儿特定重疾陪护保险金</td>
                                            <td>2000/月</td>
                                            <td>若年满25 周岁的保单周年日前，经医院确诊初次发生合同 约定的“少儿特定重疾”，且此前未发生合同约定的“重大疾病”将给付少儿特定重疾陪护保险金。 少儿特定重疾陪护保险金按月给付，每份每月给付2000 元，连续给付6 个 月，累计给付以6 次为限。</td>
                                        </tr>
                                        <tr>
                                            <td>特定轻度重疾陪护保险金</td>
                                            <td>2000/月</td>
                                            <td>若年满25 周岁的保单周年日前，经医院确诊初次发生合同 约定的“特定轻度重疾”，且此前未发生合同约定的“重大疾病”， 将给付特定轻度重疾陪护保险金。 特定轻度重疾陪护保险金按月给付，每份每月给付2000 元，连续给付3 个 月，累计给付以3 次为限。</td>
                                        </tr>
                                        <tr>
                                            <td>自驾车或乘坐公共交通意外伤害保险金</td>
                                            <td></td>
                                            <td>按照合同规定给付对应保险金，</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="product-info-detail-item">
                            <h3 class="product-info-detail-item-title">免责声明</h3>
                            <div class="product-info-detail-item-content">
                                 因下列情形之一导致被保险人身故的，我们不承担给付保险金的责任：<br>
                                （1）投保人对被保险人的故意杀害、故意伤害；<br>
                                （2）被保险人故意犯罪或者抗拒依法采取的刑事强制措施；<br>
                                （3）被保险人自本主险合同成立或者合同效力恢复之日起2 年内自杀，但被保险人自杀时为无民事行为能力<br>
                                人的除外；<br>
                                （4）被保险人主动吸食或注射毒品；<br>
                                （5）被保险人酒后驾驶；<br>
                                （6）战争、军事冲突、暴乱或武装叛乱；<br>
                                （7）核爆炸、核辐射或核污染。<br>
                                发生上述第（1）项情形导致被保险人身故的，本主险合同终止，我们向受益人退还本主险合同的现金价值。<br>
                                发生上述其他情形导致被保险人身故的，本主险合同终止，我们向您退还本主险合同的现金价值。<br>
                            </div>
                        </div>
                    </div>
<!--                    <div class="product-info-detail">
                        产品详情
                        &lt;!&ndash;todo 内容&ndash;&gt;
                    </div>-->
                    <!--相关案例-->
                    <div class="product-info-example fn-hidden">
                        相关案例
                        <!--todo 内容-->
                    </div>
                    <!--理赔流程-->
                    <div class="product-info-process fn-hidden">
                        理赔流程
                        <!--todo 内容-->
                    </div>
                </div>

                <!--相关产品-->
                {%include 'html/layouts/sections/相关产品.html' | path('www/common') %}
            </div>


            <div class="fr">
                <!--私人定制-->
                {%include 'html/layouts/sections/私人定制.html' | path('www/common') %}
                <!--活跃顾问-->
                {%include 'html/layouts/sections/活跃顾问.html' | path('www/common') %}
            </div>

        </div>
    </div>
</div>

{%include 'html/layouts/footer.html' | path('www/common') %}
