{{ atmjs.use(':index') }}
{%include 'html/layouts/header.html' | path('www/common') %}
<div id="productList" class="clf">
    <!--面包屑导航-->
    <div class="bx-crubms">
        <a href="#">保险顾问</a> &gt;
        <a href="#">保险产品</a>
    </div>

    <!-- 条件筛选-->
    <div class="product-condition">
        <!--适合人群-->
        <div class="people clf">
            <div class="fl">
                适合人群：
            </div>
            <div class="content">
                <a href="javascript:;" class="single">全部</a>
                <a href="javascript:;" class="single">青年</a>
                <a href="javascript:;" class="single">中年</a>
                <a href="javascript:;" class="single">老年</a>
                <a href="javascript:;" class="single">少儿</a>
                <a href="javascript:;" class="single">婴儿</a>
                <a href="javascript:;" class="single">学生</a>
                <a href="javascript:;" class="single">企业团体</a>
            </div>
        </div>
        <!--保险险种-->
        <div class="type clf">
            <div class="fl">
                保险险种：
            </div>
            <div class="content">
                <a href="javascript:;" class="single">定期寿险</a>
                <a href="javascript:;" class="single">终身寿险</a>
                <a href="javascript:;" class="single">旅游保险</a>
                <a href="javascript:;" class="single">健康保险</a>
                <a href="javascript:;" class="single">投连险</a>
                <a href="javascript:;" class="single">万能保险</a>
                <a href="javascript:;" class="single">分红保险</a>
                <a href="javascript:;" class="single">养老保险</a>
            </div>
            <div class="fr">
                <a href="javascript:;" class="more">更多</a>
            </div>
        </div>
        <!--保险公司-->
        <div class="company clf">
            <div class="fl">
                保险公司：
            </div>
            <div class="content letter-filter">
                <div class="grapheme-box">
                    <a href="javascript:;" data-key="all" class="single active">全部</a>
                    <div class="grapheme">
                        <a href="#" data-key="A" class="single-grapheme">A</a>
                        <a href="#" data-key="B" class="single-grapheme">B</a>
                        <a href="#" data-key="C" class="single-grapheme">C</a>
                        <a href="#" data-key="D" class="single-grapheme">D</a>
                        <a href="#" data-key="E" class="single-grapheme">E</a>
                        <a href="#" data-key="F" class="single-grapheme">F</a>
                        <a href="#" data-key="G" class="single-grapheme">G</a>
                        <a href="#" data-key="H" class="single-grapheme">H</a>
                        <a href="#" data-key="I" class="single-grapheme">I</a>
                        <a href="#" data-key="J" class="single-grapheme">J</a>
                        <a href="#" data-key="K" class="single-grapheme">K</a>
                        <a href="#" data-key="L" class="single-grapheme">L</a>
                        <a href="#" data-key="M" class="single-grapheme">M</a>
                        <a href="#" data-key="N" class="single-grapheme">N</a>
                        <a href="#" data-key="O" class="single-grapheme">O</a>
                        <a href="#" data-key="P" class="single-grapheme">P</a>
                        <a href="#" data-key="Q" class="single-grapheme">Q</a>
                        <a href="#" data-key="R" class="single-grapheme">R</a>
                        <a href="#" data-key="S" class="single-grapheme">S</a>
                        <a href="#" data-key="T" class="single-grapheme">T</a>
                        <a href="#" data-key="U" class="single-grapheme">U</a>
                        <a href="#" data-key="V" class="single-grapheme">V</a>
                        <a href="#" data-key="W" class="single-grapheme">W</a>
                        <a href="#" data-key="X" class="single-grapheme">X</a>
                        <a href="#" data-key="Y" class="single-grapheme">Y</a>
                        <a href="#" data-key="Z" class="single-grapheme">Z</a>
                    </div>
                </div>
                <div class="sub-content">
                    <a href="#" data-belong="A" class="single">平安A</a>
                    <a href="#" data-belong="A" class="single">国寿A</a>
                    <a href="#" data-belong="A" class="single">太平洋A</a>
                    <a href="#" data-belong="A" class="single">新华A</a>
                    <a href="#" data-belong="A" class="single">泰康A</a>
                    <a href="#" data-belong="A" class="single">太平A</a>
                    <a href="#" data-belong="B" class="single">平安B</a>
                    <a href="#" data-belong="B" class="single">国寿B</a>
                    <a href="#" data-belong="B" class="single">太平洋B</a>
                    <a href="#" data-belong="B" class="single">新华B</a>
                    <a href="#" data-belong="B" class="single">泰康B</a>
                    <a href="#" data-belong="B" class="single">太平B</a>
                    <a href="#" data-belong="B" class="single">人保寿险B</a>
                    <a href="#" data-belong="B" class="single">阳光保险B</a>
                </div>

            </div>
            <!--<div class="fr">-->
                <!--<a href="javascript:;" class="more total">全部</a>-->
            <!--</div>-->
        </div>
    </div>
    <!--已选条件-->
    <div class="chose-condition clf">
        <div class="fl">
            条件：
        </div>
    </div>

    <div class="clf">
        <div class="fl">
            <!--筛选结果-->
            <div class="product-list clf">

                <div class="product-item">
                    <h4>恒安标准幸福金生卓越版两全恒安标准幸福金生卓越版两全</h4>
                    <ul>
                        <li>重大疾病保险金</li>
                        <li>轻症保险金</li>
                        <li>高度残疾保险金</li>
                    </ul>
                    <a href="#" class="view">查看详情</a>
                    <dl class="clf">
                        <dt>承保年龄</dt>
                        <dd>28天-65周岁</dd>
                        <dt>保险期限</dt>
                        <dd>终身</dd>
                        <dt>缴费方式</dt>
                        <dd>趸交、十年、十五年、二十年</dd>
                        <dt>保险公司</dt>
                        <dd>中国平安保险（集团）股份有限中国平安保险（集团）股份有限股份有限</dd>
                    </dl>
                </div>
                <div class="product-item">
                    <h4>恒安标准幸福金生卓越版两全恒安标准幸福金生卓越版两全</h4>
                    <ul>
                        <li>重大疾病保险金</li>
                        <li>轻症保险金</li>
                        <li>高度残疾保险金</li>
                    </ul>
                    <a href="#" class="view">查看详情</a>
                    <dl class="clf">
                        <dt>承保年龄</dt>
                        <dd>28天-65周岁</dd>
                        <dt>保险期限</dt>
                        <dd>终身</dd>
                        <dt>缴费方式</dt>
                        <dd>趸交、十年、十五年、二十年</dd>
                        <dt>保险公司</dt>
                        <dd>中国平安保险（集团）股份有限中国平安保险（集团）股份有限股份有限</dd>
                    </dl>
                </div>
                <div class="product-item right">
                    <h4>恒安标准幸福金生卓越版两全恒安标准幸福金生卓越版两全</h4>
                    <ul>
                        <li>重大疾病保险金</li>
                        <li>轻症保险金</li>
                        <li>高度残疾保险金</li>
                    </ul>
                    <a href="#" class="view">查看详情</a>
                    <dl class="clf">
                        <dt>承保年龄</dt>
                        <dd>28天-65周岁</dd>
                        <dt>保险期限</dt>
                        <dd>终身</dd>
                        <dt>缴费方式</dt>
                        <dd>趸交、十年、十五年、二十年</dd>
                        <dt>保险公司</dt>
                        <dd>中国平安保险（集团）股份有限中国平安保险（集团）股份有限股份有限</dd>
                    </dl>
                </div>

                <div class="product-item">
                    <h4>恒安标准幸福金生卓越版两全恒安标准幸福金生卓越版两全</h4>
                    <ul>
                        <li>重大疾病保险金</li>
                        <li>轻症保险金</li>
                        <li>高度残疾保险金</li>
                    </ul>
                    <a href="#" class="view">查看详情</a>
                    <dl class="clf">
                        <dt>承保年龄</dt>
                        <dd>28天-65周岁</dd>
                        <dt>保险期限</dt>
                        <dd>终身</dd>
                        <dt>缴费方式</dt>
                        <dd>趸交、十年、十五年、二十年</dd>
                        <dt>保险公司</dt>
                        <dd>中国平安保险（集团）股份有限中国平安保险（集团）股份有限股份有限</dd>
                    </dl>
                </div>
                <div class="product-item">
                    <h4>恒安标准幸福金生卓越版两全恒安标准幸福金生卓越版两全</h4>
                    <ul>
                        <li>重大疾病保险金</li>
                        <li>轻症保险金</li>
                        <li>高度残疾保险金</li>
                    </ul>
                    <a href="#" class="view">查看详情</a>
                    <dl class="clf">
                        <dt>承保年龄</dt>
                        <dd>28天-65周岁</dd>
                        <dt>保险期限</dt>
                        <dd>终身</dd>
                        <dt>缴费方式</dt>
                        <dd>趸交、十年、十五年、二十年</dd>
                        <dt>保险公司</dt>
                        <dd>中国平安保险（集团）股份有限中国平安保险（集团）股份有限股份有限</dd>
                    </dl>
                </div>
                <div class="product-item right">
                    <h4>恒安标准幸福金生卓越版两全恒安标准幸福金生卓越版两全</h4>
                    <ul>
                        <li>重大疾病保险金</li>
                        <li>轻症保险金</li>
                        <li>高度残疾保险金</li>
                    </ul>
                    <a href="#" class="view">查看详情</a>
                    <dl class="clf">
                        <dt>承保年龄</dt>
                        <dd>28天-65周岁</dd>
                        <dt>保险期限</dt>
                        <dd>终身</dd>
                        <dt>缴费方式</dt>
                        <dd>趸交、十年、十五年、二十年</dd>
                        <dt>保险公司</dt>
                        <dd>中国平安保险（集团）股份有限中国平安保险（集团）股份有限股份有限</dd>
                    </dl>
                </div>

                <div class="product-item">
                    <h4>恒安标准幸福金生卓越版两全恒安标准幸福金生卓越版两全</h4>
                    <ul>
                        <li>重大疾病保险金</li>
                        <li>轻症保险金</li>
                        <li>高度残疾保险金</li>
                    </ul>
                    <a href="#" class="view">查看详情</a>
                    <dl class="clf">
                        <dt>承保年龄</dt>
                        <dd>28天-65周岁</dd>
                        <dt>保险期限</dt>
                        <dd>终身</dd>
                        <dt>缴费方式</dt>
                        <dd>趸交、十年、十五年、二十年</dd>
                        <dt>保险公司</dt>
                        <dd>中国平安保险（集团）股份有限中国平安保险（集团）股份有限股份有限</dd>
                    </dl>
                </div>
                <div class="product-item">
                    <h4>恒安标准幸福金生卓越版两全恒安标准幸福金生卓越版两全</h4>
                    <ul>
                        <li>重大疾病保险金</li>
                        <li>轻症保险金</li>
                        <li>高度残疾保险金</li>
                    </ul>
                    <a href="#" class="view">查看详情</a>
                    <dl class="clf">
                        <dt>承保年龄</dt>
                        <dd>28天-65周岁</dd>
                        <dt>保险期限</dt>
                        <dd>终身</dd>
                        <dt>缴费方式</dt>
                        <dd>趸交、十年、十五年、二十年</dd>
                        <dt>保险公司</dt>
                        <dd>中国平安保险（集团）股份有限中国平安保险（集团）股份有限股份有限</dd>
                    </dl>
                </div>
                <div class="product-item right">
                    <h4>恒安标准幸福金生卓越版两全恒安标准幸福金生卓越版两全</h4>
                    <ul>
                        <li>重大疾病保险金</li>
                        <li>轻症保险金</li>
                        <li>高度残疾保险金</li>
                    </ul>
                    <a href="#" class="view">查看详情</a>
                    <dl class="clf">
                        <dt>承保年龄</dt>
                        <dd>28天-65周岁</dd>
                        <dt>保险期限</dt>
                        <dd>终身</dd>
                        <dt>缴费方式</dt>
                        <dd>趸交、十年、十五年、二十年</dd>
                        <dt>保险公司</dt>
                        <dd>中国平安保险（集团）股份有限中国平安保险（集团）股份有限股份有限</dd>
                    </dl>
                </div>
            </div>
            <!--翻页-->
            {%include 'html/layouts/flip.html' | path('www/common') %}
        </div>


        <div class="fr">
            <!--私人定制-->
            {%include 'html/layouts/sections/私人定制.html' | path('www/common') %}
            <!--活跃顾问-->
            {%include 'html/layouts/sections/活跃顾问.html' | path('www/common') %}
        </div>

    </div>


</div>

{%include 'html/layouts/footer.html' | path('www/common') %}
