{{ atmjs.use(':index') }}
{%include 'html/layouts/header.html' | path('www/common') %}

<div id="Index">
    {%include './module/banner及导航.html'%}
    <div class="index-container">
        {%include './module/保险产品.html'%}
        {%include './module/保险问吧.html'%}
        {%include './module/保险咨询.html'%}
        {%include './module/保险顾问.html'%}
        {%include './module/收获分享.html'%}
        {%include './module/合作单位.html'%}
    </div>

</div>




{%include 'html/layouts/footer.html' | path('www/common') %}