
<!-- 保险精英 -->
<div class="warmheart-advisers">
    <!--title-->
    <h3 class="rank-title">
        <b>保险精英</b>
        <div class="rank-title-tab">
            <a href="" class="active">今日</a>
            <a href="">本周</a>
            <a href="">本月</a>
        </div>
    </h3>
    <!--list-->

    <div class="rank-type rank-day">
        <div class="rank-item">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" alt="" width="32" height="32" class="rank-item-avatar">
            <span class="rank-item-name">1这是个名字</span>
            <span class="rank-item-company">公司的名字</span>
            <span class="rank-item-level"></span>
            <span class="rank-item-authentication"></span>
            <span class="rank-item-score">554条回答</span>
            <a href="" class="rank-item-link">咨询他</a>
        </div>
        <div class="rank-item">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" alt="" width="32" height="32" class="rank-item-avatar">
            <span class="rank-item-name">这是个名字</span>
            <span class="rank-item-company">公司的名字</span>
            <span class="rank-item-level"></span>
            <span class="rank-item-authentication"></span>
            <span class="rank-item-score">554条回答</span>
            <a href="" class="rank-item-link">咨询他</a>
        </div>
        <div class="rank-item">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" alt="" width="32" height="32" class="rank-item-avatar">
            <span class="rank-item-name">这是个名字</span>
            <span class="rank-item-company">公司的名字</span>
            <span class="rank-item-level"></span>
            <span class="rank-item-authentication"></span>
            <span class="rank-item-score">554条回答</span>
            <a href="" class="rank-item-link">咨询他</a>
        </div>
    </div>
    <div class="rank-type rank-week fn-hidden">
        <div class="rank-item">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" alt="" width="32" height="32" class="rank-item-avatar">
            <span class="rank-item-name">2这是个名字</span>
            <span class="rank-item-company">公司的名字</span>
            <span class="rank-item-level"></span>
            <span class="rank-item-authentication"></span>
            <span class="rank-item-score">554条回答</span>
            <a href="" class="rank-item-link">咨询他</a>
        </div>
        <div class="rank-item">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" alt="" width="32" height="32" class="rank-item-avatar">
            <span class="rank-item-name">这是个名字</span>
            <span class="rank-item-company">公司的名字</span>
            <span class="rank-item-level"></span>
            <span class="rank-item-authentication"></span>
            <span class="rank-item-score">554条回答</span>
            <a href="" class="rank-item-link">咨询他</a>
        </div>
        <div class="rank-item">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" alt="" width="32" height="32" class="rank-item-avatar">
            <span class="rank-item-name">这是个名字</span>
            <span class="rank-item-company">公司的名字</span>
            <span class="rank-item-level"></span>
            <span class="rank-item-authentication"></span>
            <span class="rank-item-score">554条回答</span>
            <a href="" class="rank-item-link">咨询他</a>
        </div>
    </div>
    <div class="rank-type rank-month fn-hidden">
        <div class="rank-item">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" alt="" width="32" height="32" class="rank-item-avatar">
            <span class="rank-item-name">3这是个名字</span>
            <span class="rank-item-company">公司的名字</span>
            <span class="rank-item-level"></span>
            <span class="rank-item-authentication"></span>
            <span class="rank-item-score">554条回答</span>
            <a href="" class="rank-item-link">咨询他</a>
        </div>
        <div class="rank-item">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" alt="" width="32" height="32" class="rank-item-avatar">
            <span class="rank-item-name">这是个名字</span>
            <span class="rank-item-company">公司的名字</span>
            <span class="rank-item-level"></span>
            <span class="rank-item-authentication"></span>
            <span class="rank-item-score">554条回答</span>
            <a href="" class="rank-item-link">咨询他</a>
        </div>
        <div class="rank-item">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" alt="" width="32" height="32" class="rank-item-avatar">
            <span class="rank-item-name">这是个名字</span>
            <span class="rank-item-company">公司的名字</span>
            <span class="rank-item-level"></span>
            <span class="rank-item-authentication"></span>
            <span class="rank-item-score">554条回答</span>
            <a href="" class="rank-item-link">咨询他</a>
        </div>
    </div>
</div>