<!-- 活跃顾问 -->
<div class="lively-advisers">
    <!--title-->
    <h3>活跃顾问</h3>
    <!--list-->
    <div class="rank-list">
        <div class="rank-item clf">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" class="rank-item-avatar">
            <div class="info">
                <h4>
                    兴趣使燃，新华保险
                </h4>
                <p>
                    <span class="rank-item-level"></span>
                    <span class="rank-item-authentication"></span>
                </p>
            </div>
            <div class="rank-item-consult">
                咨询
            </div>
        </div>

    </div>
    <div class="rank-list">
        <div class="rank-item clf">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" class="rank-item-avatar">
            <div class="info">
                <h4>
                    兴趣使燃，新华新华新华新华保险
                </h4>
                <p>
                    <span class="rank-item-level"></span>
                    <span class="rank-item-authentication"></span>
                </p>
            </div>
            <div class="rank-item-consult">
                咨询
            </div>
        </div>

    </div>
    <div class="rank-list">
        <div class="rank-item clf">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" class="rank-item-avatar">
            <div class="info">
                <h4>
                    兴趣使燃，新华保险
                </h4>
                <p>
                    <span class="rank-item-level"></span>
                    <span class="rank-item-authentication"></span>
                </p>
            </div>
            <div class="rank-item-consult">
                咨询
            </div>
        </div>

    </div>

</div>