<!-- 活跃顾问 -->
<div class="lively-advisers">
    <!--title-->
    <h3>活跃顾问</h3>
    <!--list-->
    <div class="rank-list">
        <div class="rank-item clf">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" class="rank-item-avatar">
            <div class="info">
                <h4>
                    兴趣使燃，新华保险
                </h4>
                <p>
                    <span class="idf idf-level">Lv2</span>
                    <span class="idf idf-authentication">已认证</span>
                    <span class="idf idf-exprience">从业3年</span>
                </p>
            </div>
            <div class="rank-item-consult i-want-to-ask" title="咨询">
                <img src="{{ 'html/img/consult-icon.png' | uri('www/common') }}">
                {%include './我要咨询.html' %}
            </div>
        </div>
        <div class="rank-item clf">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" class="rank-item-avatar">
            <div class="info">
                <h4>
                    兴趣使燃，新华保险
                </h4>
                <p>
                    <span class="idf idf-level">Lv2</span>
                    <span class="idf idf-authentication">已认证</span>
                    <span class="idf idf-exprience">从业3年</span>
                </p>
            </div>
            <div class="rank-item-consult i-want-to-ask" title="咨询">
                <img src="{{ 'html/img/consult-icon.png' | uri('www/common') }}">
                {%include './我要咨询.html' %}
            </div>
        </div>
        <div class="rank-item clf">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" class="rank-item-avatar">
            <div class="info">
                <h4>
                    兴趣使燃，新华保险
                </h4>
                <p>
                    <span class="idf idf-level">Lv2</span>
                    <span class="idf idf-authentication">已认证</span>
                    <span class="idf idf-exprience">从业3年</span>
                </p>
            </div>
            <div class="rank-item-consult i-want-to-ask" title="咨询">
                <img src="{{ 'html/img/consult-icon.png' | uri('www/common') }}">
                {%include './我要咨询.html' %}
            </div>
        </div>
        <div class="rank-item clf">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" class="rank-item-avatar">
            <div class="info">
                <h4>
                    兴趣使燃，新华保险
                </h4>
                <p>
                    <span class="idf idf-level">Lv2</span>
                    <span class="idf idf-authentication">已认证</span>
                    <span class="idf idf-exprience">从业3年</span>
                </p>
            </div>
            <div class="rank-item-consult i-want-to-ask" title="咨询">
                <img src="{{ 'html/img/consult-icon.png' | uri('www/common') }}">
                {%include './我要咨询.html' %}
            </div>
        </div>
        <div class="rank-item clf">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" class="rank-item-avatar">
            <div class="info">
                <h4>
                    兴趣使燃，新华保险
                </h4>
                <p>
                    <span class="idf idf-level">Lv2</span>
                    <span class="idf idf-authentication">已认证</span>
                    <span class="idf idf-exprience">从业3年</span>
                </p>
            </div>
            <div class="rank-item-consult i-want-to-ask" title="咨询">
                <img src="{{ 'html/img/consult-icon.png' | uri('www/common') }}">
                {%include './我要咨询.html' %}
            </div>
        </div>
        <div class="rank-item clf">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" class="rank-item-avatar">
            <div class="info">
                <h4>
                    兴趣使燃，新华保险
                </h4>
                <p>
                    <span class="idf idf-level">Lv2</span>
                    <span class="idf idf-authentication">已认证</span>
                    <span class="idf idf-exprience">从业3年</span>
                </p>
            </div>
            <div class="rank-item-consult i-want-to-ask" title="咨询">
                <img src="{{ 'html/img/consult-icon.png' | uri('www/common') }}">
                {%include './我要咨询.html' %}
            </div>
        </div>
        <div class="rank-item clf">
            <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}" class="rank-item-avatar">
            <div class="info">
                <h4>
                    兴趣使燃，新华保险
                </h4>
                <p>
                    <span class="idf idf-level">Lv2</span>
                    <span class="idf idf-authentication">已认证</span>
                    <span class="idf idf-exprience">从业3年</span>
                </p>
            </div>
            <div class="rank-item-consult i-want-to-ask" title="咨询">
                <img src="{{ 'html/img/consult-icon.png' | uri('www/common') }}">
                {%include './我要咨询.html' %}
            </div>
        </div>

    </div>
</div>
