<div class="relative-product">
    <h3>相关产品</h3>
    <div class="clf">

        <div class="relative-product-item">
            <div class="relative-product-item-img">
                <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}">
            </div>
            <div class="relative-product-item-word">
                <h4>国寿福升级版（终身版）</h4>
                <p>保障80种重疾和20种轻症，范围范围范围</p>
            </div>
        </div>
        <div class="relative-product-item">
            <div class="relative-product-item-img">
                <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}">
            </div>
            <div class="relative-product-item-word">
                <h4>国寿福升级版（终身版）</h4>
                <p>保障80种重疾和20种轻症，范围范围范围</p>
            </div>
        </div>
        <div class="relative-product-item">
            <div class="relative-product-item-img">
                <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}">
            </div>
            <div class="relative-product-item-word">
                <h4>国寿福升级版（终身版）</h4>
                <p>保障80种重疾和20种轻症，范围范围范围</p>
            </div>
        </div>
        <div class="relative-product-item last">
            <div class="relative-product-item-img">
                <img src="{{ 'html/img/test-avatar.png' | uri('www/common') }}">
            </div>
            <div class="relative-product-item-word">
                <h4>国寿福升级版（终身版）</h4>
                <p>保障80种重疾和20种轻症，范围范围范围</p>
            </div>
        </div>

    </div>
</div>