<div class="customized-box">
    <h3>量身定制</h3>
    <div class="customized-content">
        <form id="customized-form" class="ui-form" action="{{ 'html/data/提交成功' | uri('work/user') }}">
            <div class="ui-form-item">
                <div class="form-control clf">
                    <div class="form-control-ele">
                        <input type="text" id="name" name="name" placeholder="称呼">
                    </div>
                </div>
                <div class="ui-form-explain"></div>
            </div>
            <div class="ui-form-item">
                <div class="form-control clf">
                    <div class="form-control-ele">
                        <input type="text" id="cellphone" name="cellphone" placeholder="手机">
                    </div>
                </div>
                <div class="ui-form-explain"></div>
            </div>
            <div class="ui-form-item">
                <div class="form-control clf">
                    <div class="form-control-ele">
                        <select name="time-frame" id="time-frame">
                            <option value="">联系时段</option>
                            <option value="1">工作日</option>
                        </select>
                    </div>
                </div>
                <div class="ui-form-explain"></div>
            </div>
            <button type="submit" class="submit">提交</button>
        </form>
    </div>
</div>
