body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:110px;
  width:1240px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:60px;
  width:222px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:13px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
