/* header */
html,body{
	background-color: #f5f5f5;
}
#com-header{	
	width: 100%;
  	background-color: #2b3e4a;
  	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 9999;
}
.com-header-content{
	height: 56px;
	width: 1200px;
	margin: 0 auto;
	line-height: 56px;
}
.top-tips-wrap{
	width: 100%;
  	height: 32px;
  	background-color: rgba(43, 62, 74, 0.5);
  	position: fixed;
  	top: 56px;
  	left: 0;
}
.header-logo-wrap{
	display: block;
	width: 244px;
    height: 40px;
    margin-top: 8px;
	float: left;
}
.header-logo{
	width: 244px;
    height: 40px;
}
.header-nav{
	float: right;
}
.header-nav li{
	float: left;
	margin-left: 28px;
}
.header-nav a{
	color: #ffffff;
	font-size: 14px;
}

/* banner */
#banner{
	width: 100%;
	height: 720px;
	margin-top: 56px;
	background: url(./img/banner.jpg) no-repeat center center;
}

.banner-title{
	height: 72px;
	padding-top: 242px;
  	font-size: 48px;
  	line-height: 1.5;
  	text-align: center;
  	color: rgba(255, 255, 255, 0.8);
}

/* 负责人介绍  */
#leader-intro{
	position: relative;
	padding-bottom: 177px;
}
.leader-img-wrap{
	width: 192px;
	height: 192px;
	line-height: 192px;
	text-align: center;
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: -96px;
	margin-left: -96px;
}
.leader-intro-list{
	padding-top: 114px;
}
.leader-intro-list dt{
	height: 36px;
  	font-size: 36px;
  	font-weight: 600;
  	line-height: 1;
  	text-align: center;
  	color: #333333;
}
.leader-intro-list h3{
	height: 36px;	
  	font-size: 18px;
  	font-weight: 600;
  	line-height: 2;
  	text-align: center;
  	color: #42bad0;
}
.leader-intro-list dd{
	margin-top: 16px;
	text-align: center;
}
.bx-type{
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 0 8px;
	margin: 0 3px;
	font-size: 14px;
	color: #333333;
	border-radius: 2px;
  	background-color: #d8d8d8;
}
.approve-icon{
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding: 0 6px;
  	border-radius: 2px;
  	font-size: 12px;
  	color: #ffffff;
}
.bg-yellow{
	background-color: #edd1a3;
}
.bg-blue{
	background-color: #99bde8;
}
.bg-green{
	background-color: #9ad7a3;
}
.leader-talk{
	width: 744px;
	margin: 48px auto;
  	font-size: 14px;
  	line-height: 2;
  	color: #5d7482;
}
.leader-result{
	width: 792px;
	margin: 0 auto;
	
}
.leader-result li{
	width: 216px;
  	height: 128px;
  	padding-top: 40px;
  	margin: 0 24px;
  	float: left;
  	border-radius: 4px;
  	background-color: #ffffff;
  	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
  	position: relative;
}
.leader-result li h5{
	height: 48px;
  	font-size: 48px;
  	font-weight: 600;
  	line-height: 1;
  	text-align: center;
  	color: #333333;
}
.leader-result li p{
	height: 22px;
	margin-top: 12px;
	line-height: 22px;
  	font-size: 16px;
  	text-align: center;
  	color: #808080;
}
.leader-result li i{
	display: block;
	height: 72px;
	width: 72px;
	position: absolute;
	bottom: -36px;
	left: 50%;
	margin-left: -36px;
	background: url(./img/icon.jpg) no-repeat;
}
.leader-result i.icon-approval{
	background-position: 0 0;
}
.leader-result i.icon-question{
	background-position: 0 -92px;
}
.leader-result i.icon-signed{
	background-position: 0 -184px;
}


/* 视频介绍 */
#video-intro{
	width: 100%;
	height: 800px;
	background: url(./img/2.jpg) no-repeat center center;
}
#video-intro h3{
	height: 36px;
  	font-size: 36px;
  	padding-top: 96px;
  	line-height: 1;
  	text-align: center;
  	color: #ffffff;
}
.video-play-wrap{
	width: 744px;
	height: 417px;
	margin: 96px auto 0;
}

/* 公司介绍 */
#company-intro{
	padding-top: 96px;
	background-color: #ffffff;
}
.company-intro-title{
	height: 36px;
  	font-size: 36px;
  	line-height: 1;
  	text-align: center;
  	color: #42bad0;
}
.company-intro-content{
	width: 744px;
	margin: 48px auto 98px;
  	font-size: 18px;
  	line-height: 2;
  	color: #5d7482;
}
.company-intro-content p{
	margin-bottom: 26px;
}


/* 代理的产品  */
#proxy-product{
	width: 100%;
	height: 736px;
	padding-top: 64px;
	background: url(./img/3.jpg) no-repeat center center;
}
.proxy-pro-title{
	height: 36px;
	line-height: 36px;
	font-size: 24px;
  	font-weight: 600;
  	line-height: 1.5;
  	text-align: center;
  	color: #ffffff;
	background: url(./img/title-bgw.png) no-repeat center center;
}
.proxy-pro-list{
	text-align: center;
	margin-top: 86px;
}
.proxy-pro-list li{
	display: inline-block;
	width: 288px;
	margin: 0 34px;
	background-color: #ffffff;
}

.proxy-pro-list li h4{
	height: 24px;
	width: 250px;
	margin: 24px 0 16px 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  	font-size: 16px;
  	font-weight: 600;
  	line-height: 1.5;
  	text-align: left;
  	color: #333333;
}
.proxy-pro-list dl{
	height: 28px;
	line-height: 28px;
	margin-left: 24px;
	font-size: 14px;
}
.proxy-pro-list dt{
	float: left;
	color: #999999;
}
.proxy-pro-list dd{
	float: left;
	color: #333333;
}
.proxy-pro-list li a{
	display: block;
	height: 28px;
	margin: 16px 0 24px 24px;
	float: left;
	font-size: 14px;
	line-height: 2;
  	text-align: left;
  	color: #42bad0;
}


/* 预约咨询  */
#reserve-modal{
	padding: 64px 0 136px;
	background-color: #ffffff;
}
.reserve-modal-title{
	height: 36px;
  	font-size: 24px;
  	font-weight: 600;
  	line-height: 1.5;
  	text-align: center;
  	color: #5d7482;
  	background: url(./img/title-bg.png) no-repeat center center;
}
.advisory-modal-wrap{
	width: 480px;
	padding: 4px 80px 0;
	margin: 116px auto 0;
	background: url(./img/map.png) no-repeat center top;
}
.advisory-form{
	width: 100%;
}
.form-item{
	width: 100%;
  	height: 56px;
  	line-height: 56px;
  	margin-bottom: 16px;
  	background-color: rgba(0, 0, 0, 0);
  	box-shadow: 0 2px 0 0 #bbcad4;
}
.form-item .item-label{
	height: 56px;
  	font-size: 18px;
  	color: #646e75;
}
.form-item .form-text{
	width: 400px;
	height: 56px;
	margin-left: 5px;
	font-size: 16px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}
.reserve-sub{
	display: block;
	width: 240px;
  	height: 56px;
  	margin: 48px auto 0;
  	line-height: 56px;
  	border-radius: 28px;
  	background-color: #42bad0;
  	box-shadow: 0 12px 16px 0 #bcdfe5;
  	font-size: 20px;
  	text-align: center;
  	color: #ffffff;
  	border: none;
  	cursor: pointer;
}
.has-reserve-list-wrap{
	width: 240px;
	height: 116px;
	margin: 96px auto 0;
	overflow: hidden;
}
.has-reserve-list{
	width: 240px;
	line-height: 28px;
	font-size: 14px;
  	color: #5d7482;
	
}
.has-reserve-list li{
	width: 217px;
	height: 28px;
	padding-left: 23px;
	margin-bottom: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: url(./img/icon-1.png) no-repeat left center;
}
.has-reserve-list li span{
	margin: 0 4px;
}

/* 保险问答  */
#question-ask{
	width: 100%;
	height: 736px;
	padding-top: 64px;
	background: url(./img/4.jpg) no-repeat center center;
}
.question-ask-title{
	height: 36px;
	line-height: 36px;
	margin-bottom: 56px;
	font-size: 24px;
  	font-weight: 600;
  	line-height: 1.5;
  	text-align: center;
  	color: #ffffff;
	background: url(./img/title-bgw.png) no-repeat center center;
}
.question-ask-block{
	width: 816px;
	padding: 24px;
	margin: 0 auto 32px;
	background-color: #ffffff;
	border-radius: 4px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
  	border: solid 1px #ebebeb;
  	font-size: 14px;
}
.question-ask-block dt{
	line-height: 32px;
	padding-left: 24px;
	background: url(./img/ask.png) no-repeat left center;
	color: #333333;
	position: relative;
}
.question-ask-block dt span{
	height: 32px;
	line-height: 32px;
	color: #999999;
	position: absolute;
	top: 0;
	right: 48px;
}
.question-ask-block dd{
	width: 766px;
	line-height: 32px;
	padding-left: 24px;
	background: url(./img/spa.png) no-repeat left center;
	color: #999999;
}

/* 问题咨询 */
#question-advisory{
	padding: 64px 0 162px;
	background-color: #ffffff;
}
.question-advisory-title{
	height: 36px;
	line-height: 36px;
	margin-bottom: 56px;
	font-size: 24px;
  	font-weight: 600;
  	line-height: 1.5;
  	text-align: center;
  	color: #5d7482;
	background: url(./img/title-bg.png) no-repeat center center;
}
.form-area-item{
	height: 118px;
	position: relative;
}
.form-area-item .item-label{
	display: inline-block;
	height: 56px;
	line-height: 56px;
	position: absolute;
	top: 0;
	left: 0;
}
.form-area{
	width: 400px;
	height: 83px;
	padding-top: 17px;
	margin-left: 45px;
	font-size: 16px;
	resize: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}
.advisory-sub{
	display: block;
	width: 320px;
  	height: 56px;
  	margin: 48px auto 0;
  	border: none;
  	line-height: 56px;
  	border-radius: 28px;
  	font-size: 20px;
  	text-align: center;
  	color: #ffffff;
  	background-color: #42bad0;
  	box-shadow: 0 12px 16px 0 #bcdfe5;
  	cursor: pointer;
}

.has-advisory-tips{
	height: 28px;
	margin-top: 24px;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
  	color: #666666;
}
.has-advisory-tips span{
	color: #42bad0;
	margin: 0 4px;
}

/* 资讯案例 */
#information-case{
	height: 736px;
	padding-top: 64px;
	background: url(./img/5.jpg) no-repeat center center;
}
.information-case-title{
	height: 36px;
	line-height: 36px;
	margin-bottom: 56px;
	font-size: 24px;
  	font-weight: 600;
  	line-height: 1.5;
  	text-align: center;
  	color: #ffffff;
	background: url(./img/title-bgw.png) no-repeat center center;
}
.information-case-content{
	width: 1012px;
	margin: 120px auto 0;
}
.information-case-block{
	width: 456px;
	float: left;
	margin: 0 24px;
	border-radius: 4px;
  	background-color: rgba(255, 255, 255, 0.2);
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
  	border: solid 1px rgba(235, 235, 235, 0.2);
}

.information-case-block-header{
	height: 64px;	
  	border-radius: 4px 4px 0 0;
  	background-color: rgba(255, 255, 255, 0.2);
  	border: solid 1px rgba(235, 235, 235, 0.2);	
}
.information-case-block-header h4{
	height: 64px;
	line-height: 64px;
	float: left;
	margin-left: 24px;
	font-size: 18px;
  	font-weight: 500;
  	color: #ffffff;
}
.information-case-block-header a{
	display: block;
	height: 64px;
	float: right;
	margin-right: 24px;
	line-height: 64px;
	font-size: 14px;
	color: #ffffff;
}
.information-case-list{
	padding: 16px 24px 20px;
	background-color: rgba(0, 0, 0, 0);
}
.information-case-list li{
	margin-bottom: 8px;
	height: 40px; 	
  	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.12);
  	font-size: 14px;
  	zoom: 1;
}
.information-case-list li:after{
	visibility: hidden;
    display: block;
    font-size: 0;
    content: '.';
    clear: both;
    height: 0;
}
.information-case-list .icon-info,
.information-case-list .icon-case{
	display: block;
	width: 17px;
	height: 16px;
	margin-top: 12px;	
	float: left;	
}
.information-case-list .icon-info{
	background: url(./img/icon-info.png) no-repeat center center;
}
.information-case-list .icon-case{
	background: url(./img/icon-case.png) no-repeat center left;
}
.information-case-list a{
	display: block;
	width: 250px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	margin-left: 7px;
	color: #ffffff;
}
.information-case-list span{
	display: block;
	height: 40px;
	line-height: 40px;
	float: right;
	color: #cccccc;
}

/* 签单增员 */
#sign-add{
	padding: 64px 0 152px;
	background-color: #f5f5f5;
}
.sign-add-title{
	height: 36px;
	line-height: 36px;
	margin-bottom: 56px;
	font-size: 24px;
  	font-weight: 600;
  	line-height: 1.5;
  	text-align: center;
  	color: #646e75;
	background: url(./img/title-bg.png) no-repeat center center;
}
.sign-add-list{
	width: 240px;
	padding: 48px 160px 60px 80px;
	margin: 120px auto 0;
	border-radius: 4px;
  	background-color: #ffffff;
  	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
}
.sign-add-list li{
	height: 40px;
	font-size: 14px;
	zoom: 1;
}
.sign-add-list li:after{
	visibility: hidden;
    display: block;
    font-size: 0;
    content: '.';
    clear: both;
    height: 0;
}
.sign-add-list li i{
	display: block;
	width: 17px;
	height: 18px;
	margin-top: 11px;
	float: left;
}
.sign-add-list li span{
	display: block;
	height: 40px;
	margin-left: 12px;
	line-height: 40px;
	float: left;
	color: #999999;
}
.sign-add-list li p{
	width: 165px;
	height: 40px;	
	line-height: 40px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.sign-add-list li .icon-win{
	background: url(./img/icon-win.png) no-repeat center left;
}
.sign-add-list li .icon-add{
	background: url(./img/icon-add.png) no-repeat center center;
}

/* 我的微站 */
#my-site{
	height: 736px;
	padding-top: 64px;
	background: url(./img/6.jpg) no-repeat center center;
}
.my-site-title{
	height: 36px;
	line-height: 36px;
	margin-bottom: 56px;
	font-size: 24px;
  	font-weight: 600;
  	line-height: 1.5;
  	text-align: center;
  	color: #ffffff;
	background: url(./img/title-bgw.png) no-repeat center center;
}

.my-site-content{
	width: 320px;
	margin: 120px auto 0;
	padding-top: 56px;
  	border-radius: 4px;
  	background-color: rgba(255, 255, 255, 0.2);
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
  	border: solid 1px rgba(235, 235, 235, 0.2);

}
.my-site-content img{
	display: block;
	width: 256px;
	height: 256px;
	margin: 0 auto;
}
.my-site-content p{
	height: 16px;
	margin: 16px 0 56px;
	line-height: 16px;
	font-size: 18px;
	text-align: center;
	color: #ffffff;
}





/* footer */
.footer{
	height: 48px;
	line-height: 48px;
	padding: 32px 0;
	text-align: center;
	background-color: #f5f5f5;
	color: #646e75;
	font-size: 12px;
}



/************ 1440px的theme **********/

/*banner*/
#theme-banner{
	height: 240px;
	width: 100%;
	padding-top: 56px;
	background: url('./img/banner-1440.jpg') no-repeat center bottom;
}
/*保险人员基本介绍*/
#personnel-intro{
	width: 1200px;
  	height: 240px;
  	margin: -80px auto 0;
  	background-color: #ffffff;
  	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.personnel-img{
	display: block;
	width: 128px;
	height: 128px;
	margin: 32px 40px 0 48px;
	float: left;
}
.goto-mini-shop{
	width: 128px;
	float: right;
	margin: 44px 48px 0 0;
	font-size: 14px;
}
.goto-mini-shop img{
	width: 128px;
	height: 128px;
}
.goto-mini-shop dd{
	margin-top: 8px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	color: #999999;
}
.personnel-intro-list{
	margin-top: 40px;
	float: left;
}
.personnel-intro-title{
	height: 40px;
	margin-bottom: 4px;
}
.personnel-intro-title h4{
	line-height: 40px;
	font-size: 24px;
	float: left;
	margin-right: 8px;
  	font-weight: 600;
  	line-height: 1.5;
  	color: #333333;
}
.personnel-intro-title span{
	display: block;
	height: 18px;
	line-height: 18px;
	padding: 0 3px;
	margin: 11px 4px 0 0;
	font-size: 12px;
	color: #ffffff;
	border-radius: 2px;
	float: left;
}
.personnel-intro-item{
	height: 32px;
	font-size: 14px;
	color: #333333;
}
.personnel-intro-item i{
	display: block;
	width: 12px;
	height: 16px;
	margin: 8px 16px 0 0;
	float: left;
	background: url('./img/inv.png') no-repeat;
}
.personnel-intro-item p{
	float: left;
	line-height: 32px;
}
.personnel-intro-item span{
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 0 8px;
	margin: 4px 10px 0 0;
	float: left;
	border-radius: 2px;
  	background-color: #d8d8d8;
}
.icon-compay{
	background-position: 0 -50px!important;
}
.icon-mark{
	background-position: 0 0!important;
}
.icon-sort{
	background-position: 0 -26px!important;
}

/* site-main */
.site-main{
	width: 1200px;
	margin: 24px auto 0;
}
/* site-main-fl */
.site-main-fl .bx-intro-modal{
	width: 888px;
}
.bx-intro-modal{
	margin-bottom: 24px;
	background-color: #ffffff;
  	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  	font-size: 14px;
}
.bx-intro-modal-title{
	height: 48px;
  	box-shadow: 0 1px 0 0 #ebebeb;
  	color: #333333;
  	position: relative;
}
.bx-intro-modal-title h3{
	margin-left: 24px;
	line-height: 48px;
	font-weight: 500;
}
.bx-intro-main{
	padding: 0 24px;
}

/* 个人简介 */
.personnel-simple-intro-modal .bx-intro-main{
	padding: 24px 24px 53px;
	color: #333333;
}
.personnel-simple-intro-modal .bx-intro-main p{
	margin-bottom: 14px;
}
/* 公司简介 */
.company-intro-modal .bx-intro-main{
	padding: 24px 24px 39px;
}
.company-intro-modal .bx-intro-main p{
	margin-bottom: 14px;
}
/* 保险产品  */
.insurance-pro-modal .bx-intro-main{
	padding: 32px 0 52px;
}
.more-info{
	display: block;
	height: 48px;
	line-height: 48px;
	color: #42bad0;
	position: absolute;
	top: 0;
	right: 24px;
}
.insurance-pro-block{
	width: 384px;
	margin: 0 24px;
	float: left;
}
.insurance-pro-intro img{
	display: block;
	width: 144px;
	height: 144px;
	float: left;
}
.insurance-pro-intro dl{
	width: 216px;
	padding-top: 12px;
	float: right;	
}
.insurance-pro-intro dt{
	width: 216px;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	margin-bottom: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.insurance-pro-intro dd{
	line-height: 28px;
	font-size: 14px;
	color: #999999;
}
.insurance-pro-intro dd p{
	display: inline-block;
	color: #333333;
}
.insurance-pro-special{
	width: 100%;
	height: 42px;
	margin-top: 24px;
	overflow: hidden;
	line-height: 21px;
	font-size: 14px;
	color: #999999;
}
/*保险问答 */
.insurance-qa-modal .bx-intro-main{
	padding: 18px 24px 12px;
}
.insurance-qa-modal .bx-intro-main dl{
	width: 840px;
	margin-bottom: 24px;
	font-size: 14px;
}
.insurance-qa-modal .bx-intro-main dt{
	height: 32px;
	position: relative;
}
.insurance-qa-modal .bx-intro-main dt p{
	line-height: 32px;
	padding-left: 24px;
	color: #333333;
	background: url('./img/ask.png') left center no-repeat;
}
.insurance-qa-modal .bx-intro-main dt span{
	height: 32px;
	line-height: 32px;
	position: absolute;
	top: 0;
	right: 0;
	color: #999999;
}
.insurance-qa-modal .bx-intro-main dd{
	width: 816px;
	height: 32px;
	line-height: 32px;
	padding-left: 24px;
	color: #999999;
	background: url('./img/spa.png') left center no-repeat;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 咨询&案例  */
.info-case-block .bx-intro-modal{
	width: 432px;
	float: left;
	font-size: 14px;
}
.info-case-block .bx-intro-main{ 
	padding: 18px 24px 36px;
}
.info-case-block .info-case-item{
	height: 40px;
}
.info-case-block .info-case-item i{
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 12px 8px 0 0;
}
.information-case-modal .info-case-item i{
	background: url('./img/info-gray.png') center center no-repeat;
}
.safe-case-modal .info-case-item i{
	background: url('./img/case-gray.png') center center no-repeat;
}
.info-case-block .info-case-item a{
	display: block;
	width: 236px;
	height: 40px;
	line-height: 40px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333333;
}
.info-case-block .info-case-item span{
	display: block;
	height: 40px;
	line-height: 40px;
	float: right;
	color: #999999;
}
.information-case-modal{
	margin-right: 24px;
}


/* 认证成就 */
.approve-modal .bx-intro-main{
	padding: 18px 24px 24px;
	font-size: 14px;
	color: #333333;
}
.personnel-license-item{
	height: 40px;
	line-height: 40px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.approve-info-item{
	height: 40px;
}
.approve-info-item i{
	display: block;
	float: left;
	width: 16px;
	height: 18px;
	margin-top: 11px;
	background: url('./img/approve.png') no-repeat;
}
.approve-info-item p{
	width: 208px;
	height: 40px;
	line-height: 40px;
	margin-left: 12px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.approve-info-item p span{
	margin: 0 6px;
	color: #42bad0;
}

.icon-approve{
	background-position: 0 -78px!important;
}
.icon-linke{
	background-position: 0 -54px!important;
}
.icon-question-gray{
	background-position: 0 0!important;
}
.icon-bill{
	background-position: 0 -27px!important;
}

/* 视频了解 */
.video-find-modal .bx-intro-main{
	padding: 24px;
}
.video-find-modal .bx-intro-main dl{
	width: 208;
	margin: 24px auto 0;
	line-height: 21px;
	font-size: 14px;
	color: #333333;
}
.video-find-modal .bx-intro-main dt{
	width: 100%;
	height: 21PX;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.video-find-modal .bx-intro-main dd{
	text-align: center;
}


/* 立即咨询  */
.advisory-modal .bx-intro-main{
	padding: 24px;
}
.advisory-modal form{
	width: 240px;
	margin-bottom: 26px;
}
.full-inp{
	width: 224px;
	height: 38px;
	padding-left: 14px;
	margin-bottom: 8px;
	line-height: 38px;
  	border: solid 1px #dcdcdc;
}
.full-sub{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
  	background-color: #42bad0;
  	color: #ffffff;
	border: none;
}
.full-textarea{
	width: 224px;
	height: 70px;
	padding-left: 14px;
	margin-bottom: 8px;
	line-height: 35px;
  	border: solid 1px #dcdcdc;
  	resize: none;
  	display: block;
}
.advisory-modal .bx-intro-main li{
	width: 217px;
	height: 28px;
	line-height: 28px;
	padding-left: 23px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #666666;
	background: url('./img/icon-1.png') no-repeat left center;
}
.advisory-modal .bx-intro-main li span{ 
	margin: 0 6px;
	color: #42bad0;	
}

/* 立即提问  */
.ask-question-modal .bx-intro-main{
	padding: 24px;
}
.ask-question-modal form{
	width: 240px;
	margin-bottom: 14px;
}
.ask-question-show{
	height: 16px;
	line-height: 16px;
	text-align: center;
	color: #333333;
}
.ask-question-show span{
	margin: 0 6px;
	font-weight: 600;
  	color: #42bad0;
}

/* 签单增员 */
.bill-add-modal .bx-intro-main{
	padding: 18px 24px 36px;
}
.bill-add-list{
	width: 100%;
}
.bill-add-list li {
    height: 40px;
    font-size: 14px;
}