body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1431px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-20px;
  top:98px;
  width:1471px;
  height:604px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:604px;
}
#u1 {
  position:absolute;
  left:2px;
  top:294px;
  width:1467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:478px;
  top:130px;
  width:152px;
  height:40px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
