body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:18px;
  width:220px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:98px;
  top:52px;
  width:113px;
  height:29px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:530px;
  top:70px;
  width:100px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:860px;
  top:70px;
  width:100px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:750px;
  top:70px;
  width:100px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:610px;
  top:70px;
  width:100px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:990px;
  top:70px;
  width:100px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:144px;
  width:230px;
  height:86px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:86px;
}
#u15 {
  position:absolute;
  left:2px;
  top:35px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:223px;
  width:230px;
  height:107px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:107px;
}
#u17 {
  position:absolute;
  left:2px;
  top:46px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:20px;
  top:330px;
  width:230px;
  height:100px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:14px;
  top:480px;
  width:236px;
  height:210px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:210px;
}
#u21 {
  position:absolute;
  left:2px;
  top:97px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:20px;
  top:430px;
  width:230px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:270px;
  top:144px;
  width:901px;
  height:432px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:432px;
}
#u25 {
  position:absolute;
  left:2px;
  top:208px;
  width:897px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:250px;
  top:620px;
  width:911px;
  height:550px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:550px;
}
#u27 {
  position:absolute;
  left:2px;
  top:267px;
  width:907px;
  visibility:hidden;
  word-wrap:break-word;
}
