body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:18px;
  width:220px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:98px;
  top:52px;
  width:113px;
  height:29px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:610px;
  top:70px;
  width:100px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:860px;
  top:70px;
  width:100px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:750px;
  top:70px;
  width:100px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:990px;
  top:70px;
  width:100px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:11px;
  top:128px;
  width:287px;
  height:181px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:181px;
}
#u13 {
  position:absolute;
  left:2px;
  top:82px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:319px;
  width:286px;
  height:77px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:77px;
}
#u15 {
  position:absolute;
  left:2px;
  top:30px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:406px;
  width:289px;
  height:57px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:57px;
}
#u17 {
  position:absolute;
  left:2px;
  top:20px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:316px;
  top:145px;
  width:840px;
  height:435px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:435px;
}
#u19 {
  position:absolute;
  left:2px;
  top:210px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:351px;
  top:590px;
  width:829px;
  height:330px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:330px;
}
#u21 {
  position:absolute;
  left:2px;
  top:157px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:38px;
  top:480px;
  width:233px;
  height:55px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:55px;
}
#u23 {
  position:absolute;
  left:2px;
  top:20px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
