
<div class="bx-footer">
        <!--友情链接-->
    {% if request.path == "/" %}
        <div class="bx-footer-links">
            <h2>友情链接</h2>
            <div class="bx-footer-links-content clf">
                <a href="http://www.datebao.com/" target="_blank">大特保</a>
                <a href="http://www.17doubao.com/" target="_blank">豆包网</a>
                <a href="http://www.700du.cn" target="_blank">700度</a>
                <a href="http://www.baoxian.com" target="_blank">宝网</a>
                <a href="http://www.fangxinbao.com" target="_blank">放心保</a>
                <a href="http://www.changan.com" target="_blank">常安网</a>
                <a href="http://www.lb100.com" target="_blank">乐保网</a>
                <a href="http://www.bx58.com" target="_blank">保险58</a>
                <a href="http://www.life-sky.net" target="_blank">保险站</a>
                <a href="http://www.okbsc.com" target="_blank">ok保</a>
                <a href="http://www.axbxw.com" target="_blank">爱心保</a>
                <a href="http://insurance.cnfol.com/" target="_blank">中金在线</a>
                <a href="http://www.okbao.com/" target="_blank">ok保险网</a>
                <a href="http://iask.sina.com.cn/c/159.html" target="_blank">新浪保险</a>
                <a href="http://www.inins.com" target="_blank">智慧保险网</a>
                <a>友链：youlian@bao361.cn</a>
            </div>
        </div>
    {% endif %}
        <!--版权-->
        <div class="bx-footer-copyright">
            <div class="bx-footer-copyright-content">
                <p>
                    © 2017 bao361.cn（保险管家）郑州新佳安网络科技有限公司 版权所有  备案号：豫ICP备17006962号-1
                </p>
{#                <p>#}
{#                    地址：郑州市郑东新区商都路与通泰路交叉口商都世贸中心C座512号 电话：0755-86160888#}
{#                </p>#}
                <div class="clf">
                    <a href=""><img src="/static/imgs/bx-footer-partner-01.png" alt=""></a>
                    <a href=""><img src="/static/imgs/bx-footer-partner-02.png" alt=""></a>
                    <a href=""><img src="/static/imgs/bx-footer-partner-03.png" alt=""></a>
                    <a href=""><img src="/static/imgs/bx-footer-partner-04.png" alt=""></a>
                    <a href=""><img src="/static/imgs/bx-footer-partner-05.png" alt=""></a>
                    <a href=""><img src="/static/imgs/bx-footer-partner-06.png" alt=""></a>
                </div>
            </div>
        </div>

    </div>