
<div class="fot">
    <div class="fot-content">
        <div>
             Copyright © 2017 Bao361.cn All Rights Reserved 郑州新佳安网络科技有限公司 版权所有   备案号：粤ICP备14079927号
        </div>
{#        <div>#}
{#             座机：0755－86160888#}
{#        </div>#}
        <div style="padding-top: 15px">
            <img src="/static/imgs/0_0000.png">
            <img src="/static/imgs/0_0001.png">
            <img src="/static/imgs/0_0002.png">
            <img src="/static/imgs/0_0003.png">
            <img src="/static/imgs/0_0004.png">
            <img src="/static/imgs/0_0005.png">



        </div>
    </div>
</div>