<div class="bx-header">
        <div class="bx-header-content clf">
            <!--logo-->
            <a href="/"><img src="/static/imgs/bx-logo1.png" alt="logo" class="bx-logo" width="362" height="58"></a>
            <!--公用nav-->
            <div class="bx-nav">
                <ul class="bx-nav-content clf">
                    <li {% if request.path == "/" %}class="active" {% endif %}><a href="/">首页</a></li>
                    <li {% if request.path|slice:":5" == "/ask/" %}class="active" {% endif %}><a href="/ask/">保险问吧</a></li>
                    <li {% if request.path|slice:":9" == "/product/" %}class="active" {% endif %}><a href="/product/">保险产品</a></li>
                    <li {% if request.path|slice:":10" == "/dailiren/" %}class="active" {% endif %}><a href="/dailiren/">保险顾问</a></li>
                    <li {% if request.path|slice:":7" == "/zixun/" or request.path|slice:":6" == "/news/" %}class="active" {% endif %}><a href="/news/">保险资讯</a></li>
                    <li><a href="#">VIP管家</a></li>

                </ul>
            </div>
            <!--搜索-->
            <form class="ui-form bx-search" method="post" action="/product/search/redirect/" novalidate="novalidate" data-widget-cid="widget-0">
                {% csrf_token %}
                <div class="ui-form-item">
                    <div class="bx-header-search-box">
                        <input name="keyword" id="search-kw" type="text" placeholder="请输入..." data-widget-cid="widget-1" data-explain="">
                        <img id="search-btn" src="/static/imgs/bx-header-search-icon.png" title="搜索">
                    </div>
                    <div class="ui-form-explain"></div>
                </div>
            </form>
        </div>
    </div>