{% extends "base.html" %}
{% block title %}
    保险管家_专业的第三方保险平台
{% endblock %}
{% load atm %}
{% block css %}
    {% atmcss www/index:index %}
    <style>
      .friendbrand{
          width: 167px;


      }
    </style>
{% endblock %}
{% block content %}
<div id="Index">
        <div class="index-banner-menu">
            <!--banner-->
            <!--图-->
            <div class="index-banner-content">
                <div class="regular slider">
                    <div class="slider-item">
                        <!--<img src="http://static.gcimg.net/i/201702/0oWqpug0OL.jpg" alt="" />-->
                        <div class="slider-helper">
                            <img src="/static/imgs/0oWqpug0OL.jpg" alt="" />
                        </div>
                    </div>
                    <div class="slider-item">
                        <!--<img src="http://static.gcimg.net/i/201702/KivbuGbK37.jpg" alt="" />-->
                        <div class="slider-helper">
                            <img src="/static/imgs/KivbuGbK37.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <!--other-->
            <div class="index-banner-middle">
                <!--小按钮-->
                <div class="index-banner-ctrl">
                    <span class="index-banner-ctrl-item active"></span><span class="index-banner-ctrl-item"></span>
                </div>
                <!--menu-->
                <div class="index-menu">
                    <ul>
                        <li>
                            <div class="index-menu-Thumbnail">
                                <h3>给爱人和自己</h3>
                                <p>
                                    <a href="/product/search/0-25-0/" target="_blank">定期寿险</a>
                                    <a href="/product/search/0-26-0/" target="_blank">终身寿险</a>
                                    <a href="/product/search/0-27-0/" target="_blank">旅游保险</a>
                                </p>
                                <p>
                                    <a href="/product/search/0-28-0/" target="_blank">健康保险</a>
                                    <a href="/product/search/0-29-0/" target="_blank">投连险</a>
                                    <a href="/product/search/0-30-0/" target="_blank">万能保险</a>
                                </p>
                            </div>
                            <div class="index-menu-extend">
                                <h4>给爱人和自己</h4>
                                <p>
                                    <a href="/product/search/0-25-0/" target="_blank">定期寿险      </a>
                                    <span>|</span>
                                    <a href="/product/search/0-26-0/" target="_blank">终身寿险</a>
                                    <span>|</span>
                                    <a href="/product/search/0-27-0/" target="_blank">旅游保险</a>
                                    <span>|</span>
                                    <a href="/product/search/0-28-0/" target="_blank">健康保险</a>
                                    <span>|</span>
                                    <a href="/product/search/0-29-0/" target="_blank">投连险</a>
                                </p>
                                <p>
                                    <a href="/product/search/15-41-0/" target="_blank">青年意外伤害险</a>
                                    <span>|</span>
                                    <a href="/product/search/15-43-0/" target="_blank">青年健康医疗险</a>
                                    <span>|</span>
                                    <a href="/product/search/15-45-0/" target="_blank">养老险</a>
                                    <span>|</span>
                                    <a href="/product/search/15-46-0/" target="_blank">人寿险</a>
                                </p>
                                <p>
                                    <a href="/product/search/16-47-0/" target="_blank">意外伤害险</a>
                                    <span>|</span>
                                    <a href="/product/search/16-48-0/" target="_blank">特大疾病险</a>
                                    <span>|</span>
                                    <a href="/product/search/16-49-0/" target="_blank">中年养老险</a>
                                    <span>|</span>
                                    <a href="/product/search/16-51-0/" target="_blank">中年寿险</a>
                                </p>
                                <p>
                                    <a href="/product/search/18-56-0/" target="_blank">儿童意外伤害险</a>
                                    <span>|</span>
                                    <a href="/product/search/18-59-0/" target="_blank">儿童教育金险</a>
                                    <span>|</span>
                                    <a href="/product/search/18-60-0/" target="_blank">儿童分红险</a>
                                </p>
                                <p>
                                    <a href="/product/search/19-62-0/" target="_blank">婴儿意外伤害险</a>
                                    <span>|</span>
                                    <a href="/product/search/19-64-0/" target="_blank">婴儿两全险</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="index-menu-Thumbnail">
                                <h3>关爱孩子</h3>
                                <p>
                                    <a href="/product/search/18-59-0/" target="_blank">少儿教育金险</a>
                                    <a href="/product/search/18-56-0/" target="_blank">少儿意外伤害险</a>
                                </p>
                            </div>
                            <div class="index-menu-extend">
                                <h4>关爱孩子</h4>
                                <p>
                                    <a href="/product/search/18-56-0/" target="_blank">少儿意外伤害险</a>
                                    <span>|</span>
                                    <a href="/product/search/18-57-0/" target="_blank">少儿重大疾病险</a>
                                    <span>|</span>
                                    <a href="/product/search/18-58-0/" target="_blank">少儿健康医疗险</a>
                                    <span>|</span>
                                    <a href="/product/search/18-59-0/"  target="_blank">少儿教育金险</a>
                                    <span>|</span>
                                    <a href="/product/search/18-60-0/" target="_blank">儿童分红险</a>
                                </p>
                                <p>
                                    <a href="/product/search/20-66-0/" target="_blank">学生意外伤害险</a>
                                    <span>|</span>
                                    <a href="/product/search/20-68-0/" target="_blank">教育金险</a>
                                    <span>|</span>
                                    <a href="/product/search/20-69-0/" target="_blank">学平险</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="index-menu-Thumbnail">
                                <h3>孝敬父母</h3>
                                <p>
                                    <a href="/product/search/17-52-0/" target="_blank">老年人意外险</a>
                                    <a href="/product/search/17-55-0/" target="_blank">老年人重大疾病险</a>
                                </p>
                            </div>
                            <div class="index-menu-extend">
                                <h4>孝敬父母</h4>
                                <p>
                                    <a href="/product/search/17-52-0/" target="_blank">老年人意外伤害险</a>
                                    <span>|</span>
                                    <a href="/product/search/17-53-0/" target="_blank">老年人健康医疗险</a>
                                    <span>|</span>
                                    <a href="/product/search/17-54-0/" target="_blank">老年人旅游险</a>
                                    <span>|</span>
                                    <a href="/product/search/17-55-0/" target="_blank">老年人重大疾病险</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="index-menu-Thumbnail">
                                <h3>宝宝关怀</h3>
                                <p>
                                    <a href="/product/search/19-62-0/" target="_blank">婴儿意外伤害险</a>
                                    <a href="/product/search/19-64-0/" target="_blank">婴儿两全险</a>
                                </p>
                            </div>
                            <div class="index-menu-extend">
                                <h4>宝宝关怀</h4>
                                <p>
                                    <a href="/product/search/16-62-0/" target="_blank">婴儿意外伤害险</a>
                                    <span>|</span>
                                    <a href="/product/search/16-63-0/" target="_blank">婴儿重大疾病险</a>
                                    <span>|</span>
                                    <a href="/product/search/16-64-0/" target="_blank">婴儿两全险</a>
                                    <span>|</span>
                                    <a href="/product/search/16-65-0/" target="_blank">婴儿财险</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--量身定制-->
                <div class="index-customized">
                    <h2>量身定制</h2>
                    <form id="customized-form" class="ui-form" action="/dingzhi/add/" novalidate="novalidate" data-widget-cid="widget-2" method="post">
                        {% csrf_token %}
                        <div class="ui-form-item">
                            <div class="form-control clf">
                                <label for="name">
                            称呼
                        </label>
                                <div class="form-control-ele">
                                    <input type="text" id="name" name="name" placeholder="称呼" data-widget-cid="widget-3" data-explain="">
                                </div>
                            </div>
                            <div class="ui-form-explain"></div>
                        </div>
                        <div class="ui-form-item">
                            <div class="form-control clf">
                                <label for="cellphone">
                            手机
                        </label>
                                <div class="form-control-ele">
                                    <input type="text" id="cellphone" name="contact" placeholder="手机" data-widget-cid="widget-4" data-explain="">
                                </div>
                            </div>
                            <div class="ui-form-explain"></div>
                        </div>
                        <div class="ui-form-item">
                            <div class="form-control clf">
                                <label for="time-frame">
                            联系时段
                        </label>
                                <div class="form-control-ele">
                                    <select name="type" id="time-frame" data-widget-cid="widget-5" data-explain="" >
                                <option value="0">联系时段</option>
                            <option value="1">早上</option>
                            <option value="2">中午</option>
                            <option value="3">晚上</option>
                            </select>
                                </div>
                            </div>
                            <div class="ui-form-explain"></div>
                        </div>
                        <button type="submit" class="submit">提交</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="index-container">
            <!--保险产品-->
            <div class="index-product">
                <h2>保险产品</h2>
                <div class="clf">
                    <div class="left">
                        <!--特色-->
                        <div class="feature"></div>
                        <!--链接-->
                        <div class="links">
                            <a href="/product/search/21-33-0/" class="links-btn" target="_blank">意外险</a>
                            <a href="/product/search/21-36-0/" class="links-btn" target="_blank">儿童险</a>
                            <a href="/product/search/21-31-0/" class="links-btn" target="_blank">养老险</a>
                            <a href="/product/search/21-40-0/" class="links-btn" target="_blank">车金险</a>
                            <a href="/product/search/21-34-0/" class="links-btn" target="_blank">医疗险</a>
                            <a href="/product/search/21-38-0/" class="links-btn" target="_blank">两全险</a>
                        </div>
                    </div>
                    <div class="right">
                        <a href="" class="right-item" target="_blank">
                            <img src="/static/imgs/index-product-right-01.png">
                        </a>
                        <a href="" class="right-item" target="_blank">
                            <img src="/static/imgs/index-product-right-02.png">
                        </a>
                        <a href="" class="right-item" target="_blank">
                            <img src="/static/imgs/index-product-right-03.png">
                        </a>
                        <a href="" class="right-item" target="_blank">
                            <img src="/static/imgs/index-product-right-04.png">
                        </a>
                    </div>
                </div>
            </div>
            <!--保险问吧-->
            <div class="index-ask">
                <h2>保险问吧</h2>
                <div class="clf">
                    <div class="left">
                        <!--特色-->
                        <div class="feature"></div>
                        <!--链接-->
                        <div class="links">
                            <a href="/ask/" class="links-btn" target="_blank">热门问题</a>
                            <a href="/ask/" class="links-btn" target="_blank">最新提问</a>
                            <a href="/ask/" class="links-btn" target="_blank">最新回复</a>
                        </div>
                    </div>
                    <div class="right">
                        {% for ask in hot_ask|slice:":5" %}
                        <div class="right-item">
                            <h4>
                                <span class="ask-icon">问</span>
                                <a href="/ask/detail/{{ ask.askid }}.html">{{ ask.ask_content }}</a>
                            </h4>
                            {% with last_ans=ask.get_last_ans %}
                                {% if last_ans %}
                                    {% with last_ans_user=last_ans.get_user %}
                            <p>
                                <a href="/ask/detail/{{ ask.askid }}.html" class="color" target="_blank">{% if last_ans_user.real_name %}{{ last_ans_user.real_name }}{% else %}{{ last_ans_user.username|slice:":4" }}*{% endif %}：</a>
                                <a href="/ask/detail/{{ ask.askid }}.html" class="right-item-answer" target="_blank">{{ last_ans.ans_content }}</a>
                            </p>
                                    {% endwith %}
                                {% endif %}
                            {% endwith %}
                            <div class="answer-number">
                                <b>{{ ask.get_answer_count }}</b>回答
                            </div>
                        </div>
                        {% endfor %}



                    </div>
                </div>
            </div>



            <!--保险顾问-->
            <div class="index-adviser">
                <h2>保险顾问</h2>
                <div class="clf">
                    <div class="left">
                        <!--特色-->
                        <div class="feature"></div>
                        <!--链接-->
                        <div class="links">
                            <a href="/dailiren/search/0-54/" class="links-btn" target="_blank">平安</a>
                            <a href="/dailiren/search/0-63/" class="links-btn" target="_blank">中国太平</a>
                            <a href="/dailiren/search/0-19/" class="links-btn" target="_blank">国寿</a>
                            <a href="/dailiren/search/0-69/" class="links-btn" target="_blank">新华保险</a>
                            <a href="/dailiren/search/0-42/" class="links-btn" target="_blank">泰康人寿</a>
                            <a href="/dailiren/search/0-46/" class="links-btn" target="_blank">昆仑健康</a>
                        </div>
                    </div>
                    <div class="right">
                        {% for profile in hot_proxy_profile|slice:":8" %}
                            {% with puser=profile.get_user %}
                        <a class="right-item" href="/dailiren/detail/{{ puser.uid }}.html" target="_blank">
                            <img src="{% if puser.imgurl %}{{ puser.imgurl.url }}{% else %}/static/imgs/default-user.png{% endif %}">
                            <h4>{% if puser.real_name %}{{ puser.real_name }}{% else %}{{ puser.username|slice:":4" }}*{% endif %}</h4>
                            <p>{{ profile.get_short_comname }}</p>
                        </a>
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
<div class="index-adviser">
                <h2>合作品牌</h2>
                <div class="clf">
                    <div>
                        {% for i in  friend_company|slice:":14" %}
                        <img src="{{ i.img.url }}"  class="friendbrand" alt="{{ i.comname }}">
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block js %}
    {% atmjs www/index:index %}
{% endblock %}