{% extends "base.html" %}
{% block title %}
    保险管家_专业的第三方保险平台
{% endblock %}
{% load atm %}
{% block css %}
    {% atmcss www/index:index %}
{% endblock %}
{% block content %}
 <div id="Index">
        <div class="index-banner-menu">
            <div class="index-menu"></div>
            <div class="index-banner"></div>
        </div>
        <div class="index-container">
            <!--保险产品-->
            <div class="index-product">
                <h2>保险产品</h2>
                <div class="clf">
                    <div class="left">
                        <!--特色-->
                        <div class="feature"></div>
                        <!--链接-->
                        <div class="links">
                            <a href="" class="links-btn">意外险</a>
                            <a href="" class="links-btn">少儿险</a>
                            <a href="" class="links-btn">养老险</a>
                            <a href="" class="links-btn">重疾险</a>
                            <a href="" class="links-btn">医疗险</a>
                            <a href="" class="links-btn">精选</a>
                        </div>
                    </div>
                    <div class="right">
                        <a href="" class="right-item">
                            <img src="/static/imgs/index-product-right-01.png">
                        </a>
                        <a href="" class="right-item">
                            <img src="/static/imgs/index-product-right-02.png">
                        </a>
                        <a href="" class="right-item">
                            <img src="/static/imgs/index-product-right-03.png">
                        </a>
                        <a href="" class="right-item">
                            <img src="/static/imgs/index-product-right-04.png">
                        </a>
                    </div>
                </div>
            </div>
            <!--保险问吧-->
            <div class="index-ask">
                <h2>保险问吧</h2>
                <div class="clf">
                    <div class="left">
                        <!--特色-->
                        <div class="feature"></div>
                        <!--链接-->
                        <div class="links">
                            <a href="" class="links-btn">热门问题</a>
                            <a href="" class="links-btn">最新提问</a>
                            <a href="" class="links-btn">最新回复</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="right-item">
                            <h4>
                                <span class="ask-icon">问</span>
                                <a href="">我是一位女士，想买保险，目前有社保，想咨询一下关于意外我是一位女士，想买保险，目前有社保，想咨询一下关于意外</a>
                            </h4>
                            <p>
                                <a href="" class="color">刘华：</a>
                                <a href="" class="right-item-answer">女士，您好： 您大概多大年纪呢？建议您了解下中国人寿的建议您了解下中国人寿的建议您了解下中国人寿的建议您了解下中国人寿的</a>
                            </p>
                            <div class="answer-number">
                                <b>36</b>回答
                            </div>
                        </div>
                        <div class="right-item">
                            <h4>
                                <span class="ask-icon">问</span>
                                <a href="">我是一位女士，想买保险，目前有社保，想咨询一下关于意外我是一位女士，想买保险，目前有社保，想咨询一下关于意外</a>
                            </h4>
                            <p>
                                <a href="" class="color">刘华：</a>
                                <a href="" class="right-item-answer">女士，您好： 您大概多大年纪呢？建议您了解下中国人寿的建议您了解下中国人寿的建议您了解下中国人寿的建议您了解下中国人寿的</a>
                            </p>
                            <div class="answer-number">
                                <b>36</b>回答
                            </div>
                        </div>
                        <div class="right-item">
                            <h4>
                                <span class="ask-icon">问</span>
                                <a href="">我是一位女士，想买保险，目前有社保，想咨询一下关于意外我是一位女士，想买保险，目前有社保，想咨询一下关于意外</a>
                            </h4>
                            <p>
                                <a href="" class="color">刘华：</a>
                                <a href="" class="right-item-answer">女士，您好： 您大概多大年纪呢？建议您了解下中国人寿的建议您了解下中国人寿的建议您了解下中国人寿的建议您了解下中国人寿的</a>
                            </p>
                            <div class="answer-number">
                                <b>36</b>回答
                            </div>
                        </div>
                        <div class="right-item">
                            <h4>
                                <span class="ask-icon">问</span>
                                <a href="">我是一位女士，想买保险，目前有社保，想咨询一下关于意外我是一位女士，想买保险，目前有社保，想咨询一下关于意外</a>
                            </h4>
                            <p>
                                <a href="" class="color">刘华：</a>
                                <a href="" class="right-item-answer">女士，您好： 您大概多大年纪呢？建议您了解下中国人寿的建议您了解下中国人寿的建议您了解下中国人寿的建议您了解下中国人寿的</a>
                            </p>
                            <div class="answer-number">
                                <b>36</b>回答
                            </div>
                        </div>
                        <div class="right-item">
                            <h4>
                                <span class="ask-icon">问</span>
                                <a href="">我是一位女士，想买保险，目前有社保，想咨询一下关于意外我是一位女士，想买保险，目前有社保，想咨询一下关于意外</a>
                            </h4>
                            <p>
                                <a href="" class="color">刘华：</a>
                                <a href="" class="right-item-answer">女士，您好： 您大概多大年纪呢？建议您了解下中国人寿的建议您了解下中国人寿的建议您了解下中国人寿的建议您了解下中国人寿的</a>
                            </p>
                            <div class="answer-number">
                                <b>36</b>回答
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clf">
                <!--最新需求-->
                <div class="index-new-demand">
                    <h2>最新需求</h2>
                    <div class="clf">
                        <div class="left">
                            <!--特色-->
                            <div class="feature"></div>
                            <!--链接-->
                            <div class="links">
                                <a href="" class="links-btn">登录</a>
                            </div>
                        </div>
                        <div class="right">
                            <a class="right-item" href="">
                                <span class="ask-icon">问</span>我想给儿子买一份分红保险，投保人为父亲，被保险人为儿子，我想给儿子买一份分红保险，投保人为父亲，被保险人为儿子，
                            </a>
                            <a class="right-item" href="">
                                <span class="ask-icon">问</span>我想给儿子买一份分红保险，投保人为父亲，被保险人为儿子，我想给儿子买一份分红保险，投保人为父亲，被保险人为儿子，
                            </a>
                            <a class="right-item" href="">
                                <span class="ask-icon">问</span>我想给儿子买一份分红保险，投保人为父亲，被保险人为儿子，我想给儿子买一份分红保险，投保人为父亲，被保险人为儿子，
                            </a>
                            <a class="right-item" href="">
                                <span class="ask-icon">问</span>我想给儿子买一份分红保险，投保人为父亲，被保险人为儿子，我想给儿子买一份分红保险，投保人为父亲，被保险人为儿子，
                            </a>
                            <a class="right-item" href="">
                                <span class="ask-icon">问</span>我想给儿子买一份分红保险，投保人为父亲，被保险人为儿子，我想给儿子买一份分红保险，投保人为父亲，被保险人为儿子，
                            </a>
                            <a class="right-item" href="">
                                <span class="ask-icon">问</span>我想给儿子买一份分红保险，投保人为父亲，被保险人为儿子，我想给儿子买一份分红保险，投保人为父亲，被保险人为儿子，
                            </a>

                            <div class="right-other">
                                我也有需求，<a href="" class="color">立即提交</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--最新资讯-->
                <div class="index-news">
                    <h2>最新资讯</h2>
                    <div class="index-news-list">
                        <a class="index-news-item" href="">
            和谐健康宝贝护理保险上市
        </a>
                        <a class="index-news-item" href="">
            和谐健康宝贝护理保险上市
        </a>
                        <a class="index-news-item" href="">
            和谐健康宝贝护理保险上市
        </a>
                        <a class="index-news-item" href="">
            和谐健康宝贝护理保险上市
        </a>
                        <a class="index-news-item" href="">
            和谐健康宝贝护理保险上市
        </a>
                        <a class="index-news-item" href="">
            和谐健康宝贝护理保险上市
        </a>
                        <a class="index-news-item" href="">
            和谐健康宝贝护理保险上市
        </a>
                    </div>
                </div>
            </div>

            <!--保险顾问-->
            <div class="index-adviser">
                <h2>保险顾问</h2>
                <div class="clf">
                    <div class="left">
                        <!--特色-->
                        <div class="feature"></div>
                        <!--链接-->
                        <div class="links">
                            <a href="" class="links-btn">河南</a>
                            <a href="" class="links-btn">北京</a>
                            <a href="" class="links-btn">上海</a>
                            <a href="" class="links-btn">广东</a>
                            <a href="" class="links-btn">福建</a>
                            <a href="" class="links-btn">全国</a>
                        </div>
                    </div>
                    <div class="right">
                        <a class="right-item" href="">
                            <img src="/static/imgs/test-avatar.png">
                            <h4>名字</h4>
                            <p>从业10年</p>
                        </a>
                        <a class="right-item" href="">
                            <img src="/static/imgs/test-avatar.png">
                            <h4>名字</h4>
                            <p>从业10年</p>
                        </a>
                        <a class="right-item" href="">
                            <img src="/static/imgs/test-avatar.png">
                            <h4>名字</h4>
                            <p>从业10年</p>
                        </a>
                        <a class="right-item" href="">
                            <img src="/static/imgs/test-avatar.png">
                            <h4>名字</h4>
                            <p>从业10年</p>
                        </a>
                        <a class="right-item" href="">
                            <img src="/static/imgs/test-avatar.png">
                            <h4>名字</h4>
                            <p>从业10年</p>
                        </a>
                        <a class="right-item" href="">
                            <img src="/static/imgs/test-avatar.png">
                            <h4>名字</h4>
                            <p>从业10年</p>
                        </a>
                        <a class="right-item" href="">
                            <img src="/static/imgs/test-avatar.png">
                            <h4>名字</h4>
                            <p>从业10年</p>
                        </a>
                        <a class="right-item" href="">
                            <img src="/static/imgs/test-avatar.png">
                            <h4>名字</h4>
                            <p>从业10年</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block js %}
    {% atmjs www/index:index %}
{% endblock %}