{% load atm %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
{% atmcss work/user:login %}
                <style>
        .fot{
            width: 100%;
            background: #272723;
        }
        .fot-content{
            margin: 0 auto;
            width: 1200px;
            padding: 20px 0;
            color: #939392;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="Login">
        <div class="login-body clf">
            <div class="logo">
                <a href="/">
                    <img src="/static/imgs/logo.png" alt="logo" width="56" height="56">
                </a>
            </div>
            <div class="fl">
                <img src="/static/imgs/login-left.jpg" alt="欢迎登录保险管家" width="320" height="320">
            </div>
            <div class="fr">
                <form class="ui-form"
                      action="/login/?next={% if next_to %}{{ next_to|urlencode }}{% endif %}{% if role %}&role={{ role }}{% endif %}" method="post">
                    <h2>登录保险管家</h2>
                    {% csrf_token %}
                    <div class="ui-form-item">
                        <input id="username" name="username" class="ui-input" placeholder="手机" type="text" />
                        <div class="ui-form-explain"></div>
                    </div>

                    <div class="ui-form-item">
                        <input id="password" name="password" type="password" class="ui-input" placeholder="密码" />
                        <div class="ui-form-explain"></div>
                    </div>
                    <div class="clf">
                        <label>
                        <input type="checkbox" name="auto">
                        自动登录
                    </label>
                        <div class="fr">
                            <a href="/register/{% if role == "proxy" %}?role=proxy{% endif %}" class="color">注册保险管家账号</a> |
                            <a href="/forgotpwd/" class="color">忘记密码？</a>
                        </div>
                    </div>

                    <div class="ui-form-item">
                        <button type="submit">登录</button>
                    </div>
                </form>
                <div style="padding-top: 22px;height: 28px;">
                    <div style="display:inline-block;font-size: 14px;color: #777;line-height:28px">第三方快速登陆</div>
                    <div style="display: inline-block;padding-left: 15px">
                        <a  target="_blank"  href="https://graph.qq.com/oauth2.0/authorize?client_id=101389034&response_type=token&scope=all&redirect_uri=http%3A%2F%2Fwww.bao361.cn%2Fget_qq_token%3Fnext%3D{{ '/'|urlencode:'' }}%26role%3Dbuy">
                            <div style="display: inline-block;width: 28px;height: 28px ;background-image: url(/static/imgs/3login1.png);background-position: -84px -28px;line-height:28px">&nbsp;</div>
                        </a>
                    </div>
                    <div style="display: inline-block;padding-left: 3px">
                        <a  target="_blank"  href="https://api.weibo.com/oauth2/authorize?client_id=3099094881&response_type=code&redirect_uri=http://www.bao361.cn/get_weibo_token">
                            <div style="display: inline-block;width: 28px;height: 28px ;background-image: url(/static/imgs/3login1.png);background-position: -56px -28px;line-height:28px">&nbsp;</div>
                        </a>
                    </div>
                    <div style="display: inline-block;padding-left: 3px">
                        <a  target="_blank"  href="https://oauth.taobao.com/authorize?spm=a219a.7629140.0.0.eleuK3&response_type=code&client_id=23696677&redirect_uri=http://www.bao361.cn/get_taobao_token%3Fnext%3D{{ '/'|urlencode:'' }}%26role%3Dbuy">
                            <div style="display: inline-block;width: 28px;height: 28px ;background-image: url(/static/imgs/3login1.png);background-position: 0px -28px;line-height:28px">&nbsp;</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% atmjs work/user:login %}
{#{% include "footer.html" %}#}
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4fb507679a761b71bf05f23d18ed249c";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>

</html>