<!--公用top-->
<div class="bx-top">
    <div class="clf">
        <span>关注我们</span>
        <div class="fr">
            <!--未登录-->
            {% if not request.myuser %}
            <div class="bx-top-not-login">
                <a href="/login/" class="color">登录</a> |
                <a href="/register/" class="color">注册</a>
            </div>
            {% else %}
            <!--已登录-->
            <div class="bx-top-login">
                欢迎来到保险管家，<a href="/work/" class="color">{{ request.myuser.username }}</a> |
                [<a href="/logout/" class="color">退出</a>]
            </div>
            {% endif %}
        </div>
    </div>
</div>