
<div >
    <div style="width: 100%;background-color: #f5f5f5;margin-bottom: 0px;height: 36px;border-bottom: 1px solid #dddddd">
        <div style="width: 1200px;color: #666;font-size: 12px;margin: 0 auto;line-height: 36px ">
            你好，欢迎来到保险管家！
            {% if not request.myuser %}

                <a href="/login/" class="color " target="_blank">登录</a> |
                <a href="/register/" class="color" target="_blank">注册</a>

            {% else %}
            <!--已登录-->
                <a href="/work/" class="color" target="_blank" style="padding: 0 7px">{{ request.myuser.get_namecontent }}</a>
{#                {% if request.myuser.usertype ==  2%}#}
{#                    {% if request.myuser_profile.certifi_status == 2 %}#}
{#                <a style="color:#42bad0;border:1px solid #42bad0;width:40px;border-radius:2px;font-weight:bold" href="/work_proxy/renzheng/">#}
{#                                    已认证#}
{#                                </a>#}
{#                        {% else %}#}
{#                <a style="color:#60696b;border:1px solid #60696b;width:40px;border-radius:2px;font-weight:bold" href="/work_proxy/renzheng/">#}
{#                                    未认证#}
{#                                </a>#}
{#                        {% endif %}#}
{##}
{#                    {% endif %}#}
                <a href="/work/all_msg/" target="_blank" class="color" style="padding: 0 7px">消息<em style="padding-left: 2px">{{ request.myuser.get_unread_messages.count }}</em></a>
                <a href="/logout/" class="color" target="_blank">退出</a>

            {% endif %}
        <span style="float: right;padding-left: 5px;padding-right: 5px;"><a href="/about/company/" style="color: #666" >公司介绍</a></span>
        <span style="float: right;color: #cccccc">|</span>
        <span style="float: right;padding-left: 5px;padding-right: 5px"><a href="/about/" style="color: #666" >关于我们</a> </span>
        <span style="float: right;color: #cccccc">|</span>
        <span style="float: right;padding-left: 5px;padding-right: 5px"><a href="/" style="color: #666" >回到首页</a> </span>
        </div>

    </div>

</div>