
<div >
    <div style="width: 100%;background-color: #f5f5f5;margin-bottom: 5px;height: 36px;border-bottom: 1px solid #dddddd">
        <div style="width: 1200px;color: #666;font-size: 12px;margin: 0 auto;line-height: 36px ">
            你好，欢迎来到保险管家！
            {% if not request.myuser %}

                <a href="/login/" class="color " target="_blank">登录</a> |
                <a href="/register/" class="color" target="_blank">注册</a>

            {% else %}
            <!--已登录-->
                <a href="/work/" class="color" target="_blank">{{ request.myuser.username }}</a> |
                [<a href="/logout/" class="color" target="_blank">退出</a>]

            {% endif %}
        <span style="float: right;padding-left: 5px;padding-right: 5px;"><a href="#" style="color: #666" target="_blank">公司简介</a></span>
        <span style="float: right;color: #cccccc">|</span>
        <span style="float: right;padding-left: 5px;padding-right: 5px"><a href="#" style="color: #666" target="_blank">联系我们</a> </span>
        </div>

    </div>

</div>